<a href="https://colab.research.google.com/github/tluistorres/Cursos/blob/main/Pandas_transforma%C3%A7%C3%A3o_e_manipula%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![img_conhecendo_biblioteca.jpg]()


![img_datasicence.png]()

# Aula 01 - Pandas:conhecendo a biblioteca

Com o Trello aberto, analisaremos o primeiro card da coluna "A fazer". Note que se chama "Importar e conhecer a base de dados" e nele constam duas tarefas:

importar os dados;
explorar as características gerais dos dados.
Passaremos este card para a coluna "Em andamento" e partiremos para a realização das tarefas.

Para isso, usaremos um notebook no Google Colab, chamado de "projeto_imobiliaria.ipynb". Nele, deixamos alguns títulos que correspondem às tarefas que faremos no decorrer do curso. Ele foi disponibilizado para download na atividade anterior a este vídeo.

Utilizaremos a ferramenta Pandas para desenvolver todo o nosso projeto. Trata-se de uma biblioteca para análise de dados em Python, que possui diversos recursos para trabalharmos com dados. Com ela, podemos limpar, manipular, analisar e visualizar os dados.

O primeiro passo será importar a biblioteca Pandas e apelidá-la de pd:

# "projeto_imobiliaria.ipynb"

In [1]:
# O primeiro passo será importar a biblioteca Pandas e apelidá-la de pd:

import pandas as pd

# Em seguida, faremos a importação da base. Para isso, usaremos a url que consta em nosso Trello:

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela está no formato CSV, podemos utilizar a função read_csv() para realizar a leitura:


pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

Perceba que possui a estruturação de uma tabela, mas não está bem formatada, pois os dados constam em uma só coluna, separados por ponto e vírgula.

Arquivos do tipo CSV têm a vírgula como separador, embora possamos encontrar separadores diferentes, como o ponto e vírgula, que é o caso da nossa base.

A função read_csv() considera, por padrão, que o arquivo lido tem a vírgula como separador. Quando este não é o caso, é necessário especificar, na função, que o arquivo possui um separador diferente:

Na célula seguinte, passaremos novamente o comando de leitura, informando sep, ou seja, o separador:

In [3]:
pd.read_csv(url, sep=';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [4]:
# Agora, podemos salvar esta tabela em uma variável dados e chamá-la para nos certificar que foi salva corretamente:

dados = pd.read_csv(url, sep=';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

Note que temos uma linha com reticências, seguida das linhas finais do dataframe. Isso ocorre porque nossa base possui muitos registros. Sendo assim, o que podemos fazer para melhorar essa visualização inicial é solicitar somente os primeiros registros usando o método .head().

In [5]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

Vale ressaltar, porém, que podemos escolher a quantidade de registros que devem ser retornados. Para isso, basta passar o número como parâmetro, por exemplo, dados.head(3) para 3 registros.

Há outro método que também traz uma quantidade específica de linhas, com a diferença que parte dos registros finais. Trata-se do método .tail():

In [6]:
dados.tail()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

Assim como o método anterior, este também nos permite definir a quantidade de registros passando um número como parâmetro.

Para finalizar a importação dos dados, vamos verificar o tipo da variável dados usando a função type():

In [7]:
type(dados)

pandas.core.frame.DataFrame

Isso significa que a tabela gerada a partir da leitura dos dados é uma estrutura de dados chamada dataframe. É importante conhecermos essa estrutura porque a utilizaremos no decorrer do nosso projeto!

Agora que finalizamos a importação dos dados, podemos voltar ao card que está em andamento e marcar a tarefa "Importar os dados".

# Para saber mais: biblioteca Pandas

Pandas é uma biblioteca Python de código aberto para análise de dados. Ela fornece ferramentas poderosas e fáceis de usar para manipulação e análise de dados em formatos de tabelas, como CSV, Excel, SQL e muitos outros.

Com Pandas, podemos carregar dados de várias fontes em um objeto chamado DataFrame, que é uma tabela de dados semelhante a uma planilha do Excel. Em seguida, podemos trabalhar com esses dados, realizando operações como filtrar, ordenar, agregar e transformar.

A biblioteca Pandas é amplamente utilizada em aplicações de ciência de dados, aprendizado de máquina, finanças e análise de negócios. Ela é uma ferramenta essencial para profissionais que trabalham com dados, como analistas de dados, cientistas de dados e engenheiros de dados.

Em resumo, a biblioteca Pandas é uma ferramenta de alta capacidade para análise de dados em Python, que permite trabalhar com dados em diferentes formatos e realizar várias operações para manipular, analisar e visualizar os dados de maneira eficiente e produtiva.

Para conhecer mais detalhes dessa biblioteca, recomendo um artigo de Pandas muito completo que temos aqui na Alura:

Pandas: o que é, para que serve e como instalar

*   Pandas: o que é, para que serve e como instalar

O Pandas fornece diversas funções para importar e exportar dados em diferentes formatos. As principais funções do Pandas para importar dados são as seguintes:

*   read_csv( ): Essa função é usada para ler arquivos CSV (Comma Separated Values), que são arquivos de texto que contêm dados separados por vírgulas. É possível passar diversos parâmetros para personalizar a leitura do csv, como delimitador, cabeçalho, tipo de encoding, entre outros.

*   read_excel( ): Essa função é usada para ler arquivos do Excel (.xls ou .xlsx) e criar um DataFrame a partir dos dados.

*   read_json( ): Essa função é usada para ler arquivos JSON (JavaScript Object Notation), que são arquivos de texto que contêm dados em formato de objeto JavaScript.

*   read_html( ): Essa função é usada para ler tabelas HTML, que são estruturas de dados organizadas em formato de tabela em uma página da web.

*   read_sql(): Essa função é usada para ler dados de um banco de dados relacional, como o MySQL, PostgreSQL e SQL Server.

O Pandas é capaz de importar dados de diferentes formas, permitindo ajustar parâmetros como a consulta, o nome da tabela e o tipo de dados das colunas.

-------------------------------------------------------------------------

A segunda e última tarefa do card "Importar e conhecer a base de dados" é explorar as características gerais dos dados. Então, é isso que faremos agora!

De volta ao nosso notebook, é importante lembrar que se ficarmos um tempo sem acessá-lo ou o fecharmos e o abrirmos novamente, precisamos executar novamente todas as células anteriores para que o processo de importação da base seja realizado. Para isso, basta ir em Ambiente de execução > Executar tudo.

# Começaremos explorando a quantidade de linhas e colunas que nossa base possui:

In [8]:
dados.shape

(32960, 9)

Como retorno, obtemos a tupla (32960, 9), com dois elementos. O primeiro corresponde à quantidade de linhas; o segundo, à de colunas. Sendo assim, temos 32960 linhas e 9 colunas.

Veremos, agora, quais são as colunas:

In [9]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

# Perceba que nos retornou o nome das 9 colunas:

1.   Tipo: tipo de imóvel;

1.   Bairro: bairro em que está localizado;

3.   Quartos: número de quartos;

4.   Vagas: número de vagas de garagem;

5.   Suites: número de suítes;

6.   Area: área do imóvel em metros quadrados;

7.   Valor: valor do imóvel;

8.   Condominio: valor mensal do condomínio;

9.   IIPTU: valor do IPTU.

Com isso, podemos inferir o tipo de dado de cada coluna, mas é importante nos certificar para garantir que estejam coerentes. Há várias formas de acessar esta tipagem, mas, aqui, usaremos o método info():

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

Note que temos acesso ao nome de cada coluna, a quantidade de dados não nulos existente na coluna em questão e o tipo de dado.

As colunas "Tipo" e "Bairro", por exemplo, são object; "Quartos", "Vagas" e "Area" são int; e "Valor", "Condominio" e "IPTU" são float.

Agora, vamos visualizar pelo menos uma coluna de cada tipo de dado (objeto, inteiro e float) para entender o que são.

Comecemos pela coluna "Tipo", que possui dados do tipo object. Para selecionar uma única coluna, basta passar o nome do dataframe e o nome da coluna entre colchetes:

In [11]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

Trata-se de uma series, uma estrutura dos Pandas que é mais simples que um dataframe, já que é composta apenas por índices e valores.

Perceba, então, que os dados da coluna "Tipo", são strings, ou seja, dados textuais.

Vejamos uma coluna dos tipos int e float. Faremos a consulta das duas juntas, da seguinte forma:

In [12]:
dados[['Quartos', 'Valor']]

       Quartos   Valor
0            1  1700.0
1            2  7000.0
2            0  5200.0
3            1   800.0
4            1   800.0
...        ...     ...
32955        0   800.0
32956        3  1800.0
32957        2  1400.0
32958        2  3000.0
32959        0  6500.0

[32960 rows x 2 columns]

Notamos, então, que os dados do tipo int são números inteiros, que é o caso da coluna "Quarto". Já os dados do float, da coluna "Valor", são decimais.

Conseguimos explorar diversas características da nossa base de dados, vimos a quantidade de linhas e colunas, quais são essas colunas e a tipagem de dados de cada uma. Feito isso, podemos marcar a segunda tarefa do card como feita e movê-lo para aba de concluído!

Finalizamos a tarefa de importação e exploração da nossa base de dados. Podemos, então, partir para a primeira demanda solicitada pelo time de Machine Learning!

# Desafio: bora praticar?

Para praticar os métodos aprendidos no decorrer dessa aula e também aprender novos, vamos realizar algumas análises utilizando um arquivo csv diferente: alunos.csv.

1) Importe o arquivo alunos.csv e armazene seu conteúdo em um DataFrame Pandas.

2) Visualize as primeiras 7 linhas do DataFrame e as 5 últimas.

3) Confira a quantidade de linhas e colunas desse DataFrame.

4) Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna.

Extra: Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc). Dica: pesquise pelo método describe.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Você pode baixá-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das próximas aulas.

In [13]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)

dados.head(10)

     Nome  Idade  Notas  Aprovado
0     Ary     20    7.5      True
1     Ana     18    NaN     False
2   Cátia     27    2.5     False
3   Denis     18    5.0     False
4    Beto     21   10.0      True
5   Bruna     23    NaN     False
6    Dara     21    7.0      True
7  Carlos     19    6.0      True
8   Alice     35    5.6     False
9   Vitor     28    NaN     False

In [14]:
dados.tail()

      Nome  Idade  Notas  Aprovado
13   Mirla     25    9.0      True
14   Paulo     37    NaN     False
15  Mylena     29    7.0      True
16   Lucas     33    NaN     False
17   Nadia     34    8.0      True

Tanto o atributo shape quanto o método info nos retornam a quantidade de linhas e colunas de um DataFrame. O info traz algumas informações adicionais, então, vamos utilizar aqui o `shape:

In [15]:

dados.shape

(18, 4)

Nesse momento, podemos utilizar o .columns para visualizar as colunas presentes no DataFrame. Além disso, também podemos selecionar colunas específicas utilizando os colchetes "[ ]". E para visualizar os tipos de dados presentes em cada coluna, dessa vez optei por utilizar um atributo chamado dtypes

In [16]:
# visualizando os nomes das colunas

dados.columns

Index(['Nome', 'Idade', 'Notas', 'Aprovado'], dtype='object')

In [17]:
#selecionando múltiplas colunas

dados[['Idade', 'Notas']]

    Idade  Notas
0      20    7.5
1      18    NaN
2      27    2.5
3      18    5.0
4      21   10.0
5      23    NaN
6      21    7.0
7      19    6.0
8      35    5.6
9      28    NaN
10     21    NaN
11     24    4.5
12     26    9.5
13     25    9.0
14     37    NaN
15     29    7.0
16     33    NaN
17     34    8.0

In [18]:
# conferindo os tipos de dados de cada coluna

dados.dtypes

Nome         object
Idade         int64
Notas       float64
Aprovado       bool
dtype: object

In [19]:
dados.describe()

           Idade      Notas
count  18.000000  12.000000
mean   25.500000   6.800000
std     6.070662   2.204953
min    18.000000   2.500000
25%    21.000000   5.450000
50%    24.500000   7.000000
75%    28.750000   8.250000
max    37.000000  10.000000

O método describe( ) é uma das funções mais úteis do Pandas para a análise exploratória de dados. Essa função é usada para calcular algumas estatísticas descritivas básicas dos dados em um DataFrame ou em uma coluna específica de um DataFrame.

_________________________________________________________________________
Nos últimos vídeos, importamos a nossa base de dados e fizemos algumas explorações inicias, para conhecermos as características gerais dessa base. Em todo o processo, utilizamos a biblioteca Pandas.

Concluímos as tarefas do primeiro card do nosso Trello. Agora, vamos partir para as demandas do time de Machine Learning.

Observação: Todas as atividades que realizaremos para o time de Machine Learning servem, basicamente, para preparar a base de dados. Assim, o time poderá utilizá-la na criação de um modelo de precificação de imóveis.

Nossas análises e tratamentos serão baseadas nessa informação!

Estamos no nosso Trello, "Pandas: conhecendo a biblioteca". Na coluna "A fazer", vamos partir para o card de "Análise exploratória dos dados". Ao abri-lo, encontramos uma descrição mais detalhada do que se trata essa etapa.

Basicamente, podemos dizer que a Análise Exploratória de Dados é o momento em que buscamos entender algumas informações mais específicas da nossa base de dados, além de entender sua estrutura.

Começamos a fazer um pouco dessa exploração nos vídeos anteriores e agora podemos realizá-la de forma mais direcionada, tentando responder algumas perguntas que façam sentido com o nosso contexto, como as que estão no card:

Quais os valores médios de aluguel por tipo de imóvel?
Qual o percentual de cada tipo de imóvel na nossa base de dados?
Essas perguntas nos guiarão na nossa análise exploratória. Vamos fechar o card e como iniciaremos a atividade, podemos arrastá-lo para a coluna de "Em andamento". Agora, retornaremos ao notebook do curso, no Google Colab.

Estamos na seção de "Análise exploratória de dados". A primeira pergunta que responderemos é: qual o valor médio de aluguel por tipo de imóvel?

Para respondê-la, vamos visualizar rapidamente as primeiras linhas da nossa base de dados, rodando o seguinte comando:

In [20]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)

In [21]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela está no formato CSV, podemos utilizar a função read_csv() para realizar a leitura:


pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [22]:
# Agora, podemos salvar esta tabela em uma variável dados e chamá-la para nos certificar que foi salva corretamente:

dados = pd.read_csv(url, sep=';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [23]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

Para responder o valor médio de aluguel por imóvel, percebemos que as colunas que mais importarão são as de "Tipo" e "Valor", que se referem justamente ao tipo e preço dos aluguéis.

# Método mean( )

O Pandas possui um método chamado mean () que nos permite calcular a média de um conjunto de dados. Vamos começar calculando a média dos valores da coluna "Valor". Passaremos dados, selecionaremos a coluna 'Valor', e adicionaremos .mean( ):

In [24]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

# Como ela está no formato CSV, podemos utilizar a função read_csv() para realizar a leitura:

pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [25]:
dados = pd.read_csv(url, sep=';')

In [26]:
dados['Valor'].mean()

np.float64(12952.659715265761)

Recebemos, como retorno, a média de valor de todos os valores da coluna. Não é exatamente essa informação que queremos, mas, sim, a média de preços de aluguéis, isto é, de valores agrupados por tipo: a média de valores de aluguéis de apartamentos, casas e assim sucessivamente.

Para isso, temos que agrupar nossos dados conforme o tipo de imóvel. No Pandas existe o método groupby( ), que realiza esse agrupamento por alguma coluna específica do dataframe.

Vamos utilizá-lo e entender como funciona.

# Método groupby( )

Passaremos o comando dados.groupby( ) numa nova célula. Nos parênteses, informaremos o nome da coluna a partir da qual desejamos agrupar os dados do nosso dataframe: 'Tipo'. Então:

In [27]:
dados.groupby('Tipo')

O método groupby( ) funciona em conjunto com outras funções do Pandas, como a sum de soma ou a mean que é a média. Com essas funções, podemos fazer agregações conforme o agrupamento que realizamos.

Aplicaremos a função de média, afinal, é isso que queremos calcular quando o agrupamento for feito. Após o groupby( ), vamos passar .mean( ).

In [29]:
dados.groupby('Tipo').mean()

# Ocorrerá erro.

TypeError: agg function failed [how->mean,dtype->object]

Nesse ponto, é importante nos atentarmos a um detalhe. Analisando rapidamente as colunas do nosso dataframe, notaremos que temos tanto colunas numéricas quanto colunas de texto. No código acima, fizemos um agrupamento e aplicamos um método de agregação, o mean( ). .

Se você estiver usando a versão 1 da biblioteca Pandas, automaticamente esse método de agregação será aplicado unicamente nas colunas numéricas. No entanto, se você estiver utilizando da versão 2 em diante, esse comportamento não será o mesmo. Nesse caso, ao fazer o agrupamento e aplicar o método de agregação, ele será aplicado a todas as colunas, incluindo as de texto. Isso pode gerar um erro.

Para evitar que isso aconteça, podemos especificar um parâmetro no método mean( ) (e nos outros métodos de agregação também): numeric_only=True.

Com isso, especificamos que a média será calculada apenas nas colunas numéricas e não teremos nenhum erro. Então:

In [ ]:
dados.groupby('Tipo').mean(numeric_only=True)

Ao executar essa célula, estamos agrupando nosso dataframe dados conforme a coluna Tipo e calculando a média de valores conforme esse agrupamento.

O retorno é um dataframe onde os índices são os tipos de imóveis presentes na nossa base de dados, porque agrupamos nossos dados a partir dessa coluna.

As outras colunas possuem a média por tipo de imóvel de valores referentes à coluna em questão do dataframe original.

Por exemplo, os imóveis do tipo "Apartamento" possuem uma média de 2.48 quartos, uma média de 1.23 vagas de garagem e assim sucessivamente. A coluna que realmente importa para nós é a de "Valor", pois é ela que apresenta o valor médio do aluguel por tipo de imóvel.

Os imóveis do tipo "Apartamento" possuem uma média de preço de aluguel de R$4744 (quatro mil, setecentos e quarenta e quatro reais). Também podemos visualizar as médias de preço dos outros tipos de imóveis do dataframe.

# Melhorando a visualização do dataframe

Podemos selecionar apenas a coluna de valor no dataframe, já que é apenas ela que nos interessa no momento. Vamos copiar o código em que realizamos o agrupamento e calculamos a média. Podemos colá-lo na célula seguinte e selecionar a coluna de valor abrindo colchetes antes do método mean( ) e passando seu nome: ['Valor'].

Com isso, estamos selecionando uma coluna numérica específica antes da aplicação do método mean( ). Isso significa que esse método não será mais aplicado a todas as colunas do dataframe, mas apenas na coluna selecionada.

Então, não precisamos mais utilizar o parâmetro numeric_only=True no método. Podemos apagá-lo, ainda que deixá-lo não vá gerar nenhum erro.

Então, teremos:

In [ ]:
dados.groupby('Tipo')['Valor'].mean()

O retorno desse comando apresenta apenas os valores da coluna "Valor" no formato de series. Como são muitas informações, a visualização não ficou tão boa.

Podemos transformar essa visualização em um dataframe. Para isso, basta copiar o código acima, colar na próxima célula e passar colchetes duplos no momento de seleção da coluna valor: [['Valor']].

Além disso, para deixar a visualização ainda mais interessante, podemos ordenar os dados em ordem crescente: a menor média de valor de aluguel para a maior. Para isso, adicionamos um .sort_values( ) após o mean( ), passando como parâmetro a coluna "Valor" como critério para ordenar os dados:

# Adicionamos um .sort_values( ) após o mean( ), passando como parâmetro a coluna "Valor" como critério para ordenar os dados

In [ ]:
dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

A visualização em dataframe ficou bem melhor! Além disso, os dados da coluna "Valor" estão ordenados da menor média de preços de aluguéis para a maior.

Como temos muitos dados, a visualização ainda não é a ideal. Ficar analisando cada um dos números conforme o tipo é trabalhoso. Para facilitar, podemos plotar um gráfico utilizando esse dataframe.

# Criando um gráfico

O primeiro passo é, numa nova célula, salvar nosso dataframe em uma variável que chamaremos de df_preco_tipo. Ela receberá nosso código anterior:

In [ ]:
df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values("Valor")

# Em seguida digitar o código.

df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

df_preco_tipo.plot(kind='barh', figsize=(14, 10), color ='blue');

Nesse código, nós chamamos a variável df_preco_tipo que está com o nosso dataframe. Em seguida adicionamos .plot( ), método utilizado para plotar gráficos com a biblioteca Pandas, e passamos alguns parâmetros:



1.  O primeiro é o kind, onde especificamos o tipo de gráfico que desejamos plotar. No nosso caso, escolhemos um gráfico de barras horizontais, 'barh'.

2.  O segundo é o figsize, onde especificamos o tamanho do gráfico que desejamos plotar.

3.  O terceiro e último é o color, onde especificamos a cor das barras do gráfico. No nosso caso, escolhemos 'blue', isto é, azul.

O retorno é de um gráfico em que o eixo y possui os tipos de imóveis da nossa base de dados e o eixo x, a média do valor do aluguel (o eixo x está graduado de 0 a 500 mil, com intervalos de 100 mil).

Existe uma variedade de imóveis (eixo y), desde prédio inteiro, que apresenta o valor mais caro, até quitinete, com o valor mais baixo.

Analisando o gráfico, percebemos que os preços de aluguéis médios variam muito de um tipo de imóvel para outro. O motivo disso é que nossa base de dados possui tanto imóveis residenciais, como casas, apartamentos e quitinetes, quanto imóveis comerciais, como hotel, conjunto comercial/sala, dentre outros.

Se estamos preparando essa base de dados para que seja usada pelo time de Machine Learning para criação de um modelo de precificação de imóveis, não faz sentido deixar imóveis residenciais e comerciais na mesma base, principalmente tendo valores tão distintos. Isso pode prejudicar o aprendizado do modelo.

Considerando essa questão e também que o maior interesse da empresa imobiliária são imóveis residenciais, podemos remover os imóveis comerciais da base de dados.

-------------------------------------------------------------------------

# Para saber mais: entendendo o groupby

O método groupby do Pandas permite agrupar e resumir dados de um DataFrame, com base em um ou mais critérios. Esses critérios podem ser variáveis numéricas ou categóricas, como colunas ou índices do DataFrame.

A ideia por trás do groupby é dividir os dados em grupos com base nos critérios selecionados e, em seguida, aplicar uma operação a esses grupos. Essa operação pode ser uma função de agregação, como soma, média, contagem, desvio padrão, entre outras, ou mesmo uma operação personalizada definida pela pessoa usuária.

Esse método possui diversos parâmetros, alguns deles são:

  1. by: esse é o parâmetro mais comum e é usado para especificar a coluna ou colunas que queremos agrupar. Como argumento dele, podemos passar o nome de uma coluna ou uma lista de nomes de colunas;

  2. axis: utilizamos esse parâmetro para especificar o eixo ao longo do qual queremos agrupar. O valor padrão dele é 0, o que significa que as linhas serão agrupadas. Se quisermos agrupar as colunas, devemos definir esse parâmetro como 1;

  3. sort: esse parâmetro é um booleano (True ou False) que indica se os grupos devem ser ordenados pelo valor da coluna de agrupamento. O valor padrão é True;

  4. dropna: utilizamos esse parâmetro para controlar se os valores ausentes (NaN) serão excluídos ou não durante o processo de agrupamento. O valor padrão é True.


Vamos analisar um exemplo simples utilizando o groupby.

Suponha que temos o seguinte DataFrame:

Código do DataFrame:

In [ ]:
import pandas as pd

df = pd.DataFrame({
   'Animal': ['Cachorro', 'Gato', 'Elefante', 'Cachorro', 'Gato', 'Elefante'],
   'Cor': ['Preto', 'Branco', 'Cinza', 'Marrom', 'Preto', 'Marrom'],
   'Quantidade': [2, 3, 1, 4, 2, 2]
})
df

Aqui nós temos um DataFrame com dados referentes a alguns animais. Vamos utilizar o groupby para agrupar os dados pelo tipo de animal e realizarmos a soma da coluna "Quantidade" para conferirmos o total de cada tipo de animal:

In [ ]:
df.groupby('Animal').sum(numeric_only=True)

Podemos também usar o método groupby para agrupar os dados por múltiplas colunas. Por exemplo, vamos agrupar pelo tipo do animal e também pela cor e realizar a soma da coluna "Quantidade":

In [ ]:
df.groupby(['Animal', 'Cor'])[['Quantidade']].sum()

Assim, podemos observar que o groupby é um método muito útil para situações em que precisamos dividir os dados em grupos para analisar o comportamento desses grupos. Utilizando esse método, nós podemos responder perguntas específicas sobre nossos conjuntos de dados.

Caso queira aprender mais sobre esse método, deixo a sugestão de dois artigos:

  1. Pandas GroupBy: Your Guide to Grouping Data in Python;
  2. Pandas Groupby: 5 métodos para conhecer em Python.
  
Ambos os artigos estão em inglês, mas podem ser facilmente traduzidos utilizando a extensão de tradução do Google Chrome.

# Removendo os imóveis comerciais

Estamos com o notebook do curso aberto e começaremos analisando os tipos únicos de imóveis presentes na nossa base de dados.

Anteriormente, selecionamos a coluna "Tipo" utilizando colchetes. Desta vez, adicionaremos um ponto antes da palavra e não usaremos colchetes: .Tipo.

Para visualizarmos os tipos únicos presentes nessa coluna, podemos usar o método .unique( ).

In [ ]:
dados.Tipo.unique()

O método .unique( ) nos retornou uma lista com todos os valores únicos existentes na coluna "Tipo". Ou seja, todos os tipos de imóveis que possuímos na base de dados.

Para não precisar copiar um por um dos imóveis comerciais dessa lista e acelerar o processo, já temos a lista dos tipos de imóveis que desejamos remover pronta. Basta colá-la na próxima célula:

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala',
                      'Prédio Inteiro', 'Loja/Salão',
                      'Galpão/Depósito/Armazém',
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

A lista se chama imoveis_comerciais e contém todos os imóveis que não são casa ou apartamento. Nós a executamos para salvar seu conteúdo.

O próximo passo é remover cada um dos registros da nossa base de dados em que o tipo do imóvel seja alguns destes presentes na coluna.

Para fazer essa seleção, utilizaremos um método do Pandas chamado query( ). Esse método nos permite selecionar linhas específicas de um dataframe com base em uma condição específica.

A condição que passamos para o método query( ) é sempre no formato de uma expressão, entre aspas. Vamos selecionar todas as linhas do nosso dataframe em que o tipo de imóvel seja algum dos presentes na lista imoveis_comerciais.

Para isso, nos parênteses do método query( ), entre aspas, adicionaremos a expressão @imoveis_comerciais in Tipo:

Com isso, estamos pedindo para que o query( ) selecione apenas as linhas da nossa base de dados onde, na coluna "Tipo", existem apenas componentes da nossa lista imoveis_comerciais. Usamos o @ antes do nome da variável porque ele é exigido ao passar uma variável numa expressão.

In [ ]:
dados.query('@imoveis_comerciais in Tipo')

O retorno é um dataframe com uma quantidade menor de linhas. Na coluna "Tipo" exitem apenas imóveis dos tipos que estão em imoveis_comerciais.

Mas, o que queremos é o oposto disso. Nós selecionamos os imóveis comerciais e desejamos retirá-los da nossa base de dados, selecionando, portanto, apenas os imóveis dos tipos residenciais. Ou seja, linhas em que a coluna "Tipo" não contenha nenhum dos componentes da nossa lista imoveis_comerciais.

Para fazer isso, basta copiar o código do .query( ), colar na célula abaixo e, antes do in, adicionar o termo not.

In [ ]:
dados.query('@imoveis_comerciais not in Tipo')

Temos exatamente o oposto da seleção anterior. É possível notar que agora, na coluna "Tipo", temos apenas imóveis do tipo residencial como quitinete, casa e apartamento.

Também podemos conferir que a seleção está correta pela quantidade de linhas: antes tínhamos 9800 linhas, correspondentes aos imóveis que desejávamos remover da base de dados. Agora, temos em torno de 23 mil.

Vamos salvar a seleção em uma nova variável, que chamaremos de df. A declaremos na próxima célula:

In [ ]:
df = dados.query('@imoveis_comerciais not in Tipo')

Para conferir se o salvamento ocorreu corretamente é só visualizar os dados iniciais do dataframe, utilizando .head( ) na linha de baixo da célula:

In [ ]:
df = dados.query('@imoveis_comerciais not in Tipo')
df.head()

Também podemos conferir se os imóveis da coluna "Tipo" são apenas os residenciais. Para isso, utilizaremos novamente o método .unique( ), mas trocando dados por df:

In [ ]:
df.Tipo.unique()

É possível conferir que temos apenas imóveis do tipo: quitinete, casa, apartamento, casa de condomínio, flat, casa de vila, loft e studio. Temos bem menos tipos de imóveis na nossa base de dados agora que removemos os de tipo comercial.

Por fim, vamos plotar o gráfico outra vez. Assim, conseguiremos analisar se a média de preço não está variando tanto quanto antes. Vamos retornar ao gráfico que plotamos anteriormente, copiar seu código, colar em outra célula e substituir a variável dados por df:

In [ ]:
df_preco_tipo = df.groupby("Tipo")[["Valor"]].mean().sort_values("Valor")

df_preco_tipo.plot(kind='barh', figsize=(14, 4), color ='purple');

O gráfico está bastante diferente do anterior! É possível notar que ainda existe uma grande variação em relação à média de preço de imóveis, no entanto, essa variação é bem menor.

Agora podemos retornar ao nosso Trello, acessar o card de "Análise exploratória dos dados" que está na coluna "Em andamento" e marcar a primeira tarefa como concluída, pois já respondemos a primeira pergunta: quais os valores médios de aluguel por tipo de imóvel?

Além disso, identificamos um problema e resolvemos. Falta responder a segunda pergunta: o percentual de cada tipo de imóvel presente na base de dados.

-------------------------------------------------------------------------

Observação: Na nova atualização da biblioteca Pandas, a coluna de valores proporcionais, quando no dataframe, será nomeada automaticamente como proportions. Com essa mudança, é necessário alterar também a coluna selecionada para a criação da variável df_percentual tipo:

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('proportion')

Estamos no card de "Análise exploratória dos dados" (coluna "Em andamento" do trello). Já respondemos a primeira pergunta e agora partiremos para a segunda: qual o percentual de cada tipo de imóvel presente na base de dados?

Ou seja, precisamos descobrir quais tipos de imóveis estão mais ou menos presentes na nossa base de dados.

# Qual o percentual de cada tipo de imóvel na nossa base de dados?

Vamos começar visualizando novamente os tipos únicos existentes na nossa coluna "Tipo". Estamos trabalhando com a variável df.

In [ ]:
df.Tipo.unique()

Os tipos únicos são: quitinete, casa, apartamento, casa de condomínio, flat, casa de vila, loft e studio. Precisamos contar quantas vezes cada um desses tipos aparecem na nossa base de dados. No Pandas, existe um método que faz justamente isso: o values_counts ( ).

# Método value_counts( )

Vamos selecionar mais uma vez a coluna "Tipo" e contar os valores.

In [ ]:
df.Tipo.value_counts()

O resultado é uma series, onde os índices são tipos de imóveis que estão na base de dados e em valores, temos quantas vezes cada um desses tipos aparecem na nossa base de dados.

Como a nossa pergunta é qual o percentual de cada tipo de imóvel, precisamos visualizar essas quantidades em percentuais. Isso é simples! Basta acrescentar um parâmetro no value_counts( ) chamado normalize=True.

In [ ]:
df.Tipo.value_counts(normalize=True)

O retorno apresenta as mesmas informações, mas no formato de percentual. Para melhorarmos essa visualização, vamos realizar o mesmo processo que fizemos anteriormente para transformar o series em dataframe.

# Método to_frame( ) - converte uma series em um dataFrame.

Vamos copiar o código com value_counts( ). Desta vez, utilizaremos o método to_frame( ) que converte uma series em um dataframe.

In [ ]:
df.Tipo.value_counts(normalize=True).to_frame()

A series foi convertida em dataframe. A coluna de valores foi nomeada como "Tipo", mas não tem problema, pois se trata apenas de uma visualização.

Vamos ordenar também o nosso dataframe do menor para o maior percentual.

Para isso, adicionaremos .sort_values( ) e passaremos o nome da coluna 'Tipo'.

In [ ]:
df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

Agora, os percentuais estão ordenados do menor para o maior. Porém, sabemos que essa ainda não é a melhor visualização. Vamos criar um gráfico para compararmos esses percentuais de forma mais fácil.

O primeiro passo é salvar o dataframe em uma variável, que chamaremos de df_percentual_tipo.

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

In [ ]:
df_percentual_tipo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

df_percentual_tipo.plot(kind='bar', figsize=(14, 4), color ='green', edgecolor='black',
                        xlabel = 'Tipos', ylabel = 'Percentual');

Passamos df_percentual_tipo, nome da variável onde salvamos o dataframe. Depois, .plot( ), para plotarmos o gráfico. Nos parênteses, indicamos que estamos plotando um gráfico de barras verticais. Com figsize definimos o tamanho, com color a cor das barras (verde).

Ainda nos parênteses do .plot( ), passamos dois parâmetros: xlabel, que é o nome do eixo x, e o y_label, que é o nome do eixo y.

O retorno é um gráfico de barras, onde o eixo x corresponde aos tipos únicos que temos na nossa base de dados (da origem para a extremidade positiva): studio; loft; casa de vila; flat; quitinete; casa; casa de condomínio; aparamento.

O eixo y corresponde ao percentual dos tipos da nossa base de dados. Ele está graduado de 0.0 a 0.8, com intervalos de 01.

Analisando o gráfico, podemos notar que os imóveis do tipo apartamento representam a maioria da nossa base de dados: mais de 80% dos dados. Pensando nisso:

# Faz sentido manter os outros tipos de imóveis na nossa base de dados?

Casas e apartamentos do Rio de Janeiro possuem características muito distintas. Consequentemente, os preços dos aluguéis desses imóveis também variam bastante, como notamos na análise anterior.

Considerando isso e que os apartamentos representam a maior parte da nossa base de dados, faz sentido trabalharmos apenas com os imóveis do tipo apartamento.

Então, vamos selecionar apenas os imóveis do tipo apartamento e trabalhar apenas com eles daqui para frente.

# Selecionando apenas os imóveis do tipo apartamento

Nesta etapa, utilizaremos o método query( ) e passaremos a expressão que corresponde à condição que queremos: selecionar as linhas em que, na coluna "Tipo", o imóvel seja do tipo apartamento.

Para isso, vamos indicar o nome da coluna e dizer que ela é igual a apartamento. Sendo que "Apartamento" deve estar entre aspas também.

Como estamos utilizando aspas simples para especificar a condição, dentro dessa condição, quando for necessário usar aspas, temos que utilizar outro tipo de aspas, como as aspas duplas. Isso vale também para o contrário.

Vamos rodar a célula!

In [ ]:
df.query('Tipo == "Apartamento"')

O resultado é um dataframe em que todas as linhas são do tipo apartamento. Vamos salvar esse comando em uma variável df. Também adicionaremos df.head( ) para conferirmos se está correto.

In [ ]:
df = df.query('Tipo == "Apartamento"')
df.head()

 O dataframe foi retornado, apenas com imóveis do tipo apartamento. Assim, finalizamos nossa análise exploratória! Podemos retornar ao trello, concluir a segunda tarefa do nosso card de "Análise exploratória dos Dados" e arrastá-lo para a coluna de "Concluído".

# Para saber mais: alterando os nomes de colunas

Quando trabalhamos com bases de dados, em alguns momentos, pode ser necessário fazermos alterações nos nomes das colunas. Por exemplo, quando criamos o seguinte DataFrame no nosso projeto:

In [ ]:
df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

Podemos notar que a coluna com os percentuais, ficou nomeada como "Tipo". E se quiséssemos mudar o nome dela para "Percentuais"?

Nesse caso, nós podemos utilizar o método rename( ) para mudar o nome dessa coluna. Esse método nos permite especificar um dicionário que associa o nome antigo da coluna ao novo nome que queremos atribuir. Então, vamos fazer isso:

In [ ]:
# Salvando o DataFrame em uma variável

df_exemplo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

# Alterando o nome da coluna "Proportion" para "Percentuais"

df_exemplo.rename(columns={'proportion': 'Percentuais'}, inplace=True)

# Visualizando o DataFrame

df_exemplo

# Desafio: bora praticar?

O time de ML chegou com algumas demandas de última hora para resolvermos nesse momento da análise exploratória. Essas demandas são:

1) Calcular a média de quartos por apartamento;

2) Conferir quantos bairros únicos existem na nossa base de dados;

3) Analisar quais bairros possuem a média de valor de aluguel mais elevadas;

4) Criar um gráfico de barras horizontais que apresente os 5 bairros com as médias de valores de aluguel mais elevadas.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Você pode baixá-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das outras aulas.

Como vamos utilizar a mesma base de dados do nosso projeto, no notebook de resolução dos desafios, eu fiz novamente a importação da nossa base de dados e apliquei as alterações que já realizamos nela até aqui.

Vale ressaltar que em algumas situações podemos utilizar diferentes métodos do Pandas para fazer a mesma coisa. Então, as soluções abaixo não são a única forma de resolver os desafios propostos.

1 - Para calcular a média de quartos, podemos selecionar a coluna de interesse e aplicar o método mean( ):

In [ ]:
df['Quartos'].mean()

2 - Uma forma de conferir quantos bairros únicos existem na base de dados, seria utilizando o método unique( ), que vai nos retornar uma lista com os bairros únicos. E logo em seguida utilizar a função len, para contar quantos elementos existem nessa lista:

In [ ]:
len(df['Bairro'].unique())

Além disso, também podemos utilizar um método do próprio Pandas que já faz a contagem de elementos únicos de uma coluna específica de forma direta. Esse método é o nunique( ):

In [ ]:
df['Bairro'].nunique()

3 - Para analisar quais bairros possuem a média de valor de aluguel mais elevada, nós podemos:

*   agrupar nossa base de dados de acordo com a coluna Bairro;

*   aplicar o método mean;

*   colocar o resultado em um DataFrame e ordená-lo.

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False)

O parâmetro ascending=False é usado na função sort_values( ) para ordenar os valores em ordem decrescente (do maior para o menor).

4 - Como nós queremos criar um gráfico com apenas os 5 bairros que possuem a média de aluguel mais elevada, nós podemos utilizar o .head( ) para selecionar as 5 primeiras linhas do DataFrame que criamos no desafio 3 e salvar isso em uma variável:

In [ ]:
df_bairros = df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False).head()

Em seguida, podemos criar o gráfico:

In [ ]:
df_bairros.plot(kind='barh', figsize=(14,4), color='blue');

# Verificando dados nulos

Abrimos o nosso notebook, e para começar vamos descobrir qual a coluna da nossa base de dados possuem dados nulos usando o método isnull. Para isso, na seção "Lidando com dados nulos" selecionamos a primeira célula e digitamos df.isnull( ) (sendo df o nome do nosso dataframe, a variável). Podemos executar essa célula.

Como retorno, temos um dataframe booleano. Onde temos apenas true e false, sendo que false representa que o dado que está naquela determinada posição não é um dado nulo, já o true representa justamente o contrário, significa que o dado é nulo.

In [ ]:
df.isnull()

Pelo fato do nosso dataframe ser enorme e possuir várias linhas, essa visualização não é a ideal para identificarmos quais colunas possuem dados nulos e quais não possuem.

Para que possamos visualizar isso de forma mais explícita, podemos usar a função sum. Esta soma todos os true e false e nos retorna a quantidade de dados nulos existentes em cada coluna.

Para tal, copiamos a linha de código que fizemos anteriormente: df.isnull( ). E colamos na célula seguinte adicionando .sum( ) na sequência.

Os verdadeiros correspondem ao valor 1, e os falsos ao valor 0. Assim, quando fizermos a soma de todos esses valores, vamos ter o total de valores nulos por coluna.

In [ ]:
df.isnull().sum()

Temos o nome de cada coluna à esquerda, e à direita a quantidade de dados nulos existentes em cada uma delas. Notamos que somente o valor, o condomínio e o IPTU possuem valores nulos. Com isso identificado, precisamos tratar esses dados nulos.

Como as colunas que possuem valores nulos são numéricas, vamos substituir os valores nulos pelo valor zero. Vale ressaltar que nem sempre essa é a melhor abordagem e que esse tratamento de valores nulos sempre irá depender do projeto que estamos trabalhando.

Para aplicar essa substituição, usamos um método chamado de fillna( ). Descendo para a próxima célula, escrevemos df.fillna( ) passando o valor que desejamos substituir os valores nulos. No nosso caso é o número zero, portanto, escrevemos:

In [ ]:
df.fillna(0)

Logo após, executamos essa célula.

Como retorno, obtemos um dataframe com os valores nulos substituídos por zero (não exibimos todas as linhas do retorno):

Entretanto, para aplicarmos essa mudança definitiva no nosso dataframe precisamos atribuir a ele novamente a nossa variável df. Podemos copiar a linha de código da célula anterior e acrescentamos df = antes:

In [ ]:
df = df.fillna(0)

Executamos mais uma vez, e para verificarmos que não há nenhum dado nulo na nossa base de dados, vamos copiar o código que fazemos a soma (que confere a quantidade de valores nulos por coluna) e colamos abaixo da célula de atribuição.

In [ ]:
df.isnull().sum()

Nenhuma das nossas colunas possuem valores nulos. Assim concluímos mais uma etapa do nosso projeto.

Voltando ao Trello, clicamos no card "Tratar valores nulos" e em "Tarefas" selecionamos as caixas de seleção para marcar as tarefas como concluídas.

Tarefas

✓ Verificar a existência de dados nulos
✓ Tratar os dados nulos
Em seguida arrastamos esse card para a coluna "Concluído".

-------------------------------------------------------------------------

# Para saber mais: lidando com dados nulos

Tratar dados nulos em uma base de dados é muito importante porque esses dados faltantes podem interferir diretamente na qualidade das análises e nos resultados obtidos. Quando existem dados nulos em um conjunto de dados, podem ocorrer problemas como viés, redução da acurácia e imprecisão nas informações obtidas.

Além disso, algumas análises e modelos estatísticos não são capazes de lidar com a presença de dados faltantes. Por isso, o tratamento dos dados nulos é fundamental para garantir a confiabilidade e a precisão das análises e decisões tomadas a partir desses dados.

Existem diversas formas de tratar dados nulos com o Pandas. Algumas das principais formas são:

 1. Remover os dados nulos: É possível remover as linhas ou colunas que possuem valores nulos utilizando o método dropna( ) . Esse método remove todas as linhas ou colunas que possuem pelo menos um valor nulo.

 2. Preencher os dados nulos: Utilizando o método fillna( ), podemos preencher os valores nulos com um valor específico. Além disso, também é possível utilizar argumentos específicos do método fillna( ) como o method=”ffill” ou method=”bfill” para preencher os valores nulos com o valor anterior ou posterior, respectivamente.

 3. Interpolar os dados nulos: É possível utilizar o método interpolate( ) para preencher os valores nulos com valores interpolados, ou seja, valores calculados a partir dos valores vizinhos.

É importante escolher a melhor forma de tratar os dados nulos de acordo com a situação específica e o objetivo da análise de dados.

No Trello, na coluna "A fazer", clicamos no card "Remover registros inconsistentes". Nele, temos a seguinte descrição e tarefas:

# Descrição

Alguns registros existentes na base de dados não fazem muito sentido, por exemplo:

 1. partamentos que possuem valor de aluguel igual a 0;
 2. apartamentos com o valor do condomínio igual a 0.

Esses registros são inconsistentes, por isso devemos removê-los da nossa base de dados.

# Tarefas

 1. Remover apartamentos com valor igual a 0

 2. Remover apartamentos com condomínio igual a 0

Vamos remover registros que não fazem sentido ou que simplesmente não precisam constar na nossa base de dados. Alguns desses registros são em que os apartamentos possuem valor de aluguel igual a 0 e também condominio igual a 0.

Para a equipe de machine learning, não faz sentido deixarmos esses registros na base de dados, podemos removê-los. Antes vamos arrastar o card para a coluna "Em andamento".

Abrindo o nosso notebook, vamos selecionar todas as linhas que desejamos remover. Isto é: todas as linhas em que a coluna valor ou condomínio serão igual a 0 e , para isso, usamos o método query.

Na primeira célula, escrevemos df.query(' ') passando a expressão de acordo com o que desejamos selecionar no nosso dataframe. No caso, desejamos todas as linhas em que a coluna valor ou que a coluna condomínio seja igual a 0.

In [ ]:
df.query('Valor == 0 | Condominio == 0')

Observe que ou a coluna valor é igual a 0 ou a coluna condomínio é igual a 0.

Essas são as linhas que precisamos remover do nosso dataframe. Para isso, copiamos o código da célula que rodamos para esse dataframe e colamos na célula abaixo.

Agora, vamos capturar os índices dessas linhas que desejamos apagar usando o .index.

In [ ]:
df.query('Valor == 0 | Condominio == 0').index

Vamos armazenar todos esses índices em uma variável chamada de registros_a_remover. Para isso, vamos na célula seguinte e escrevemos registros_a_remover = df.query('Valor == 0 | Condomínio == 0').index.

In [ ]:
registros_a_remover = df.query('Valor == 0 | Condominio == 0').index

Executamos a célula para armazenar esses índices. Agora, removemos as linhas que possuem esses índices da nossa base de dados usando um método chamado de drop. Escrevemos df.drop( ) passando o que desejamos deletar que é a variável registros_a_remover.

Na sequência, especificamos um parâmetro chamado de axis que passamos 0 ou 1. O zero significa que desejamos remover linhas, já o 1 significa que queremos remover as colunas. Para o nosso cenário, passamos o número 0 para o parãmetro axis para removermos as linhas.

Logo após vamos especificar mais um parâmetro chamado de inplace passando o valor true. Especificamos esse parâmetro para que essas alterações sejam aplicadas no dataframe, sem precisarmos fazer uma atribuição (colocando df = na frente do código).

O inplace faz isso automaticamente para nós.

In [ ]:
df.drop(registros_a_remover, axis=0, inplace=True)

A célula foi executada com sucesso! Teoricamente, as linhas que solicitamos foram removidas da nossa base de dados. Mas para garantirmos isso, executamos novamente a query: df.query('Valor == 0 | Condominio == 0').

Como retorno, temos um dataframe vazio:

In [ ]:
df.query('Valor == 0 | Condominio == 0')

Isso significa que não temos nenhuma linha na nossa base de dados em que o valor ou do aluguel ou condomínio são 0. Assim conseguimos remover o que nos foi solicitado.

Mas será que não há mais nada na nossa base de dados que possa ser removido? Vamos conferir.

Na célula seguinte, escrevemos df.head() para visualizarmos as primeiras linhas do nosso dataframe.

No retorno, temos:

In [ ]:
df.head()

Analisando a coluna "Tipo", temos somente apartamento. Isso ocorre porque anteriormente selecionamos somente imóveis do tipo apartamento para trabalharmos. Logo, não faz sentido deixarmos essa coluna "Tipo" uma vez que ela possui um valor único.

Para garantirmos isso, usamos o método unique( ).

In [ ]:
df.Tipo.unique()

Ele nos informa que o único valor existente na coluna "Tipo" é o apartamento. Logo, podemos remover também essa coluna usando o método drop( ). Escrevemos na célula seguinte df.drop('Tipo', axis=1, inplace=True).

In [ ]:
df.drop('Tipo', axis=1, inplace=True)

Foi executado com sucesso, mas para garantir que essa coluna foi removida vamos visualizar a nossa base de dados rodando comando df.head( ).

In [ ]:
df.head()

# Método drop

O método drop( ) da biblioteca Pandas permite remover uma ou mais linhas e/ou colunas de um DataFrame. Essa remoção pode ser realizada de forma permanente no DataFrame original. É possível especificar os índices das linhas e/ou colunas a serem removidos, bem como o eixo em que a remoção deve ocorrer.

Suponha que temos o seguinte DataFrame, salvo em uma variável chamada dados:

Código para criação do DataFrame:

In [ ]:
import pandas as pd

dados = pd.DataFrame([['Feira', 'Cebola', 2.5],
                        ['Mercado', 'Cebola', 1.99],
                        ['Supermercado', 'Cebola', 1.69],
                        ['Feira', 'Tomate', 4],
                        ['Mercado', 'Tomate', 3.29],
                        ['Supermercado', 'Tomate', 2.99],
                        ['Feira', 'Batata', 4.2],
                        ['Mercado', 'Batata', 3.99],
                        ['Supermercado', 'Batata', 3.69]],
                        columns = ['Local', 'Produto', 'Preço'])
dados

 Resposta correta : dados.drop([2, 5, 8], axis=0, inplace=True)

Nosso trello está aberto e acessaremos o próximo card da coluna "A fazer", o card "Aplicar filtros".

O time de Machine Learning precisa de algumas informações específicas para avaliar o orçamento de alguns apartamentos alguns cenários:

 1. Apartamentos que possuem 1 quarto e aluguel menor que R$ 1200;

 2. Apartamentos que possuem pelo menos 2 quartos, aluguel menor que R$ 3000 e área maior que 70 metros quadrados.

Então, temos que encontrar formas de aplicar esses filtros na nossa base de dados, deixando as informações mais compreensíveis, assim o time de Machine Learning poderá acessá-las.

Começaremos realizando o processo de sempre: fechar o card e arrastá-lo para a coluna de "Em andamento". Agora, vamos para o notebook do curso - aula 3.

# Filtro 1: Apartamentos com 1 quarto e aluguel < R$ 1200

Para aplicarmos esse filtro e realizar as seleções, poderíamos utilizar o método query( ), porém, escolheremos um processo manual de desta.

O primeiro passo é selecionar os apartamentos com um quarto. Para isso, vamos pegar a variável que está com o dataframe, df, e selecionar a coluna Quartos, que é de nosso interesse. Fora dos colchetes, adicionaremos "igual igual a 1".

In [ ]:
df['Quartos'] == 1

Ainda não conseguimos visualizar todos os dados da maneira em que precisamos. Vamos armazenar a seleção em uma variável, selecao1, e passá-la para o nosso dataframe.

In [ ]:
selecao1 = df['Quartos'] == 1

O dataframe Pandas tem a propriedade de receber uma series booleana: as linhas com valor "True" são consideradas e as com valor "False" não são lidas. Vamos conferir isso na prática!

Passaremos df, seguido da nossa variável entre colchetes.

In [ ]:
selecao1 = df['Quartos'] == 1

df[selecao1].head(5)

O retorno é um dataframe com todos os nossos dados, mas apenas as linhas em que a coluna "Quartos" possui valor 1, exatamente a seleção que desejávamos fazer.

Agora, repetiremos o processo para a segunda seleção: apartamentos com aluguel menor que 1200. Para isso, passaremos df, selecionaremos a coluna Valor, que contém o valor do aluguel, utilizamos o operador <(menor) para indicar valor menor que 1200.

In [ ]:
df['Valor'] < 1200

In [ ]:
# Vamos salvar essa seleção em uma segunda variável, selecao2, e passá-la para o nosso dataframe.

selecao2 = df['Valor'] < 1200

df[selecao2].head()

O retorno é um dataframe, mas, desta vez, não estamos preocupados com a coluna "Quartos", já que o filtro é na coluna "Valor", que sempre terá valores menores que 1200.

Para obter os dois cenários juntos, 1 quarto e aluguel menor que R$ 1200, precisamos é necessário juntar as duas seleções e aplicá-las ao nosso dataframe.

Na próxima célula, vamos criar uma variável chamada selecao_final. Nela, uniremos as outras duas variáveis que criamos anteriormente.

In [ ]:
selecao_final = (selecao1) & (selecao2)

Lembrando que o operador & significa and/e.

A variável selecao_final vai filtrar conforme a seleção da coluna "Quartos" e conforme a seleção da coluna "Valor". Agora, vamos aplicá-la ao nosso dataframe.

In [ ]:
selecao_final = (selecao1) & (selecao2)

df[selecao_final].head()

O retorno é um dataframe com dois filtros aplicados: apenas linhas em que a coluna "Quartos" é igual a 1 e apenas linhas em que a coluna "Valor" é menor que 1200.

Agora podemos salvar essa seleção no dataframe em outra variável que será de fácil acesso ao time de Machine Learning.

In [ ]:
df_1 = df[selecao_final]

# Filtro 2: Apartamentos com 2 quartos, aluguel < R$ 3000 e área > 70 metros quadrados

In [ ]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df['Area'] > 70)

Criamos uma variável chamada selecao e nela realizamos as três seleções solicitadas. A primeira é para quando a coluna "Quartos" tiver um valor maior ou igual a 2. Utilizamos o operador and para uni-la à próxima seleção: quando o valor do aluguel for menor que 3 mil.

Em seguida, utilizamos outra vez o operador and para unir a terceira e última seleção às demais, quando a área do apartamento é maior que 70. Na próxima linha, passaremos a seleção ao nosso dataframe.

In [ ]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df['Area'] > 70)

df[selecao]

Obtivemos o dataframe resultante do filtro que criamos. Vamos salvar df[selecao] em outra variável, caso seja necessário utilizá-la depois.

In [ ]:
df_2 = df[selecao]

Conseguimos aplicar todos os filtros solicitados! Podemos retornar ao nosso trello, acessar o card "Aplicar filtros", concluir a tarefa "Aplicar os filtros necessários" (basta clicar na caixa de seleção) e arrastar o card até a coluna de "Concluído".

Para finalizarmos a última demanda do time de Machine Learning, vamos acessar o próximo card da coluna "A fazer": o card "Salvar os dados". Em seguida, podemos arrastá-lo para a coluna "Em andamento" e retornar ao notebook.

# Salvando os dados

Como lemos esse arquivo no formato CSV, é recomendável que agora, no momento de salvar, ele seja salvo neste mesmo formato. Para isso, utilizaremos um método do Pandas chamado to_csv( ).

# Método to_csv( )

Começaremos chamando a variável do nosso dataframe, df.to_csv( ). O primeiro parâmetro que passaremos é o nome escolhido para salvar o arquivo: dados_apartamentos.csv.

Para salvá-lo, basta executar a célula apertando "Shift + Enter".

In [ ]:
df.to_csv('dados_apartamentos.csv')

Os arquivos que salvamos no Colab aparecem na seção de "Files (Arquivos)", localizada na barra lateral esquerda. Basta acessá-la para encontrar os dados_apartamentos.csv.

Podemos selecioná-lo para a visualização de uma prévia da nossa tabela e como ela foi salva.

Também é recomendável tentar ler o arquivo para garantir que tudo foi salvo da maneira que esperávamos. Vamos fechar a barra lateral direita que foi aberta, fechar a seção de arquivos e ler o arquivo.

Como o arquivo está na seção de arquivos do Google Colab, basta passar o seu nome para a função read.csv() e executar a célula para realizar a leitura.

In [ ]:
df.to_csv('dados_apartamentos.csv')

pd.read_csv('dados_apartamentos.csv')

O retorno é um dataframe completo, com algo diferente dos anteriores: a coluna "Unnamed: 0". Quando salvamos um arquivo em formato CSV, ele automaticamente gera novos índices ordenados para cada uma das nossas linhas e os índices antigos do nosso dataframe vão para outra coluna: a "Unnamed: 0". Ela não tem nenhuma utilidade.

Para salvarmos os nossos dados sem essa coluna, podemos adicionar um parâmetro no momento do salvamento. Então, copiaremos a linha de código do to_csv( ) e, colaremos na próxima célula e, após o nome do arquivo, adicionaremos vírgula, seguida do parâmetro index=False.

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False)

Basta passar o mesmo nome, dados_apartamentos.csv e, automaticamente, o arquivo que já temos na seção de "Files" será sobrescrito.

Após executar a célula, podemos realizar a leitura do arquivo novamente e testar se ele de fato foi salvo sem a coluna "Unnamed: 0".

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False)

pd.read_csv('dados_apartamentos.csv')

Deu certo! O retorno é um dataframe sem a coluna extra: "Unnamed: 0".

Lembrando que, quando usamos o to_csv() para salvar um arquivo em formato CSV, automaticamente ele é salvo separado por vírgulas (que é o padrão do CSV).

No entanto, quando realizamos a leitura da nossa base de dados, notamos que ela estava separada por "ponto e vírgula ( ; )". Sendo assim, quando salvarmos a nova versão da nossa base de dados, é recomendável manter esse padrão e salvá-la em CSV, separada por ponto e vírgula. Vamos fazer isso!

Esse processo é bastante simples! Vamos copiar nosso último código do .to_csv e acrescentar apenas mais um parâmetro após o index=False: sep=';'.

O parâmetro sep nos permite indicar qual separador preferimos utilizar para separar cada coluna do arquivo CSV.

Para garantir que a opção de ponto e vírgula foi salva com sucesso, vamos realizar a leitura, inicialmente, sem especificar o separador.

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False, sep=';')

pd.read_csv('dados_apartamentos.csv')

O retorno é um dataframe que não está formatado corretamente, porque não especificamos que o separador é ponto e vírgula. Então, vamos fazer a leitura correta agora, especificando o separador.

In [ ]:
pd.read_csv('dados_apartamentos.csv', sep=';')

Agora, sim, o dataframe foi salvo corretamente em CSV e as nossas colunas estão todas separadas por ponto e vírgula. É possível baixar esse arquivo acessando a seção "File" e apertando os três pontinhos que estão à frente do nome do arquivo: dados_apartamentos.csv.

Vamos selecionar a primeira opção que é "Fazer download" e aguardar alguns segundos. Pronto! Nosso arquivo foi baixado e está na nossa máquina.

Finalizamos as demandas do time de Machine Learning e podemos acessar a coluna "Em andamento" do trello, abrir o card "Salvar os dados", concluir a tarefa "Salvar o dataframe completo apís todas as modificações" e arrastá-lo até a coluna "Concluído".

# Desafio: salvando os dados filtrados

Durante o desenvolvimento do nosso projeto, nós aplicamos alguns filtros na nossa base de dados e salvamos os DataFrames resultantes em diferentes variáveis, sendo elas: df_1 e df_2.

Com base nisso, salve esses DataFrames em 2 arquivos csv distintos para que o time de ML possa ter acesso a esses dados de forma mais prática.

Para salvar esses DataFrames no formato csv, podemos utilizar o método to_csv que já conhecemos:

In [ ]:
df_1.to_csv('filtro_1.csv', index=False, sep=";")

df_2.to_csv('filtro_2.csv', index=False, sep=";")

Com os arquivos salvos, pode ser interessante também realizar a leitura de cada um deles, utilizando o read_csv( ) para garantir que tudo ocorreu corretamente.

# Para saber mais: salvando em diferentes formatos

O Pandas oferece diversos métodos para salvar arquivos em diferentes formatos. Alguns exemplos são:

 1. to_csv( ): salva o DataFrame em um arquivo CSV (Comma-Separated Values);

 2. to_excel( ): salva o DataFrame em um arquivo Excel;

 3. to_json( ): salva o DataFrame em um arquivo JSON (JavaScript Object Notation).

Esses são apenas alguns exemplos, existem outros métodos disponíveis no Pandas para salvar arquivos em diferentes formatos. Caso queira conhecê-los, acesse a documentação:

User guide - IO tools

# Desafio: bora praticar?

Para praticar os métodos aprendidos no decorrer dessa aula e também aprender novos, vamos realizar alguns tratamentos e seleções utilizando um arquivo csv diferente: alunos.csv.

Esse arquivo é o mesmo utilizado para resolução dos desafios da aula 1 e possui dados referentes a alunos de um curso superior.

Com base nisso, solucione os problemas propostos abaixo utilizando os conhecimentos adquiridos até aqui.

1) Verifique se a base de dados possui dados nulos e, caso tenha, realize o tratamento desses dados nulos da forma que achar mais coerente com a situação.

2) Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados.

3) Aplique um filtro que selecione apenas os alunos que foram aprovados.

4) Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv".

Extra: Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade, tinham um ponto extra que não foi contabilizado.

Sendo assim, substitua as notas 7.0 da base de dados por 8.0. Dica: pesquise pelo método replace.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Você pode baixá-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das próximas aulas.

# Bora resolver esses desafios?

Vale ressaltar que, em algumas situações, podemos utilizar diferentes métodos do Pandas para fazer a mesma coisa. Então, as soluções abaixo não são a única forma de resolver os desafios propostos.

1) Podemos começar verificando a existência de dados nulos:

In [ ]:

import pandas as pd

alunos = pd.read_csv('/content/alunos.csv')

dados = alunos

In [ ]:
dados.isnull().sum()

E com o resultado, vamos notar que apenas a coluna "Notas" possui dados nulos. Nesse caso, podemos pensar que os alunos que estão sem nota muito provavelmente estavam com 0. Sendo assim, podemos substituir os valores nulos por 0:

In [ ]:
dados = dados.fillna(0)

dados

2) Para removermos os alunos "Alice" e "Carlos" da nossa base de dados, precisamos pegar os índices das linhas onde os nomes deles estão localizados e utilizar o método drop para remover as respectivas linhas:

In [ ]:
# salvando os índices das linhas a serem removidas em uma variável

alunos_a_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index

In [ ]:
# removendo as linhas referentes aos alunos "Alice" e "Carlos"

dados.drop(alunos_a_remover, axis=0, inplace=True)

3) Nesse caso, nosso primeiro passo é criar uma variável onde nós realizamos a seleção apenas dos alunos aprovados:

In [ ]:
selecao = dados['Aprovado'] == True

In [ ]:
dados[selecao]

4) Para salvarmos o DataFrame apenas com os alunos aprovados, nós podemos começar salvando o DataFrame resultante do desafio 3 em uma variável:

In [ ]:
alunos_aprovados = dados[selecao]

Em seguida, podemos utilizar o método to_csv para salvá-lo no formato csv:

In [ ]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index=False)

Extra: O método replace é utilizado para substituir um determinado valor por outro. No caso da nossa base de dados, nós queremos substituir os valores 7.0 por 8.0. Para isso, nós podemos utilizar o seguinte trecho de código:

In [ ]:
alunos_aprovados.replace(7.0, 8.0)

E para salvarmos essa alteração de forma definitiva, podemos atribuí-la a nossa variável:

In [ ]:
alunos_aprovados = alunos_aprovados.replace(7.0, 8.0)

alunos_aprovados

Nos últimos vídeos, atendemos todas as demandas solicitadas pelo time de machine learning:

importamos e exploramos a base de dados;
fizemos análises exploratórias;
aplicamos tratamentos e filtros;
salvamos os dados.
Mas nossas demandas não acabaram. Vamos ao nosso trello para verificar o que ainda precisamos fazer.

Note que temos dois cards que correspondem às demandas do time de desenvolvimento do site da imobiliária. Um deles é o "Criar colunas numéricas" que, como o próprio nome sugere, indica que precisamos criar colunas deste tipo que darão suporte para que o time de desenvolvimento tenha acesso a algumas informações mais sumarizadas e possa colocar as informações no site de divulgação dos imóveis.

Segundo as informações do card, a primeira coluna a ser criada é "valor_por_mes", onde colocaremos um compilado dos gastos mensais de cada imóvel, incluindo aluguel e condomínio. A segunda coluna é "valor_por ano" e corresponde aos gastos anuais por imóvel, ou seja, IPTU mais 12 meses de aluguel e condomínio.

Passaremos este card para a coluna "Em andamento", indicando que estamos realizando suas atividades.

Agora, voltemos ao nosso notebook para iniciar estes passos.

Começaremos importando novamente nossa base de dados. Isso porque, para o site da imobiliária, as informações de todos os imóveis são importantes. Mas lembre-se que, anteriormente, trabalhamos apenas com apartamentos, então não faz sentido continuar utilizando o mesmo dataframe.

Faremos a importação salvando-a em uma variável url. Em seguida, fazemos a leitura na variável dados:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

dados = pd.read_csv(url, sep=';')

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')
dados.head()

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')
dados.head()

A importação funcionou, então partiremos para a criação das colunas numéricas, começando por "valor_por_mes".

Para isso, chamamos o dataframe como se fôssemos escolher uma coluna existente, porém, passamos o nome da coluna que será criada:

In [38]:
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']

Basicamente, os dados dessas colunas serão somados, linha por linha, e armazenados na nova coluna "Valor_por_mes". Para nos certificar de que funcionou, acrescentaremos uma visualização das primeiras linhas da base de dados.

In [39]:
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']

dados.head(7)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botânico,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienópolis,1030.0
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN,Apartamento em Vista Alegre,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,Apartamento em Cachambi,1601.0

Perceba que, ao final do dataframe, foi adicionada a coluna "Valor_por_mes" com a soma realizada. Criamos a primeira coluna numérica! Contudo, podemos notar que, a operação não foi efetuada para as linhas que possuem valores NaN. Precisamos realizar o tratamento dessas informações e repetir o processo anterior:

In [40]:
dados.fillna(0,inplace = True)
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio']
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,Casa em Jardim Botânico,7000.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,Apartamento em Higienópolis,1030.0

Agora, criaremos "Valor_por_ano" seguindo um procedimento semelhante. Para esta coluna, devemos considerar os gatos mensais multiplicados por 12 (meses do ano) somado ao valor do IPTU.

In [41]:
dados['Valor_por_ano'] = dados['Valor_por_mes'] * 12 + dados['IPTU']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao,Valor_por_mes,Valor_por_ano
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana,2200.0,26460.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,Casa em Jardim Botânico,7000.0,84000.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca,9220.0,111751.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro,1190.0,14300.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,Apartamento em Higienópolis,1030.0,12360.0

Note que esta nova coluna foi corretamente criada com os dados resultantes do cálculo.

Assim, finalizamos a criação das colunas numéricas solicitadas pelo time de desenvolvimento. Podemos, então, marcar as tarefas do card como feitas e movê-lo para a coluna de concluído!

# Operações entre colunas - Exercício.

In [42]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0],
    'IPVA': [2000.0, 5000.0, 1700.0, 2200.0, 1000.0],
    'Desconto': [380.0, 450.0, 277.0, 400.0, 150.0]
}

df = pd.DataFrame(dados)
df

       Nome            Motor   Ano  Quilometragem     Valor    IPVA  Desconto
0     Jetta  Motor 4.0 Turbo  2019            0.0   88000.0  2000.0     380.0
1    Passat     Motor Diesel  2003         5712.0  106000.0  5000.0     450.0
2  Crossfox  Motor Diesel V8  1991        37123.0   72000.0  1700.0     277.0
3       DS5        Motor 2.0  2019            0.0   89000.0  2200.0     400.0
4     Fusca        Motor 1.6  1990       120000.0   32000.0  1000.0     150.0

Precisamos criar uma coluna chamada "Valor_total" que possui o valor do carro, somado com o IPVA e subtraídos os valores de desconto. Qual das alternativas abaixo apresenta o código correto para a criação dessa coluna?

Resp.: df['Valor_total'] = df['Valor'] + df['IPVA'] - df['Desconto']

De volta ao trello, note que temos o card "Criar colunas categóricas", que se trata de uma demanda do time de desenvolvimento.

A primeira coluna será chamada de "Descrição" e deve conter uma sumarização das principais informações de cada um dos imóveis da nossa base de dados.

Entre elas é necessário constar o tipo de imóvel, o bairro, a quantidade de quartos e de vagas de garagem.

A segunda coluna se chamará "Possui_suite" e será binária, onde devemos informar se o imóvel tem suíte ou não.

Vamos iniciar as atividades, então podemos passar este trello para a coluna "Em andamento".

De volta ao notebook, criaremos a coluna "Descrição" seguindo um procedimento semelhante ao utilizado para a criação das colunas numéricas:

In [43]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [36]:
dados['Descricao'] = dados['Tipo'] + dados['Bairro']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,QuitineteCopacabana
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,CasaJardim Botânico
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/SalaBarra da Tijuca
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,ApartamentoCentro
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,ApartamentoHigienópolis

In [37]:
dados['Descricao'] = dados['Tipo'] + ' em ' + dados['Bairro']

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botânico
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienópolis

In [44]:
dados['Descricao'] = dados['Tipo'] + ' em ' + dados['Bairro'] + ' com ' + \
                                        dados['Quartos'].astype(str) + ' quarto(s) ' + \
                                        ' e ' + dados['Vagas'].astype(str) + ' vaga(s) de garagem.'
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Quitinete em Copacabana com 1 quarto(s) e 0 v...
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Casa em Jardim Botânico com 2 quarto(s) e 0 v...
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Conjunto Comercial/Sala em Barra da Tijuca com...
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Apartamento em Centro com 1 quarto(s) e 0 vag...
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Apartamento em Higienópolis com 1 quarto(s) e...

Agora, criaremos a coluna "Possui_suite", seguindo o procedimento semelhante ao adotado para criar as demais colunas.

In [45]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "Não")

Neste comando, usamos o método .apply(), utilizado para aplicar uma determinada função em um conjunto específico de dados. No nosso caso, esse conjunto é a coluna "Suites", e a função, é do tipo lambda - funções personalizadas que podem ser escritas em uma única linha.

Nesta função, x equivale a cada linha da coluna de suítes. Então, fizemos uma condicional if em que se o valor de x, ou seja, o registro da linha, for maior que zero, deve ser colocado "Sim", caso contrário (else), coloca-se "Não".

Vamos adicionar um comando de visualização e executar a célula:

In [46]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "Não")

In [47]:
dados['Suites']

0        0
1        1
2        0
3        0
4        0
        ..
32955    0
32956    2
32957    0
32958    0
32959    0
Name: Suites, Length: 32960, dtype: int64

In [48]:
dados['Possui_suite'].head()

0    Não
1    Sim
2    Não
3    Não
4    Não
Name: Possui_suite, dtype: object

Neste comando, usamos o método .apply( ), utilizado para aplicar uma determinada função em um conjunto específico de dados. No nosso caso, esse conjunto é a coluna "Suites", e a função, é do tipo lambda - funções personalizadas que podem ser escritas em uma única linha.

Nesta função, x equivale a cada linha da coluna de suítes. Então, fizemos uma condicional if em que se o valor de x, ou seja, o registro da linha, for maior que zero, deve ser colocado "Sim", caso contrário (else), coloca-se "Não".

Vamos adicionar um comando de visualização e executar a célula:

In [49]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x > 0 else "Não")

Para nos certificar que os dados estão corretos, basta analisarmos a coluna "Suites" e analisar a quantidade para cada imóvel. Quando o número de suítes for igual a zero, o dado de "Possui_suite" deve ser "Não"; quando for maior que zero, o dado deve ser "Sim"

Concluímos a criação das colunas solicitadas pelo time de desenvolvimento. Para finalizar, salvaremos essa base de dados em um arquivo para que o time de desenvolvimento possa acessá-la quando necessário.

Nós a salvaremos no formato CSV e a chamaremos de "dados_completos_dev.csv", passando alguns parâmetros, como index e sep:

In [50]:
dados.to_csv('dados_completos_dev.csv', index=False, sep=';')

Para garantir que o salvamos, basta acessar a aba de arquivos, na lateral esquerda, e verificar se ele consta na listagem.

Feito isso, vamos ao Trello, acessamos o card em andamento, marcamos as atividades e movemos o card para a coluna de concluído!

Atendemos todas as demandas dos times de Machine Learning e de Desenvolvimento, concluindo nosso projeto com sucesso!

# Para saber mais: criando colunas

Existem diversas maneiras de criar colunas em um DataFrame no Pandas. Alguns exemplos são:

## 1 - Atribuição direta de valores a uma nova coluna:

In [51]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = [7, 8, 9]
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 2 - Criação de uma coluna a partir de operações entre outras colunas:

In [52]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'] + df['B']

df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

## 3 - Utilização do método assign() para criar uma nova coluna:

In [53]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df = df.assign(C=[7, 8, 9])

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 4 - Utilização do método apply( ) para aplicar uma função a uma coluna existente e criar uma nova coluna:

In [54]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'].apply(lambda x: x * 2)

df

   A  B  C
0  1  4  2
1  2  5  4
2  3  6  6

Caso queira se aprofundar nesse assunto, consulte a documentação:

[How to create new columns derived from existing columns?](https://)

# Desafio: bora praticar?

Para praticar os métodos aprendidos no decorrer dessa aula e também aprender novos, vamos realizar alguns tratamentos e seleções utilizando um arquivo csv diferente: alunos.csv.

Esse arquivo é o mesmo utilizado para resolução dos desafios da aula 1 e 3 e possui dados referentes a alunos de um curso superior. Com base nisso, solucione os problemas propostos abaixo utilizando os conhecimentos adquiridos até aqui.

1) Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles.

Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles.

2) Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras.

3) Como houve uma pontuação extra, alguns alunos que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

 - True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
 - False: caso o aluno esteja reprovado (nota final deve ser menor que 6).
4) Faça uma seleção e verifique quais alunos não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras.

Caso queira, deixo disponibilizado um notebook para resolver os desafios. Você pode baixá-lo e fazer upload no Google Drive ou direto no Google Colab para realizar os desafios dessa e das próximas aulas.

Vale ressaltar que em algumas situações podemos utilizar diferentes métodos do Pandas para fazer a mesma coisa. Então, as soluções abaixo não são a única forma de resolver os desafios propostos.

1) Para criar a coluna de "Pontos_extras", podemos utilizar o método apply para aplicar uma função na coluna "Notas". Essa função deve apenas multiplicar 0.4 pelo valor da nota de cada aluno e colocar o resultado na nossa nova coluna:

In [56]:
import pandas as pd

alunos = pd.read_csv('/content/alunos.csv')

dados = alunos

Vale ressaltar que em algumas situações podemos utilizar diferentes métodos do Pandas para fazer a mesma coisa. Então, as soluções abaixo não são a única forma de resolver os desafios propostos.

1) Para criar a coluna de "Pontos_extras", podemos utilizar o método apply para aplicar uma função na coluna "Notas". Essa função deve apenas multiplicar 0.4 pelo valor da nota de cada aluno e colocar o resultado na nossa nova coluna:

In [57]:
dados['Pontos_extras'] = dados['Notas'].apply(lambda x: x*0.4)
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras
0         Ary     20    7.5      True           3.00
1         Ana     18    NaN     False            NaN
2       Cátia     27    2.5     False           1.00
3       Denis     18    5.0     False           2.00
4        Beto     21   10.0      True           4.00
5       Bruna     23    NaN     False            NaN
6        Dara     21    7.0      True           2.80
7      Carlos     19    6.0      True           2.40
8       Alice     35    5.6     False           2.24
9       Vitor     28    NaN     False            NaN
10     Daniel     21    NaN     False            NaN
11       Igor     24    4.5     False           1.80
12  Sthefanie     26    9.5      True           3.80
13      Mirla     25    9.0      True           3.60
14      Paulo     37    NaN     False            NaN
15     Mylena     29    7.0      True           2.80
16      Lucas     33    NaN     False            NaN
17      Nadia     34    8.0      True           3.20

In [58]:
dados['Notas_finais'] = dados['Notas'] + dados['Pontos_extras']
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais
0         Ary     20    7.5      True           3.00         10.50
1         Ana     18    NaN     False            NaN           NaN
2       Cátia     27    2.5     False           1.00          3.50
3       Denis     18    5.0     False           2.00          7.00
4        Beto     21   10.0      True           4.00         14.00
5       Bruna     23    NaN     False            NaN           NaN
6        Dara     21    7.0      True           2.80          9.80
7      Carlos     19    6.0      True           2.40          8.40
8       Alice     35    5.6     False           2.24          7.84
9       Vitor     28    NaN     False            NaN           NaN
10     Daniel     21    NaN     False            NaN           NaN
11       Igor     24    4.5     False           1.80          6.30
12  Sthefanie     26    9.5      True           3.80         13.30
13      Mirla     25    9.0      True           3.60         12.60
14      Paulo     37    NaN     False            NaN           NaN
15     Mylena     29    7.0      True           2.80          9.80
16      Lucas     33    NaN     False            NaN           NaN
17      Nadia     34    8.0      True           3.20         11.20

3) Para a criação da coluna "Aprovado_final", nós podemos utilizar o método apply para aplicar uma função na coluna "Notas_finais". Essa função deve colocar True, caso a nota final seja maior ou igual a 6, e, caso contrário, ela deve colocar False:

In [59]:
dados['Aprovado_final'] = dados['Notas_finais'].apply(lambda x: True if x >= 6 else False)
dados

,Nome,Idade,Notas,Aprovado,Pontos_extras,Notas_finais,Aprovado_final
0,Ary,20,7.5,True,3.00,10.50,True
1,Ana,18,NaN,False,NaN,NaN,False
2,Cátia,27,2.5,False,1.00,3.50,False
3,Denis,18,5.0,False,2.00,7.00,True
4,Beto,21,10.0,True,4.00,14.00,True
5,Bruna,23,NaN,False,NaN,NaN,False
6,Dara,21,7.0,True,2.80,9.80,True
7,Carlos,19,6.0,True,2.40,8.40,True
8,Alice,35,5.6,False,2.24,7.84,True
9,Vitor,28,NaN,False,NaN,NaN,False
10,Daniel,21,NaN,False,NaN,NaN,False
11,Igor,24,4.5,False,1.80,6.30,True
12,Sthefanie,26,9.5,True,3.80,13.30,True
13,Mirla,25,9.0,True,3.60,12.60,True
14,Paulo,37,NaN,False,NaN,NaN,False
15,Mylena,29,7.0,True,2.80,9.80,True
16,Lucas,33,NaN,False,NaN,NaN,False
17,Nadia,34,8.0,True,3.20,11.20,True

4) Essa seleção pode ser realizada utilizando o método query:

In [60]:
dados.query('Aprovado == False & Aprovado_final == True')

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True

In [62]:
# Ou também pode ser feita de forma mais manual:

selecao = (dados['Aprovado'] == False) & (dados['Aprovado_final'] == True)

dados[selecao]

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True

![img_trasnf_manipulaca.jpg]()

# Pandas:transformação e manipilação de dados: Aula 01 - Conhecendo problemas.

A área de dados possui muitas aplicações, em diversos tipos de negócio — entre eles, o turismo.

Como exemplo, podemos aplicá-la na precificação do aluguel de imóveis a curto prazo.

Neste curso, faremos uma preparação de dados. Isso significa que não faremos uma análise deles, mas sim a sua transformação e manipulação, para que atinjam um objetivo — neste caso, a solução do nosso problema.

Nossa aplicação visa realizar um estudo dos nossos dados, com o objetivo de criar uma solução com precificação inteligente.

# Precificação Inteligente

Trata-se de um algoritmo capaz de analisar as características de um imóvel — como comodidade, tamanho, ocupação do espaço em determinado período — e sugerir à pessoa anfitriã um preço a ser cobrado por diárias que garanta o lucro em momentos de alta demanda.

O problema está na estrutura dos nossos dados.

Vamos conhecê-los e analisá-los.

# Conhecendo os dados

Para conhecer os nossos dados, utilizaremos o Google Colab. Ele deve estar vazio e conectado.

Vamos retirar as opções da barra de ferramentas superior, acessando-a e clicando no botão "Alternar a visibilidade do cabeçalho", no canto superior direito.

Vamos importar os dados. Para isso, acessaremos a barra de ferramentas lateral, à esquerda da tela, onde clicaremos no botão "Arquivos".

Com isso, será aberta uma barra secundária à direita, onde veremos o conteúdo da pasta "Arquivos".

Nela, clicaremos no botão "Fazer upload para o armazenamento da sessão" que abrirá uma janela com o explorador do nosso computador. Neste, por sua vez, buscaremos as bases de dados abaixo, que já deverão ter sido baixadas.


dados_hospedagem.json
moveis_disponiveis.json
Observação: O link para download das bases de dados estão disponíveis nas atividades desta aula.

Clicaremos no arquivo dados_hospedagem.json e no botão "Abrir". Com isso, realizaremos o upload dos primeiros dados a serem trabalhados em nosso Notebook do Google Colab.

Vamos esperar o arquivo ser carregado. Quando este processo terminar, veremos na barra secundária lateral o nome do nosso arquivo.

Para conhecer os dados, utilizaremos a biblioteca Pandas. Para isso, na primeira linha de código, adicionaremos o import pandas.

Além disso, incluiremos o comando as pd para podermos utilizar o pd quando chamarmos esta biblioteca. Por fim, pressionaremos "Shift+Enter", o que descerá o cursor para a linha 2.

Vamos ler o arquivo que importamos. Para isso, precisaremos do método read_json(), já que nosso arquivo é do tipo JSON.

Na linha atual, atribuiremos um novo dataframe, chamado dados. Ele receberá os dados de hospedagem por meio do pd.read_json().

In [70]:

dados = pd.read_json('/content/dados_hospedagem.json')

Entre os parênteses do método, adicionaremos o caminho até o arquivo que importamos. Para coletá-lo, voltaremos à barra secundária à direita, onde o buscaremos e clicaremos no botão à sua direita, que possui um ícone de três pontos.

Será aberta uma lista suspensa, onde selecionaremos a opção "copiar caminho". Com isso, teremos o caminho do arquivo vinculado à nossa área de transferência.

Voltando à linha 2, entre os parênteses do read_json( ), abriremos e fecharemos aspas simples, para criar uma string. Entre elas, pressionaremos "Ctrl+V", o que colará todo o caminho para a leitura do arquivo JSON.

In [66]:
dados = pd.read_json('/content/dados_hospedagem.json')

In [71]:
dados = pd.read_json('/content/dados_hospedagem.json')

dados.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

Temos uma visualização de como é o nosso arquivo, na qual percebemos que os dados estão aninhados em formato de dicionário. Isso dificulta o entendimento.

Por exemplo, observaremos que a linha 0 é um dicionário que possui a chave avaliacao_geral, o valor 10.0 e outra chave com o nome exibido parcialmente (experiencia_local...).

# Para saber mais: precificação inteligente

A precificação inteligente para hospedagem é uma estratégia de estimação de preços de forma automatizada e dinâmica, que considera fatores como oferta e demanda, sazonalidade, eventos locais, características do local, entre outros.

Com base nessas informações, um algoritmo pode ajustar os preços para maximizar a receita e a rentabilidade da pessoa proprietária.

Normalmente essa estratégia é aplicada a um modelo de inteligência artificial que ajusta automaticamente os preços das diárias. Por exemplo, se a demanda por hospedagem em um determinado destino aumentar, a precificação inteligente ajustará automaticamente os preços das diárias para cima, com o fim de maximizar a receita da propriedade.

Da mesma forma, se a demanda diminuir, a precificação inteligente ajustará os preços para baixo para manter a ocupação da propriedade e evitar perdas financeiras.

Embora o machine learning seja frequentemente usado em sistemas de precificação inteligente, existem outras abordagens que podem ser usadas para implementar esses sistemas. Por exemplo, pode-se usar um modelo de regras baseado em lógica e heurísticas para definir as condições e regras de precificação.

Mesmo assim, é importante ressaltar que o uso de machine learning pode oferecer benefícios adicionais, como a capacidade de analisar grandes volumes de dados, identificar padrões de comportamento do consumidor e ajustar os preços de forma mais precisa e dinâmica.

## Continuaremos a leitura e o desbravamento dos nossos dados.

Anteriormente, descobrimos que eles estão aninhados em dicionários. Para estudá-los e identificar onde podemos prepará-los, tratá-los e transformá-los, precisamos que estejam destrinchados.

Vamos fechar a aba secundária "Arquivos", à direita, para termos uma visualização ampla do nosso código.

Na primeira célula disponível abaixo do último retorno, utilizaremos o método json_normalize( ) que fará exatamente o que precisamos: a normalização desses dados — neste caso, da coluna info_moveis.

Reatribuiremos os dados do dataframe para que o novo dataframe seja normalizado. Para isso, rodaremos o comando dados = pd.json_normalize( ).

Dentro dos parênteses, adicionaremos como parâmetro um dados, junto a um bloco de colchetes. Este receberá em seu interior, entre aspas simples, a coluna a ser normalizada: info_moveis.

No final desta linha, fora do json_normalize( ), pressionaremos "Enter" para descer de linha. Nesta, pediremos uma observação dos nossos dados normalizados, digitando dados.

In [72]:
dados = pd.json_normalize(dados['info_moveis'])
dados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

Nele, vemos dados numéricos, de texto e também listas com os dois tipos.

Para realizar o tratamento focado em cada tipo de dado, precisaremos realizar um desagrupamento, removendo-os das listas. Faremos isso a seguir.

# Desafio: trabalhando em outros contextos

Chegou a hora de pôr em prática tudo o que aprendemos durante as aulas.

Preparei dois projetos extras para desenvolvermos durante o curso, para garantir que possamos praticar bastante!

Para isso, vamos trabalhar com 2 novos conjuntos de dados, mas que dessa vez serão bem menores. As bases de dados estão disponíveis para download abaixo:

### 1. Projeto desafio 1: vendas online - dados_vendas_clientes.json;

### 2. Projeto desafio 2: administração de condomínios - dados_locacao_imoveis.json.

Em cada aula, desenvolveremos uma etapa dos projetos. Portanto, salve seu código de construção em cada desafio para que possa aplicá-lo nos desafios posteriores.

# Etapa 1

Projeto desafio 1: vendas online

O objetivo desse projeto é realizar uma análise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento.

Essa análise vai identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratégias para atrair mais clientes.

A base de dados utilizada nessa análise é a dados_vendas_clientes.json e contém informações importantes sobre os clientes como, o nome de cadastro do cliente, o valor total pago na compra e o dia da compra.

Sabendo essas informações, o desafio do projeto 1: vendas online será abrir a base de dados com Pandas e aplicar o json_normalize.

-------------------------------------------------------------------------

Projeto desafio 2: administração de condomínios

A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual. No entanto, sabemos que nem sempre isso acontece.

Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio de alguns moradores.

Disponibilizo a base de dados dados_locacao_imoveis.json, que contém informações sobre o apartamento dos locatários, o dia acordado para o pagamento do aluguel, o dia da efetivação do pagamento de aluguel e o valor do aluguel.

Com essas informações, o desafio do projeto 2: administração de condomínios será similar ao desafio do projeto 1, abrir a base de dados com Pandas e aplicar o json_normalize no DataFrame.

# Projeto desafio 1: vendas online

In [73]:
# Import do pandas
import pandas as pd
# Ler o arquivo json com read_json
dados = pd.read_json('/content/dados_vendas_clientes.json')
# Aplicar json_normalize na coluna dados_vendas
dados = pd.json_normalize(dados['dados_vendas'])
# Mostrar valores
dados

# Projeto desafio 2: administração de condomínios

In [ ]:
# Import do pandas
import pandas as pd
# Ler o arquivo json com read_json
dados = pd.read_json('/content/dados_locacao_imoveis.json')
# Aplicar json_normalize na coluna dados_locacao
dados = pd.json_normalize(dados['dados_locacao'])
# Mostrar valores
dados

# Minhas soluções com o projeto dos desafios foram feitas em um notebook python que será disponibilizado ao final do curso.

# Para saber mais: descrição dos dados

Quando trabalhamos com um conjunto de dados qualquer, precisamos saber quais informações esses dados estão trazendo, pois só assim conseguiremos estudá-lo e analisá-lo para desenvolver uma solução de análise e tratamento de dados para ele.

Nesse curso, vamos trabalhar com o conjunto de dados presentes no arquivo dados_hospedagem.json e, para que seja possível avançar nos estudos quanto aos dados fornecidos por esse arquivo, vamos entender o que cada coluna traz de informação.

 - avaliacao_geral: refere-se à média de notas dadas para a avaliação da hospedagem no imóvel.

 - experiencia_local: descreve as experiências oferecidas durante a hospedagem no imóvel.

 - max_hospedes: informa a quantidade máxima de hóspedes que o local permite.

 - descricao_local: descreve o imóvel.

 - descricao_vizinhanca: descreve a vizinhança ao redor do imóvel.
 - quantidade_banheiros: informa a quantidade de banheiros disponíveis.

 - quantidade_quartos: informa a quantidade de quartos disponíveis.

 - quantidade_camas: informa a quantidade de camas disponíveis.

 - modelo_cama: informa o modelo de cama oferecido.

 - comodidades: informa as comodidades oferecidas pelo imóvel.

 - taxa_deposito: informa a taxa de depósito mínima para segurança de hospedagem.

 - taxa_limpeza: informa a taxa cobrada para o serviço de limpeza.

 - preco: refere-se ao preço base a ser cobrado pela diária no imóvel.

Anteriormente, conhecemos nossos dados e observamos que em algumas colunas temos dados agrupados em listas. Para facilitar o acesso à esses dados a fim de que possamos trabalhá-los, precisamos desagrupá-los.

As colunas que contêm os dados agrupados em listas são:

 - descricao_local;

 - descricao_vizinhanca;

 - quantidade_banheiros;

 - quantidade_quartos;

 - quantidade_camas;

 - modelo_cama;

 - comodidades;

 - taxa_deposito;

 - taxa_limpeza;

 - preco.

# Coletando os nomes das colunas

Para desagrupar esses dados, podemos utilizar o método .explode( ), que separa as informações em linhas. Ele requer que enviemos o nome das colunas que serão transformadas, então o primeiro passo é coletar esses nomes.

Para isso, criaremos uma lista chamada colunas onde transformaremos os valores em listas:

In [ ]:
colunas = list(dados.columns)
colunas

Obtemos, então, a listagem dos nomes de todas as colunas do dataframe:

['avaliacao_geral', 'experiencia_local', 'max_hospedes', 'descricao_local', 'descricao_vizinhanca', 'quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas', 'modelo_cama', 'comodidades', 'taxa_deposito', 'taxa_limpeza', 'preco']

As colunas "avaliacao_geral", "experiencia_local" e "max_hospedes" não estão agrupadas em listas. Dessa forma, usaremos o .explode() a partir de "descricao_local", que correspondem ao índice 3.

# Usando o .explode() para desagrupar

Como queremos que nosso dataframe não possua dados agrupados em listas, vamos reatribuir essas informações para os dados já destrinchados em linhas.

Para isso, passamos o método .explode( ) especificando as colunas de dados que queremos que sejam separados em linhas. Ou seja, a lista colunas a partir do índice 3, seguido de :, que indica que deve ir até o último valor da lista.

In [81]:
dados = dados.explode(colunas[3:])
dados

In [ ]:
dados.head()

Perceba, porém, que o índice não está correto, pois o zero se repete diversas vezes, assim como outros números. Precisamos, então, resetar os índices.

# Resetando os índices para ordenar os dados

Para isso, usaremos o método .reset_index( ) passando os parâmetros inplace=True e drop=True. O primeiro substitui os índices no dataframe, já o segundo trata-se da criação de uma coluna com os índices antigos, porém, sendo True, não teremos essa criação. Por fim, passamos a visualização dos primeiros registros com dados.head( ).

In [79]:
dados.reset_index(inplace = True,drop=True)
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

# Verificando os tipos de dados

É possível notar as características dos dados do nosso dataframe: há textos e números inteiros e float. Mas precisamos garantir que estejam com a tipagem correta para que possamos utilizá-los em tratamentos futuros.

Para isso, usaremos o método .info( ), que nos retorna os tipos de dados:

In [ ]:
dados.info()

Perceba que a coluna "Dtype" traz todos os dados como sendo do tipo object. Há três possibilidades para que um dado seja identificado assim:

 1. por termos tipos diferentes de dados em uma mesma coluna;

 2. quando os dados possuem um tipo específico que não foi identificado na leitura do Pandas;

 3. todos os tipos são strings.

Para trabalharmos com estatística, por exemplo, precisamos que os dados numéricos sejam corretamente tipados como números. Sendo assim, quando temos várias colunas do tipo object, a transformação da tipagem precisa ser feita manualmente. É o que faremos no vídeo seguinte!

### Começaremos a conversão dos nossos dados pelas colunas numéricas. Para isso, usaremos o método .astype( ). Mas, primeiro, importaremos a biblioteca NumPy, que nos fornecerá um tipo de dado (inteiro e float) para podermos converter as colunas numéricas no nosso dataframe.

In [76]:
import numpy as np

# Tratando dados numéricos: convertendo para tipo inteiro

Iniciaremos o tratamento pela coluna "max_hospedes", que é de números inteiros.

O método .astype( ) nos permite converter colunas para um tipo específico de dado. Sendo assim, chamamos nosso dataframe dados e passamos a coluna que queremos converter entre colchetes ['max_hospedes'].

Em seguida, chamamos o método .astype( ) passando o tipo de dado para o qual vamos alterar, no caso, np.int64, que é um tipo específico de inteiro com precisão de 64 bits.

In [78]:
dados['max_hospedes'].astype(np.int64)

0      1
1     10
2     11
3     12
4     14
      ..
65     5
66     6
67     7
68     8
69     9
Name: max_hospedes, Length: 70, dtype: int64

In [82]:
dados['max_hospedes'] = dados['max_hospedes'].astype(np.int64)

In [83]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       70 non-null     object
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: int64(1), object(12)
memory usage: 7.2+ KB

É possível realizar este mesmo processo para as demais colunas com dados do tipo inteiro. Mas, ao invés de fazermos uma a uma, realizaremos um só comando para todas elas.

Para isso, criaremos uma variável col_numericas, que será uma lista com as colunas cujos dados devem ser do tipo inteiro. São elas "quantidade_banheiros", "quantidade_quartos", "quantidade_camas".

In [84]:
col_numericas = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']

In [88]:
dados[col_numericas] = dados[col_numericas].astype(np.int64)

In [87]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [88]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

## Tratando dados numéricos: convertendo para tipo float

A coluna "avaliacao_geral" deve ser do tipo float, então faremos um processo semelhante, mas agora convertendo para float64:

In [89]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [90]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

Há um detalhe para o qual devemos estar atentos: as colunas "taxa_deposito", "taxa_limpeza" e "preco" são do tipo float porque correspondem a valores de moeda.

Note, inclusive, que possuem cifrão $ e, por se tratar de uma moeda estrangeira, há números que possuem vírgulas na sua composição.

Tendo isso em vista, também podemos convertê-los para float, já que é ideal estarem definidos assim para podermos trabalhar com precificação inteligente.

Mas será que o .astype( ) vai funcionar em dados com cifrão ($) e vírgula ( , )? Vamos tentar!

In [92]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$','').replace(',','').strip())

In [93]:
dados['preco'] = dados['preco'].astype(np.float64)

# Obtemos um erro, porque não é possível aplicar a conversão em dados que contenham o caractere de cifrão.

# Sendo assim, precisamos, primeiros, tratar esses dados. É o que faremos a seguir

ValueError: setting an array element with a sequence.

# Para saber mais: precisão de valores numéricos

Em geral, quando os dados são muito grandes e temos pouca memória disponível, é comum utilizar tipos de dados mais compactos para reduzir o consumo de memória. Mas, é sempre importante garantir que a escolha do tipo de dados não prejudique a precisão ou a acurácia dos resultados.

Quando trabalhamos com números inteiros com Python, podemos ter diversos tipos de dados, cada um com suas limitações e características. Durante as aulas, trabalhamos com o int64, um inteiro com precisão de 64 bits. Para entender o significado dessa precisão, é importante conhecer alguns termos técnicos, como byte e bit:

 - Byte: é uma unidade de medida de informação, que representa um  conjunto de 8 bits.

 - Bit: é a menor unidade de informação utilizada em sistemas digitais, podendo assumir os valores de 0 ou 1.

# Tipo Inteiro

Com os conceitos de bit e byte claros, podemos, então, entender melhor o significado do int64, que é o tipo inteiro que utiliza 8 bytes de armazenamento - 8 bits em cada byte, resultando em 64 bits ao total. Esse tipo inteiro é capaz de representar números muito grandes, que podem variar de -9.223.372.036.854.775.808 a 9.223.372.036.854.775.807.

Além dele, temos outros inteiros que podem ter sua precisão definida, como o int32, um tipo de dado inteiro que utiliza 4 bytes - 8 bits em cada byte, resultando em 32 bits ao total. Ele é capaz de representar números inteiros menores do que os representados pelo int64, com um máximo de -2.147.483.648 a 2.147.483.647.

Pode ser mais comum encontrar os tipos int64 e int32, mas pode ser necessário, em algumas situações, utilizar outros tipos de dados inteiros, como o int8 ou o int16. Tipos de dados como esses são úteis quando é preciso economizar mais memória e não se está trabalhando com grandes valores. Você pode conferir os tipos de inteiros na tabela abaixo:

A escolha de qual valor de precisão vai depender da situação e da natureza dos dados sendo manipulados. Se os valores que estão sendo analisados são relativamente pequenos, o uso do int32, por exemplo, pode ser o suficiente, podendo economizar espaço em memória. Entretanto, se tivéssemos trabalhando com dados científicos, por exemplo, que precisam de valores bem grandes, precisaríamos talvez utilizar o int64.

# Tipo float

Além dos inteiros, outros tipos de dados, como o float, também utilizam essa opção de precisão como opção de controle de espaço na memória. De maneira semelhante aos números inteiros, o tipo float também apresenta opções de precisão: entre os tipos mais comuns estão o float32e o float64.

O tipo float64 é um número de ponto flutuante com 64 bits de precisão, que representa um número decimal com até 15 dígitos. Por outro lado, o 'float32' é menor tanto em sua capacidade de bits, com 32 ao total, quanto em sua capacidade de precisão de casas decimais, com a capacidade de precisão até 7 dígitos.

Vamos focar no tratamento da coluna "preco" que, por conter caracteres como cifrão e vírgula, não pode ser convertido para o tipo float.

Precisamos que os dados fiquem no padrão float, ou seja, apenas os números seguidos de ponto e casas decimais.

Para isso, vamos primeiro observar nossa coluna:

In [95]:
dados['preco']

0     [$110.00, $45.00, $55.00, $52.00, $85.00, $50....
1     [$350.00, $300.00, $425.00, $300.00, $285.00, ...
2                                             [$975.00]
3     [$490.00, $550.00, $350.00, $350.00, $350.00, ...
4                                    [$200.00, $545.00]
                            ...
65    [$150.00, $200.00, $143.00, $150.00, $350.00, ...
66    [$99.00, $185.00, $250.00, $200.00, $275.00, $...
67    [$218.00, $350.00, $450.00, $149.00, $99.00, $...
68    [$275.00, $199.00, $400.00, $325.00, $300.00, ...
69                                   [$250.00, $350.00]
Name: preco, Length: 70, dtype: object

Cada elemento dessa coluna é uma string, então podemos fazer uma função que passe linha por linha para remover os caracteres.

Para isso, usaremos o método .apply( ) com lambda, que aplica uma função específica a cada elemento, no caso, a remoção dos caracteres.

Dentro de .apply( ), passamos uma função lambda que lerá cada elemento x, ou seja, os dados de cada linha. Feito isso, usaremos o método .replace( ) para substituir os caracteres de cifrão e vírgula por nada, ou seja, por uma string vazia. Depois, usaremos .strip( ) para remover qualquer caractere antes ou depois do elemento.

In [96]:
dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

# Vai dá erro!

AttributeError: 'list' object has no attribute 'replace'

Note que os dados já não possuem cifrão e vírgula.

Agora, basta atribuirmos o comando à coluna "preco":

In [97]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

Usando .astype( ) depois do tratamento realizado, tentaremos fazer a conversão para float64 utilizando .astype( ):

In [98]:
dados['preco'] = dados['preco'].astype(np.float64)

In [99]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

Ainda nos resta converter as colunas "taxa_deposito" e "taxa_limpeza", que precisam de um tratamento semelhante à "preco". Faremos a seguir!

# Tratando números em strings Exemplo.

Para fazer um estudo financeiro de distribuição salarial em uma empresa, você precisa transformar os dados referentes aos cargos e deixá-los prontos para um estudo estatístico.

Desse modo, ao ler o arquivo com dados, você encontra o seguinte DataFrame:

cargo       	quantidade   	salario

0	Gerência	  2 pessoas   	$10.000 reais

1	Coordenação	1 pessoa	    $8.000 reais

2	Supervisão	3 pessoas	    $7.000 reais

3	Analista	  4 pessoas    	$5.000 reais

4	Assistente	5 pessoas   	$4.000 reais

5	Operação	  3 pessoas	    $3.500 reais

6	Auxiliar	  2 pessoas   	$3.000 reais

7	Estágio	    1 pessoa	    $1.500 reais

8	Assessoria	1 pessoa    	$2.500 reais

9	Consultoria	1 pessoa	    $6.000 reais

Marque a alternativa que torna os dados da coluna quantidade e salario valores numéricos, ou seja, colunas int e float sem a existência do texto que acompanha cada valor.

Para você ter um suporte nos testes, busque utilizar o código abaixo para criar o DataFrame df e encontrar a solução da atividade:

In [ ]:
import pandas as pd
import numpy as np

# dados da firma
dados = {
    'cargo': ['Gerencia', 'Coordenação', 'Supervisão', 'Analista', 'Assistente', 'Operação', 'Auxiliar', 'Estágio', 'Assessoria', 'Consultoria'],
    'quantidade': ['2 pessoas', '1 pessoa', '3 pessoas', '4 pessoas', '5 pessoas', '3 pessoas', '2 pessoas', '1 pessoa', '1 pessoa', '1 pessoa'],
    'salario': ['$10.000 reais', '$8.000 reais', '$7.000 reais', '$5.000 reais', '$4.000 reais', '$3.500 reais', '$3.000 reais', '$1.500 reais', '$2.500 reais', '$6.000 reais']
}

# transformando o dicionário em DataFrame
df = pd.DataFrame(dados)

# df é o DataFrame com os dados da firma
df

Res.: Removemos os textos que estão em volta dos números com apply e lambda.

df['quantidade'] = df['quantidade'].apply(lambda x: x.replace(' pessoas', '').replace(' pessoa', ''))
df['salario'] = df['salario'].apply(lambda x: x.replace('$', '').replace(' reais', '').replace('.',''))
Depois, transformamos as colunas para o tipo numérico com o astype.

df['quantidade'] = df['quantidade'].astype(np.int64)
df['salario'] = df['salario'].astype(np.float64)

A função replace substitui os textos pelos valores vazios '', removendo-os da string original. Em seguida, é necessário utilizar o astype para converter as colunas em numéricas, com o tipo int64 para a coluna quantidade e float64 para a coluna salario.

Agora, ao invés de converter somente uma coluna, como fizemos com "preco", faremos a conversão de duas: "taxa_deposito" e "taxa_limpeza".

# Separar as duas colunas em um dataframe

Iniciaremos visualizando-as:

In [101]:
dados[['taxa_deposito','taxa_limpeza']]

,taxa_deposito,taxa_limpeza
0,"[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $..."
1,"[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $..."
2,"[$1,000.00]",[$300.00]
3,"[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ..."
4,"[$300.00, $2,000.00]","[$40.00, $150.00]"
...,...,...
65,"[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,..."
66,"[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00..."
67,"[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $..."
68,"[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80..."
69,"[$1,000.00, $500.00]","[$150.00, $0]"

Note que, assim como a coluna "preco", temos dados com cifrão e vírgula. Porém, para convertê-los, não usaremos o método .apply( ), pois ele é utilizado para linhas e colunas.

Aplicar o .applymap( )

Quando tratamos da conversão de um dataframe, no qual passaremos por cada elemento, é mais viável utilizarmos o método .applymap().

Dentro dos parênteses deste método, aplicamos o mesmo processo aplicado à "preco". Ou seja, a função lambda e os métodos .replace( ) e .strip( ):

In [104]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$','').replace(',','').strip())

# Transformar valores para float

Vamos transformar os valores dessas colunas para float utilizando o método .astype( ):

In [105]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].astype(np.float64)

In [106]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       58 non-null     float64
 1   experiencia_local     70 non-null     object
 2   max_hospedes          70 non-null     int64
 3   descricao_local       70 non-null     object
 4   descricao_vizinhanca  70 non-null     object
 5   quantidade_banheiros  70 non-null     object
 6   quantidade_quartos    70 non-null     object
 7   quantidade_camas      70 non-null     object
 8   modelo_cama           70 non-null     object
 9   comodidades           70 non-null     object
 10  taxa_deposito         70 non-null     object
 11  taxa_limpeza          70 non-null     object
 12  preco                 70 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ KB

Nosso dataframe também possui dados textuais que precisam ser manipulados, então os trataremos na aula a seguir!

# Desafio: trabalhando em outros contextos

Voltemos a pôr em prática tudo o que aprendemos durante as aulas.

Disponibilizei novamente os 2 novos conjuntos de dados para download abaixo:

 - Projeto desafio 1: vendas online - dados_vendas_clientes.json;

 - Projeto desafio 2: administração de condomínios - dados_locacao_imoveis.json.

Lembrando: São dois projetos de tratamento que serão construídos durante o andamento do curso. Portanto, salve seu código de construção em cada desafio para que possa aplicá-lo nos desafios posteriores.

# Etapa 2

 - Projeto desafio 1: vendas online

Lemos a base de dados no desafio anterior, agora podemos avançar nas transformações desses dados. Então, o novo desafio do projeto 1 será dividido em algumas metas:

 1. Remover os dados em listas dentro do DataFrame;

 2. Verificar os tipos de dados;

 3. Identificar colunas numéricas;

 4. Transformar a coluna numérica para o tipo numérico.

 5. Projeto desafio 2: administração de condomínios

Lemos a base de dados no desafio anterior, agora podemos avançar nas transformações desses dados. Então, da mesma forma que o projeto 1, o desafio do projeto 2 está listado em algumas metas:

 - Remover os dados em listas dentro do DataFrame;

 - Verificar os tipos de dados;

 - Identificar colunas numéricas;

 - Transformar a coluna numérica para o tipo numérico.

Podem existir diversas formas de solucionar uma questão. Irei apresentar como eu solucionei os problemas e não quer dizer que essas são as melhores soluções, mas são uma opção de solução.

# Projeto desafio 1: vendas online

In [ ]:
# Coletar os valores das colunas e verificar
colunas = list(dados.columns)
colunas

# Destrinchar as listas com explode
dados = dados.explode(colunas[1:])
# Resetar os index das linhas
dados.reset_index(drop=True,inplace=True)
# Observar o DataFrame
dados

# Verificar os tipos de dados com info
dados.info()

# A coluna numérica é a 'Valor da compra'
dados['Valor da compra']

# Iniciar a transformação
# Import da biblioteca numpy
import numpy as np
# Remover os textos presentes na base
# Trocar as vírgulas separadoras do decimal por ponto
dados['Valor da compra'] = dados['Valor da compra'].apply(lambda x: x.replace('R$ ', '').replace(',','.').strip())
# Alterar os tipo de dado para float
dados['Valor da compra'] = dados['Valor da compra'].astype(np.float64)
# Verificar a transformação
dados.info()

# Projeto desafio 2: administração de condomínios

In [ ]:
# Coletar os valores das colunas e verificar
colunas = list(dados.columns)
colunas

# Destrinchar as listas com explode
dados = dados.explode(colunas[1:])
# Resetar os index das linhas
dados.reset_index(drop=True,inplace=True)
# Observar o DataFrame
dados

# Verificar os tipos de dados com info
dados.info()

# A coluna numérica é a 'valor_aluguel'
dados['valor_aluguel']

# Iniciar a transformação
# Import da biblioteca numpy
import numpy as np
# Remover os textos presentes na base
# Trocar as vírgulas separadoras do decimal por ponto
dados['valor_aluguel'] = dados['valor_aluguel'].apply(lambda x: x.replace('$ ', '').replace(' reais', '').replace(',','.').strip())
# Alterar os tipo de dado para float
dados['valor_aluguel'] = dados['valor_aluguel'].astype(np.float64)
# Verificar a transformação
dados.info()

# Minhas soluções com o projeto dos desafios foram feitas em um notebook python que será disponibilizado ao final do curso.

# Aula 03 - Dados Textuais

Pensando na aplicação dos dados que estamos trabalhando agora, é interessante fazer um estudo sobre os serviços oferecidos por cada imóvel. Por exemplo: a descrição do local, a vizinhança e comodidades que aquele imóvel oferece podem também ser parâmetros desse estudo.

Podemos tratar esses textos buscando criar uma estrutura mais acessível para realizar essa análise textual. Nessa aula, realizaremos a manipulação dos textos de cada coluna textual para criar uma estrutura de tokenização simples.

A tokenização é a divisão do texto em tokens, ou seja, unidades menores. Esses tokens podem ser palavras, sílabas, conjuntos de palavras e assim por diante, dependendo do tipo de aplicação.

Como faremos uma tokenização simples, separaremos o texto apenas por palavras. Ou seja, os tokens serão cada palavra do nosso texto.

# Manipulação dos textos

Podemos começar a estruturar a tokenização padronizando o nosso texto para letras minúsculas. Então, de volta ao Google Colab, o primeiro passo será manipular os dados da coluna descricao_local. Essa coluna será o foco inicial da nossa aula.

Numa nova célula, vamos escrever a chamada dessa coluna:

In [107]:
dados['descricao_local']

0     [This clean and comfortable one bedroom sits r...
1     [Welcome to the heart of the 'Ballard Brewery ...
2     [New modern house built in 2013.  Spectacular ...
3     [Our NW style home is 3200+ sq ft with 3 level...
4     [Perfect for groups. 2 bedrooms, full bathroom...
                            ...
65    [Our cozy little bungalow is the perfect place...
66    [Bright clean 2 bedroom 1 bath appartment in t...
67    [Beautiful end-unit townhome with lots of dayl...
68    [Heart of Ballard new townhome with 4 BRs + ba...
69    [This business-themed modern home features:  *...
Name: descricao_local, Length: 70, dtype: object

Podemos observar que temos letras maiúsculas nos textos. Para converter todos esses elementos para letras minúsculas, podemos utilizar o método str().

Com ele, conseguimos ler a nossa série como se ela fosse elementos de strings, de modo similar aos métodos apply e applymap.

Então, ao lado de dados['descricao_local'], colocamos um .str(). Isso já fará o processo de leitura dos elementos dessa coluna como strings. A partir disso, podemos aplicar os métodos originários do tipo string nesse dataframe. Então, se queremos transformar essas letras para minúsculas, utilizaremos o método lower( ):

In [108]:
dados['descricao_local'].str.lower()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
Name: descricao_local, Length: 70, dtype: float64

Ou seja, o resultado desse método são as frases com apenas letras minúsculas. Para atribuir esses dados que acabamos de criar, podemos fazer a atribuição de costume:

In [109]:
dados['descricao_local'] = dados['descricao_local'].str.lower()

In [111]:
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,NaN,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,NaN,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,NaN,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,NaN,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,NaN,[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

## Descobrimos como manipular um texto dentro de um dataframe com o str( ). Com isso, poderemos partir para a próxima etapa da nossa tokenização simples: a retirada de caracteres que não trazem nenhuma informação.

# Removendo caracteres com Regex

In [112]:
dados['descricao_local'][3169]

In [122]:
dados['descricao_local'] = dados['descricao_local'].str.replace('[^a-zA-Z0-9\-\']',' ',regex=True)

In [ ]:
dados['descricao_local'] = dados['descricao_local'].str.replace('(?<!\w)-(?!\w)',' ',regex=True)

In [120]:
dados['descricao_local'] = dados['descricao_local'].str.split()

dados.head()

In [122]:
dados['comodidades'] = dados['comodidades'].str.replace('\{|}|\"','',regex=True)

In [117]:
dados['comodidades'] = dados['comodidades'].str.split(',')

dados.head()

In [123]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

In [119]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [124]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [125]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [126]:
dt_data.head()

    id       data  vaga_disponivel preco
0  857 2016-01-04            False  None
1  857 2016-01-05            False  None
2  857 2016-01-06            False  None
3  857 2016-01-07            False  None
4  857 2016-01-08            False  None

In [128]:
dt_data['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [130]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

# Aula 04 - Para saber mais: o tipo datetime

# Para saber mais: o tipo datetime

A classe datetime é um tipo de dado que representa uma data e hora específicas em Python. Ela permite trabalhar e manipular dados de ano, mês, dia, hora, minuto, segundo e microssegundo, além de dias da semana, como segunda, terça, quarta, etc.

Essa classe é definida no módulo datetime e é fundamental na manipulação de datas e horários em Python. Com ela, é possível realizar operações de cálculo de diferenças entre datas, formatação de datas e horas em diferentes formatos, além de ser muito útil em análises de dados que envolvem séries temporais.

Com a biblioteca Pandas, é possível realizar diversas operações com datas e horários, como a conversão de dados de string para datetime, a filtragem de dados baseada em intervalos de tempo específicos, a agregação de dados por hora, dia, mês ou ano, entre outras funcionalidades. Desse modo, com essa biblioteca, é possível realizar diversas operações com datas de forma simples e eficiente dentro de um conjunto de dados.

## Biblioteca datetime

Conseguimos trabalhar diretamente com o datetime através da biblioteca datetime, uma biblioteca padrão do Python que fornece classes para trabalhar com datas e horas. Com essa biblioteca, é possível criar objetos de data e hora, realizar cálculos de tempo, formatar datas e horas em diferentes formatos e muito mais.

Dentro da biblioteca datetime, existe a classe datetime, que representa uma data e hora específicas. Veja um exemplo:

In [ ]:
import datetime

# criando um objeto datetime com a data e hora atual

agora = datetime.datetime.now()

print("Data e hora atual:", agora)

Neste exemplo, o método now( ) da classe datetime é usado para criar um objeto que representa a data e a hora atual. O objeto resultante é armazenado na variável agora e, em seguida, é impresso na tela usando a função print( ).
Outra classe importante na biblioteca datetime é a classe date, que representa apenas uma data.

In [ ]:
import datetime

# criando um objeto date com a data de hoje

hoje = datetime.date.today()

print("Data de hoje:", hoje)

Neste exemplo, o método today( ) da classe date é usado para criar um objeto que representa a data de hoje. O objeto resultante é armazenado na variável hoje e, em seguida, é impresso na tela usando a função print( ).

A biblioteca datetime também permite realizar operações matemáticas com datas e horas. Veja um exemplo de como calcular a diferença entre duas datas:

In [ ]:
import datetime

# criando dois objetos date com datas diferentes

data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando a diferença entre as duas datas

diferenca = data_2 - data_1

print("Diferença entre as duas datas:", diferenca)

Neste exemplo, dois objetos date são criados com datas diferentes. Em seguida, o operador de subtração é usado para calcular a diferença entre as duas datas. O resultado é armazenado na variável diferenca e, em seguida, é impresso na tela usando a função print( ).

Para se aprofundar nos usos do tipo datetime consulte o artigo Python datetime: Como faço para definir data e hora em Python? e também a documentação da biblioteca datetime.

# Transformando os dados para tempo

Temos uma base de dados aliada à nossa antiga base de dados com a qual trabalhamos nas aulas anteriores. Mas desta vez, ela contém as vagas diárias disponibilizadas em vários imóveis para hospedagem durante o ano de 2016.

Esta é uma base que mostra a oferta de imóveis disponíveis para aluguel durante este ano, o que pode ser interessante para a precificação inteligente, o foco da nossa aplicação.

Isso quer dizer que lidaremos com dados de tempo, ou seja, o tipo de dado datetime.

Vamos voltar ao nosso Google Colab, onde faremos o upload deste notebook.

# Vamos utilizar a base de dados moveis_disponiveis.json.

Observação: A base de dados utilizada neste vídeo está disponível para download entre as atividades da primeira aula deste curso.

Para subir os dados, acessaremos a barra de ferramentas lateral, à esquerda da tela, onde clicaremos no botão "Arquivos".

Com isso, será aberta uma aba lateral secundária à direita, onde veremos o conteúdo da pasta "Arquivos" — entre eles, o arquivo dados_hospedagem.json que foi importado anteriormente.

Nesta aba, clicaremos no botão "Fazer upload para o armazenamento da sessão". Na janela do explorador, buscaremos a base de dados abaixo, que já deverá ter sido baixada.

moveis_disponiveis.json
Clicaremos no arquivo e em seguida no botão "Abrir". Com isso, realizaremos o upload desta base de dados. Por ser extensa, o processo pode demorar.

Vamos esperar o arquivo ser carregado no Google Colab. Quando este processo terminar, veremos na aba secundária lateral o nome do nosso arquivo junto ao arquivo dados_hospedagem.json.

Vamos realizar a leitura da nova base e transformá-la em dataframe.

Com o Pandas instalado em nossa biblioteca, criaremos um dataframe chamado dt_data, o qual receberá os dados de moveis_disponiveis. Para isso, digitaremos o comando abaixo na primeira linha.

In [ ]:
dt_data = pd.read_json()

Entre os parênteses do método, adicionaremos o caminho até o arquivo que importamos. Para coletá-lo, voltaremos à aba secundária à direita, onde o buscaremos e clicaremos no botão à sua direita, que possui um ícone de três pontos.

Será aberta uma lista suspensa, onde selecionaremos a opção "copiar caminho". Com isso, teremos o caminho do arquivo vinculado à nossa área de transferência.

Voltando à linha 1, entre os parênteses do read_json( ), abriremos e fecharemos aspas simples, entre as quais pressionaremos "Ctrl+V" para colar todo o caminho de leitura do arquivo JSON.

In [ ]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

Pressionaremos "Ctrl+Enter" para descer de linha e escreveremos um dt_data.head() para observar esta base de dados.

In [ ]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')

dt_data.head()

Notamos que não é necessário realizar novamente o passo da normalização com o JSON, pois quando utilizamos o read_json( ), nossa base veio pronta.

Temos quatro colunas: id, data, vaga_disponivel e preco. Dentre elas, aquela que mais nos interessa é a data.

Vemos que ela possui o formato "ano-mês-dia" (AAAA-MM-DD). Este é um formato padrão da estrutura do datetime, portanto, não precisamos nos preocupar com a formatação.

Nos resta verificar se os dados estão no tipo datetime. Para isso, selecionaremos a próxima célula e adicionaremos o método info().

In [ ]:
dt_data.info()

Nele, notaremos que o tipo (Dtype) da segunda linha (que representa a coluna data) é object. Transformaremos esta coluna no tipo desejado — o temporal, ou seja, o datetime.

O Pandas fornece o método to_datetime( ) que nos permite transformar a coluna de um dataframe em datetime. Vamos chamar o Pandas pelo comando pd e utilizar este método em nossa célula.

Dentro dos parênteses, vamos adicionar um dt_data[ ], que receberá entre os colchetes a coluna a ser modificada (data) entre aspas simples, para verificarmos a disponibilidade de datas durante o ano.

In [ ]:
pd.to_datetime(dt_data['data'])

Contudo, devemos nos atentar ao formato informado abaixo da tabela de dados:

dtype: datetime64[ns]

O formato deixou de ser object e passou a ser datetime64, portanto, conseguimos converter esses dados com o método to_datetime( ).

Para realizar a atribuição, voltaremos à célula que possui o comando recém-executado. À esquerda deste comando, adicionaremos um dt_data['data'] junto ao sinal de igual. Desta forma, ocorrerá a substituição da coluna data antiga pela nova que convertemos.

In [ ]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

Pressionaremos "Shift+Enter" para rodar o comando. Um sinal de check será exibido à esquerda da célula, indicando que a execução foi bem-sucedida.

Na célula seguinte, utilizaremos novamente o info( ), pressionando em seguida "Shift+Enter".

In [ ]:
dt_data.info()

Convertemos o tipo do nosso dado para datetime. A seguir, poderemos construir um conjunto que mostre a oferta de imóveis por meses.

# Manipulando dados temporais

Vamos focar em manipular nossos dados de tempo para construir um conjunto com as ofertas de móveis disponíveis para aluguel ao longo do ano de 2016.

Para começar, voltaremos ao Google Colab. Nele, visualizaremos novamente a situação atual do nosso dataframe, rodando o comando abaixo com "Shift+Enter":

In [ ]:
dt_data.head()


Concentraremos nossa análise nas colunas data e vaga_disponivel. No caso desta última, já sabemos que possui valores boolianos true e false e realiza uma verificação, onde o retorno true significa que, naquela data determinada, havia uma vaga naquele imóvel. Já o retorno false indica que não temos vaga naquela data.

Nas atividades desta aula, descobrimos o método chamado strftime, capaz de formatar os valores de data para o formato que quisermos.

Se conseguirmos agrupar todas as datas de determinados meses e contar quantas vezes a coluna vaga_disponivel for true, conseguiremos obter um calendário com a quantidade de vagas disponíveis durante o mês.

Construiremos esta formatação selecionando na visualização apenas o ano e o mês. Para isso, escreveremos na célula o comando dt_data[ ], selecionando entre colchetes e aspas simples a coluna data.

Fora dos colchetes, adicionaremos um ponto, o comando dt para chamar o tipo datetime (assim como fizemos com o str), outro ponto, e por fim, o strftime( ) que fará a formatação do tempo.

Entre os parênteses deste método, adicionaremos aspas simples. Entre estas, por sua vez, adicionaremos a formatação desejada — neste caso, um &Y-%m, onde Y maiúsculo representa o ano (Year) e m minúsculo representa o mês (month).

Adicionamos uma barra entre eles para que o retorno seja feito no formato "YYYY-mm".

In [ ]:
dt_data['data'].dt.strftime('%Y-%m')

Com isso, conseguiremos agrupar todos esses meses e também as vagas disponíveis em cada mês do ano de 2016. Para isso, utilizaremos o método groupby.

Temos alguns dias do ano de 2017, mas criaremos um subset com com todos os dados disponíveis.

Em uma nova célula, abaixo do último retorno, digitaremos o comando dt_data.groupby( ).

Especificaremos a categoria que será agrupada — ou seja, a seleção "ano–mês" que realizamos no último comando executado. Para isso, vamos copiar todo esse comando e colar entre os parênteses do groupby( ).

À direita do comando colado, ainda dentro do groupby( ), adicionaremos entre colchetes a coluna a ser agrupada por mês — a vaga_disponivel.

À direita desta coluna, adicionaremos um sum ( ) para realizar uma soma com este agrupamento.

Como os valores são boolianos, o Python considerará o true como 1 e o false como 0. Sempre que houver uma vaga disponível, ou seja, true, ele somará 1, nos retornando no final a soma de todas as vagas disponíveis.

In [ ]:
dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

Nele, temos os conjuntos de meses agrupados e a quantidade de valores true para cada mês. Este é o nosso subset informando as vagas disponíveis por mês coletadas e acessadas pelo banco de dados.

Atribuiremos este resultado a uma variável chamada subset. Para isso, acessaremos a última célula executada e, à esquerda do código anterior, adicionaremos um subset junto ao sinal de igual.

In [ ]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

Com isso, teremos armazenado esses dados. Vamos visualizá-los novamente, apertando o "Enter" e digitando na nova linha um subset.

In [ ]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

subset

Com esta manipulação, construímos um subconjunto de dados que indicam a oferta dos imóveis disponíveis. Acreditamos que isso ajudará bastante a equipe de análise de dados.

# Desafio: faça você mesmo

Nessa aula, aprendemos a manipular os dados temporais através do tipo datetime. Entendemos como transformar uma coluna para datetime e, depois, manipulamos esses dados. Mesmo assim, nem todos os dados do conjunto moveis_disponiveis.json foram tratados.

Durante as aulas desse curso, descobrimos como transformar e trabalhar com valores numéricos, por exemplo, removendo valores numéricos dentro de um texto e transformando-os em um tipo numérico, como int64 ou float64.

Sabendo disso, nessa atividade, proponho que você faça a transformação dos dados na coluna preco do conjunto de dados moveis_disponiveis.json para o tipo numérico float64. Lembrando que, antes de fazer isso, você precisa preencher os valores vazios na coluna por um valor. Uma sugestão: substitua pela string '0.0'.

Fique à vontade para seguir com os mesmos passos dados em aula ou, se preferir, realizar outros aprimoramentos, como a remoção de algum caractere ou de stopwords. Na seção “Opinião da pessoa instrutora”, você vai encontrar uma possibilidade de resolução para essa atividade.

Para transformar os dados da coluna preco, realizei os mesmos passos seguidos em aula. Mas como explicado anteriormente, você tem liberdade para aplicar outros processos no tratamento.

In [ ]:
# importamos a biblioteca numpy
import numpy as np

# utilizamos o método fillna para preencher os elementos vazios por '0.0'
# definimos o parâmetro de inplace para True para substituir no DataFrame

dt_data['preco'].fillna('0.0', inplace = True)

# apagamos o $ e as vírgulas com apply lambda

dt_data['preco'] = dt_data['preco'].apply(lambda x: x.replace('$', '').replace(',',''))

# transformamos os tipos de dados para float64

dt_data['preco'] = dt_data['preco'].astype(np.float64)

# observamos o resultado final

dt_data

# Desafio: trabalhando em outros contextos

Voltemos a pôr em prática tudo o que aprendemos durante as aulas.

Disponibilizei novamente os 2 novos conjuntos de dados para download abaixo:

Projeto desafio1: vendas online - dados_vendas_clientes.json;

Projeto desafio 2: administração de condomínios - dados_locacao_imoveis.json.

Lembrando: Esses dois projetos de tratamento foram construídos durante o andamento do curso. Portanto, considere os desenvolvimentos anteriores para a realização dessa etapa final.

Etapa 4

## Projeto desafio 1: vendas online

Nas etapas anteriores, já trabalhamos com vários tipos de dados, agora podemos trabalhar com os dados de tempo.

Na coluna Data de venda, temos datas em formato 'dia/mês/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualização de subconjunto que possa contribuir no objetivo do contexto que os dados estão inseridos.

Se você não lembra o problema do projeto desafio 1, vou deixar abaixo o texto da situação para facilitar o encontro da informação:

O objetivo desse projeto é realizar uma análise dos resultados de um evento com os clientes de uma empresa de vendas online. Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento.

Essa análise vai identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja, e posteriormente, ela pode ajudar a empresa a criar novas estratégias para atrair mais clientes.

## Projeto desafio 2: administração de condomínios

Assim como no projeto desafio 1, trabalhamos com todas as colunas exceto as que envolvem datas.

Nas colunas datas_de_pagamento e datas_combinadas_pagamento, temos datas em formato 'dia/mês/ano' (dd/mm/AAAA). Transforme esses dados para o tipo datetime e busque uma forma de visualização de subconjunto que possa contribuir no objetivo do contexto que os dados estão inseridos.

Se você não lembra o problema do projeto desafio 2, vou deixar abaixo o texto da situação para facilitar o encontro da informação:

A administração de condomínios é uma tarefa que requer muita atenção e organização. Entre as diversas responsabilidades da gestão está o recebimento dos aluguéis dos locatários. Para garantir uma boa saúde financeira do empreendimento, é fundamental que esses pagamentos sejam feitos de forma regular e pontual.

No entanto, sabemos que nem sempre isso acontece. Pensando nisso, proponho um desafio de tratamento de dados com o objetivo de analisar o atraso no pagamento de aluguéis no condomínio fictício de alguns moradores.

Podem existir diversas formas de solucionar uma questão. Irei apresentar como eu solucionei os problemas e não quer dizer que essas são as melhores soluções, mas são uma opção de solução.

# Projeto desafio 1: vendas online

In [ ]:
# Transformar para o tipo datetime definindo o formato de data como DD/MM/AAAA ('%d/%m/%Y')
dados['Data de venda'] = pd.to_datetime(dados['Data de venda'], format='%d/%m/%Y')
# Visualizar o resultado
dados

# Verificar o resultado da transformação
dados.info()

# Calcular o total arrecadado em compras por cada cliente
total_compras = dados.groupby(['Cliente'])['Valor da compra'].sum()
# Visualizar o resultado
total_compras

# Projeto desafio 2: administração de condomínios

In [ ]:
# Transformar para o tipo datetime definindo o formato de data como DD/MM/AAAA ('%d/%m/%Y')
dados['datas_combinadas_pagamento'] = pd.to_datetime(dados['datas_combinadas_pagamento'], format='%d/%m/%Y')
dados['datas_de_pagamento'] = pd.to_datetime(dados['datas_de_pagamento'], format='%d/%m/%Y')

# Visualizar o resultado
dados

# Para contribuir na solução do contexto é possível calcular a diferença de dias
# entre a data combinada e a data de pagamento com dt.days
dados['atraso'] = (dados['datas_de_pagamento'] - dados['datas_combinadas_pagamento']).dt.days

# Observar o novo DataFrame
dados

# Calcular a média de tempo de atraso por apartamentos
media_atraso = dados.groupby(['apartamento'])['atraso'].mean()

# Visualizar o resultado
media_atraso

Minhas soluções com o projeto dos Desafios foram feitas em um notebook python que você pode acessar nos links abaixo:

 - [Projeto desafio 1 - vendas online](https://);

 - [Projeto desafio 2 - administração de condomínios](https://).

![img_pandasIO.jpg]()

# Pandas I/O: trabalhando com diferentes formatos de arquivos: lendo dados HTML e XML - Aula 04.

Dados:https://github.com/alura-cursos/Pandas/blob/main/filmes_wikipedia.html


Escrever um arquivo no formato HTML pode ser especialmente útil quando você deseja compartilhar os seus dados com pessoas que não têm acesso à biblioteca Pandas ou outras ferramentas de carregamento de dados.

Os dados podem ser consultados diretamente no navegador ou incorporados numa página web, facilitando muito a visualização.

# Criando o arquivo HTML



# Lendo páginas web

# Projeto

Uma pessoa está criando um sistema de recomendação de filmes. Mas, para isso, ela precisa de dados de filmes, de avaliações que as pessoas deram para eles.

Ela encontrou um artigo web sobre os 100 melhores filmes listados pelo Instituto Americano de Cinema. Esse artigo está na Wikipedia e, na lateral direita da página, temos uma tabela contendo outros artigos criados pelo mesmo instituto, de 1998 a 2008. Há uma versão atualizada de 2007 do nosso artigo em questão, mas verificaremos a de 1988 primeiro.

Descendo a página, encontramos uma tabela interessante para o projeto, contendo as seguintes colunas: nome do filme, ano de lançamento, diretor, produtora e a posição no ranking, indo do primeiro ao centésimo lugar.

Por fim, mais abaixo na página, encontramos um quadro que parece uma tabela contendo apenas os nomes dos filmes, sua posição no ranking e seus respectivos links para a página da Wikipedia, onde podemos checar a sinopse e conhecer mais sobre eles.

Queremos obter a segunda tabela. Mas, antes disso, precisamos confirmar se isso é realmente uma tabela. Como fazer isso numa página web?

# Checando a tabela

Clicando em qualquer lugar da tela com o botão direito do mouse, clicamos na opção "Inspecionar", para inspecionar a página. Com isso, uma nova aba se abrirá à direita da tela, exibindo o conteúdo da página em HTML.

Ou seja, acessamos todos os códigos usados por trás da página, onde podemos inclusive pesquisar o que quisermos. Pressionando "Ctrl + F" no teclado, surgirá uma pequena caixa de busca sobre o segundo menu de opções da aba, em que digitamos o que queremos localizar.

Geralmente, quando temos tabelas em uma página, elas possuem uma tag em HTML chamada "table", que significa "tabela" em inglês. Uma tag é sempre composta por um sinal de menor e maior com a palavra no meio, então digitamos <"table"> na caixa de busca.

Fazendo isso, localizamos as tabelas no código da página. A caixa de busca indica que há três ocorrências dessa tag no código, e podemos navegar por elas pelas setas à direita da caixa.

A primeira é a tabela de artigos sobre a qual falamos primeiro. Clicamos na seta para baixo para localizar a segunda tabela, de nosso interesse. A terceira é aquela estrutura que parecia uma tabela, e agora sabemos que é uma tabela de fato.

E agora, como podemos carregar esses dados utilizando a biblioteca Pandas?

Para começar, fechamos a aba de inspeção da página. Salvamos essa página em HTML para que você possa acompanhar a aula com o mesmo material do vídeo, porque pode ser que essa página sofra alguma atualização no futuro. Vamos carregá-la no Google Colab.

# Importações

Vamos importar a biblioteca Pandas no Colab, digitando e executando:

# Nova seção

In [ ]:
import pandas as pd

Agora, importamos a página HTML. No menu lateral esquerdo, clicamos em "Arquivos" (ícone de pasta). Na aba de Arquivos, clicamos em "Fazer upload" (ícone de documento com um "+") na barra superior.

Selecionamos o arquivo filmes_wikipedia e clicamos em "Abrir", e depois em "Ok" no aviso do Colab. Um novo item chamado filmes_wikipedia.html surgirá no menu de Arquivos.

Agora, copiamos o caminho desse arquivo. Para isso, clicamos nos três pontos verticais à direita do item filmes_wikipedia.html e, em seguida, em "Copiar caminho". Já podemos fechar o menu de Arquivos.

# Variável dados_html

Na segunda célula, vamos criar uma variável chamada dados_html. Ela receberá o chamado de Pandas, com pd, e a função de leitura de arquivos HTML: .read_html(). Entre os parênteses colocamos aspas simples e colamos o caminho que acabamos de copiar:

In [ ]:
dados_html = pd.read_html('/content/filmes_wikipedia.html')

dados_html

Aparentemente é uma lista, porque começa com colchetes. Primeiro temos os dados daquela primeira tabela, começando em 1998 e indo até 2008. Abaixo disso, temos os dados da segunda tabela e, por fim, os dados da terceira.

Mas, por que não surgiu um dataframe?

A função read_html() busca pelas tags <table> e transforma esses dataframes em uma lista. Ou seja, nossa lista contém os dataframes um abaixo do outro. Podemos confirmar isso ao verificar o tipo da variável criada, dados_html, executando o seguinte comando:

In [ ]:
len(dados_html)

In [ ]:
type(dados_html)

# Acessando um dataframe específico

Se quisermos acessar um dataframe específico entre esses três, podemos simplesmente usar sua posição na lista. Então, para visualizar o segundo dataframe, que contém os dados de nosso interesse, vamos criar uma nova variável.

Chamaremos essa nova variável de top_filmes, ou seja, os melhores filmes. Nela vamos chamar dados_html e, entre colchetes, passamos a posição desejada desse dataframe, que será o número 1.

Lembre-se que, em Python, a indexação sempre começa em zero. Então, o primeiro item é o número zero, o segundo é o número um, e o terceiro será o número dois.

In [ ]:
top_filmes = dados_html[1]

In [ ]:
top_filmes

Escrevendo arquivos HTML

Vamos salvar o dataframe top_filmes em HTML. Para isso, numa nova célula, digitamos o nome do dataframe junto da função .to_html(). Entre os parênteses abrimos aspas simples e damos um nome para esse arquivo, como "top_filmes.html":

In [ ]:
top_filmes.to_html('top_filmes.htm')

# Visualizando os dados no navegador

Agora, vamos checar esse arquivo que foi salvo clicando em "Arquivos" (ícone da pasta) no menu lateral esquerdo e, na aba de Arquivos, clicamos nos três pontos verticais do item top_filmes.html e, em seguida, em "Fazer download".

Feito o download, vamos clicar no arquivo exibido na barra inferior do navegador. O arquivo é aberto automaticamente numa nova aba do navegador, exibindo a tabela que obtivemos no Colab com todos os dados em suas respectivas colunas, do 1 ao 100. Fantástico!

Conseguimos pegar aquela tabela e disponibilizá-la num formato possível de abrir no navegador e também incorporar numa página web. Você pode, inclusive, melhorar essa visualização se tiver alguma familiaridade com o front-end.

Além do formato HTML, podemos salvar esses dados em outros formatos. A pessoa que está criando esse sistema de recomendação provavelmente vai querer tratar esses dados e adicionar informações novas. Para isso, é interessante ter um arquivo no formato CSV ou um formato Excel para trabalhar mais facilmente.

In [ ]:
pd.read_html('/content/top_filmes.html')

In [ ]:
dados_html = pd.read_html('/content/filmes_wikipedia.html')
dados_html

In [ ]:
# Salvando em formato CSV

top_filmes.to_csv()

Vamos salvar esse mesmo top_filmes no formato CSV. Para isso voltamos ao Colab e, numa nova célula, vamos digitar top_filmes e usar a função to_csv(). Entre os parênteses, passamos o nome do arquivo entre aspas simples, como 'top_filmes_1998.csv'.

Também precisamos passar o index=False quando salvamos um arquivo no formato CSV ou Excel, para evitar que uma nova coluna de index seja adicionada ao dataframe.

In [ ]:
top_filmes.to_csv('top_filmes_1998', index=False)

Executamos essa célula e, novamente, voltamos ao menu de Arquivos. O arquivo top_filmes.1998.csv já foi salvo, então clicamos no menu de três pontos verticais e, depois, em "Copiar caminho" apenas para verificar se está tudo certo com o arquivo.

Fechamos o menu. Numa nova célula digitamos pd.read_csv() e, entre os parênteses, colamos o caminho copiado entre aspas:

Ao executar essa célula, a saída recebida é o dataframe desejado. Então, temos um arquivo CSV contendo esses dados! A pessoa que está criando o sistema de recomendação pode utilizar esse arquivo e seguir com as futuras análises.

Mas, além de encontrar esses dados na Wikipedia, essa pessoa também encontrou um arquivo com informações mais detalhadas, contendo uma série de filmes com as notas que usuários atribuíram. Mas, esse arquivo está num formato diferente: o XML.

In [ ]:
dados = pd.read_csv('/content/top_filmes_1998')

In [ ]:
dados.head()

# Para saber mais: o que é HTML?

HTML (Hypertext Markup Language - Linguagem de marcação de hipertexto) é o código que usamos para estruturar uma página web e seu conteúdo. O HTML consiste em uma série de elementos que são usados para delimitar ou agrupar diferentes partes do conteúdo para que ele apareça ou atue de determinada maneira.

Um documento HTML começa com a tag <"html"> e termina com a tag <"/html">.

Ele também contém um cabeçalho (<"head">) que descreve o título da página e outras informações relevantes; e um corpo (<"body">) que contém o conteúdo da página. O cabeçalho e o corpo são delimitados pelas tags <"head"> e <"/head">, e <"body"> e <"/body">, respectivamente.

Dentro do corpo podemos usar vários elementos para criar a estrutura do conteúdo. Note cada detalhe no exemplo a seguir:

tags <"h1"> a <"h6"> : criar títulos e subtítulos.

tags <"p">: criar parágrafos.

tags <"ul"> e <"li"> : criar listas não ordenadas.

tags <"img">: inserir imagens.

tags <"table">, <"tr">, <"th"> e <"td">: criar tabelas.

Além disso, podemos usar atributos nos elementos HTML para especificar propriedades adicionais.

Por exemplo: podemos usar o atributo src na tag <img> para indicar o endereço da imagem que queremos mostrar, ou o atributo href na tag <a> para indicar o endereço do link que queremos criar.

Caso queira aprofundar ainda mais nesse assunto recomendamos os seguintes artigos:

O que é o HTML e suas tags? Parte 1: estrutura básica.

O que é o HTML e suas tags? Parte 2: elementos inline.

O que é o HTML e suas tags? Parte 3: elementos block-level.

-------------------------------------------------------------------------

Lendo/Escrevendo arquivos XML

Dados: https://github.com/alura-cursos/Pandas/blob/main/imdb_top_100.xml

Agora temos um arquivo mais detalhado sobre os filmes, porém ele está no formato XML.

Para entender como esse formato é estruturado, vamos abrir o GitHub em que este arquivo está localizado. Ele é o arquivo imdb_top_1000.xml; ou seja, os dados desse arquivo foram obtidos do IMDB, uma base de dados que contém informações sobre filmes e séries, onde as pessoas atribuem uma nota às obras que assistem.

# O que é XML?

Esse nome é uma sigla da expressão em inglês Extensible Markup Language, ou "Linguagem de marcação estendida". Sua estrutura de tags é muito parecida com o HTML.

No nosso arquivo, temos uma tag logo no início chamada <"data">. Essa é a tag raiz que indica o início do documento. Em seguida temos uma tag chamada "row">, "linha" em português. Para cada linha, temos várias tags que contêm as informações que estarão em cada uma das colunas.

Na primeira linha, por exemplo, temos as seguintes informações:

In [ ]:
<data>
  <row>
    <index>0</index>
    <Poster_Link>https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg</Poster_Link>
    <Series_Title>The Shawshank Redemption</Series_Title>
    <Released_Year>1994</Released_Year>
    <Certificate>A</Certificate>
    <Runtime>142 min</Runtime>
    <Genre>Drama</Genre>
    <IMDB_Rating>9.3</IMDB_Rating>
    <Overview>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</Overview>
    <Meta_score>80.0</Meta_score>
    <Director>Frank Darabont</Director>
    <Star1>Tim Robbins</Star1>
    <Star2>Morgan Freeman</Star2>
    <Star3>Bob Gunton</Star3>
    <Star4>William Sadler</Star4>
    <No_of_Votes>2343110</No_of_Votes>
    <Gross>28,341,469</Gross>
  </row>

# Lendo um arquivo XML

amos ler esse arquivo no Google Colab. Para isso, fazemos seu upload clicando em "Arquivo > Fazer upload" no menu lateral esquerdo. Localizamos e selecionamos o arquivo imd_top_1000 e clicamos em "Abrir".

Com o arquivo carregado no menu de Arquivos, clicamos nos três pontos verticais e em "Copiar caminho". Fechamos o menu e voltamos para os códigos.

Para começar, importamos a biblioteca Pandas:

In [ ]:
import pandas as pd

In [ ]:
# Em seguida, criamos uma variável chamada dados_imdb, que será igual a pd.red_xml(), uma nova função.
# Dentro dos parênteses, abrimos aspas simples e colamos o caminho para o arquivo:

dados_imdb = pd.read_xml('/content/imdb_top_1000.xml')

Temos as seguintes informações no dataframe: um link para o pôster de cada um dos filmes, os títulos, ano de publicação, certificado, duração do filme, gênero, nota no IMDB, sinopse, meta score, diretor, atores principais, número de votos e orçamento.

In [ ]:
dados_imdb.head()

# Escrevendo um arquivo XML

Fizemos a leitura de um arquivo XML e entendemos sua estrutura! Agora, podemos escrever no formato XML.

Para isso, numa nova célula, vamos escrever o nome da nossa variável dados_imdb e usar a função to_xml(' '). Dentro dos parênteses e aspas, damos o nome do arquivo, como "filmes_imdb.xml":

In [ ]:
dados_imdb.to_xml('filmes_imdb.xml')

Ao executar essa célula, salvamos um arquivo no formato XML. Verificamos um novo arquivo chamado filmes_imdb.xml no menu de Arquivos!

Essa função to_xml(), para salvar no formato XML, é muito útil quando trabalhamos com bancos de dados ou outros sistemas que se integrem facilmente a esse formato.

# Para saber mais: o que é XML?

XML é uma linguagem de marcação que permite criar e descrever dados de forma estruturada e padronizada. Ela é composta por linhas de comandos que usam tags para definir os elementos e os atributos dos dados.

A estrutura básica de um documento XML é formada por:

Uma declaração inicial que indica a versão, o encoding e o tipo do documento.
Um elemento raiz que contém todos os outros elementos do documento.
Elementos filhos que podem ter outros elementos ou conteúdo de texto dentro deles.
Atributos que fornecem informações adicionais sobre os elementos.
Um exemplo simples de um documento XML é:

In [ ]:
# Um exemplo simples de um documento XML é:

# xml
# <?xml version="1.0" encoding="UTF-8"?>
# <animais>
#   <animal nome="Mel" tipo="cachorro" cor="marrom"/>
#   <animal nome="Vick" tipo="gato" cor="branco"/>
# </animais>

Neste exemplo, <"animais"> é o elemento raiz, <"animal"> é um elemento filho com três atributos (nome, tipo e cor) e Mel e Vick são os conteúdos de texto dos elementos.

Podemos encontrar mais informações sobre a estrutura XML na página: XML para iniciantes - Suporte da Microsoft.

# Entendendo a estrutura XML

Gabriel está analisando dados de uma loja online de produtos eletrônicos. Ele recebeu um arquivo XML que contém informações sobre os produtos da loja, como: nome, preço e categoria.

<"produto">

  <"produto id="1"">

    <"nome>Smartphone</nome">

    <"preco>4500.00</preco">

    <categoria>Celulares</categoria>

  <"/produto">

  <"produto id="2"">

    <"nome>Notebook</nome">

    <"preco>5000.00</preco">

    <"categoria>Computadores</categoria">

  <"/produto">

  <"produto id="3"">

    <"nome>Tablet</nome">

    <"preco>2000.00</preco">

    <"categoria>Celulares</categoria">

  <"/produto">

<"/produtos">

Analise o arquivo XML acima e escolha a alternativa correta.

Alternativa correta

O arquivo XML é composto por um elemento raiz chamado <produtos> e três elementos filhos chamados <produto>, cada um com um atributo id.


A alternativa descreve corretamente a estrutura do arquivo XML. Há um elemento raiz <produtos> que contém todos os outros elementos do documento.Os elementos filhos <produto> contém o atributo id.

-------------------------------------------------------------------------


# Desafio: lendo uma tabela de uma página web

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Vanessa é uma cientista de dados que está realizando algumas análises com dados ambientais. Ela está desenvolvendo um projeto para avaliar o impacto ambiental das atividades humanas em diferentes países do mundo, mas para isso precisa das estimativas populacionais desses países.

Ao pesquisar na internet, encontrou uma tabela de estimativas populacionais em um artigo da página Wikipédia.

Assim como Vanessa, seu desafio é obter um DataFrame da tabela que contém as informações do número de habitantes de cada país.

Ver opinião do instrutor

Para ler a página, basta passar o endereço à função read_html. Para a primeira tabela ser exibida atribuímos o primeiro elemento da lista, com [0]:


pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

In [ ]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

In [ ]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[1]

# Pandas I/O: trabalhando com diferentes formatos de arquivos: anipulando arquivos JSON - Aula 03

Dados:

 - https://github.com/alura-cursos/Pandas/blob/main/pacientes.json
 - https://github.com/alura-cursos/Pandas/blob/main/pacientes_2.json

# Lendo arquivos JSON

In [ ]:
import pandas as pd

In [ ]:
dados_pacientes = pd.read_json('/content/pacientes.json')

dados_pacientes

In [ ]:
dados_pacientes_2 = pd.read_json('/content/pacientes_2.json')

dados_pacientes_2

# **Normalizando arquivos JSON**

In [ ]:
df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes'])

df_normalizado

# Para saber mais: aprofundando na normalização

Normalização de dados é um processo importante em ciência de dados que tem como objetivo organizar e padronizar dados para facilitar a análise e comparação entre eles. Quando se trata de dados no formato JSON (JavaScript Object Notation - Notação de Objetos JavaScript), é comum que eles estejam aninhados, o que pode dificultar sua análise e manipulação.


A biblioteca Pandas possui uma função chamada json_normalize() que permite a transformação dos dados em um formato tabular, facilitando a visualização e análise das informações. A seguir vamos aprender como usar essa função para normalizar diferentes tipos de JSON em DataFrames.


# Normalizando um JSON simples

Abaixo temos uma variável chamada dados e dentro dela há um objeto JSON com três chaves e seus respectivos valores:

In [ ]:

dados = {'Pesquisa': 'Principais Indicadores de Doenca Cardiaca', 'Ano': 2020, 'Numero_Pacientes':3}

# Para normalizar essa variável, podemos passa-lá dentro da função json_normalize e analisar o DataFrame obtido:

df = pd.json_normalize(dados)
df

O resultado parece ótimo! Temos 3 colunas que são as nossas chaves e uma linha contendo os valores para cada chave.

# Normalizando um JSON com vários níveis

Existem situações em que o arquivo JSON pode conter mais de um objeto, como é o caso do exemplo abaixo, no qual temos uma lista, armazenada na variável json_lista, contendo dois objetos JSON:

In [ ]:
json_lista = [
    { 'ID': '01', 'Faixa_etaria': '55-59', 'Sexo_biologico': 'feminino'},
    { 'ID': '02', 'Faixa_etaria': '80 ou +', 'Sexo_biologico': 'feminino'}
]

# Para normalizar essa lista podemos aplicar a função json_normalize:

pd.json_normalize(json_lista)

A função json_normalize() é capaz de converter cada registro da lista em uma linha de forma tabular.

# Normalizando um JSON com uma lista aninhada

Vamos começar analisando a normalização quando os dados são um dicionário. Temos um dicionário armazenado na variável json_obj. Note que na chave “Saude” temos outro dicionário:

In [ ]:
json_obj = {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      }

# Fazendo a normalização:

pd.json_normalize(json_obj)

O DataFrame gerado possui uma coluna para cada informação contida no dicionário que estava em “Saude”. As colunas criadas possuem o prefixo “Saude.”, pois as informações vieram dessa mesma chave.

# Dados como uma lista de dicionários

Agora nós temos uma lista de dicionários armazenada na variável json_list:

In [ ]:
json_list = [
    {
    'ID': '01',
    'Faixa_etaria': '55-59',
    'Sexo_biologico': 'Feminino',
    'Saude': {'Dificuldade_caminhar': 'Nao',
              'Atividade_fisica': 'Sim',
              'IMC': 16.6,
              'Doenca_cardiaca': 'Nao',
          }
      },
      {
          'ID': '02',
          'Faixa_etaria': '80 ou +',
          'Sexo_biologico': 'Feminino',
          'Saude': {'Dificuldade_caminhar': 'Nao',
                    'Atividade_fisica': 'Sim',
                    'IMC': 20.34,
                    'Doenca_cardiaca': 'Sim'}
       }
       ]

# Fazendo a normalização:

pd.json_normalize(json_list)

Podemos analisar que todos os valores aninhados em cada registro da lista foram convertidos em colunas separadas. E os dados que nós normalizamos no vídeo anterior? Lembra que a normalização deles foi feita de um jeito diferente?

Recapitulando, vamos copiar os dados do arquivo pacientes_2.json e armazená-los numa variável chamada dados_dict.

In [ ]:
dados_dict = {
  "Pesquisa": "Principais Indicadores de Doenca Cardiaca",
  "Ano": 2020,
  "Pacientes": [
    {
      "ID": "01",
      "Faixa_etaria": "55-59",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 16.6,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 3,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 5,
      "Problemas_saude": [
        "Diabetes",
        "Asma",
        "Cancer_pele"
      ]
    },
    {
      "ID": "02",
      "Faixa_etaria": "80 ou +",
      "Sexo_biologico": "Feminino",
      "Raça": "Branca",
      "IMC": 20.34,
      "Fumante": "Nao",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 0,
      "Saude_mental": 0,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 7,
      "Problemas_saude": [
        "AVC"
      ]
    },
    {
      "ID": "03",
      "Faixa_etaria": "65-69",
      "Sexo_biologico": "Masculino",
      "Raça": "Branca",
      "IMC": 26.58,
      "Fumante": "Sim",
      "Consumo_alcool": "Nao",
      "Saude_fisica": 20,
      "Saude_mental": 30,
      "Dificuldade_caminhar": "Nao",
      "Atividade_fisica": "Sim",
      "Saude_geral": "Muito boa",
      "Horas_sono": 8,
      "Problemas_saude": [
        "diabetes",
        "Asma"
      ]
    }
  ]
}

# Se tentarmos normalizar esses dados:

pd.json_normalize(dados_dict)

Podemos observar que nossa lista aninhada é colocada em uma única coluna Pacientes. Então, nós usamos o seguinte código para normalizar os dados, especificando qual coluna está aninhada:

In [ ]:
pd.json_normalize(dados_dict['Pacientes'])

Também podemos fazer isso utilizando o parâmetro record_path como ['Pacientes']. Esse parâmetro é usado na função *pd.json_normalize()* para especificar o caminho para os registros que devem ser normalizados em um DataFrame separado:

In [ ]:
pd.json_normalize(dados_dict, record_path=['Pacientes'])

# Com ambos os códigos o resultado é o mesmo.

O resultado parece ótimo, mas não inclui as colunas “Pesquisa” e “Ano”. Para incluí-las, podemos usar o parâmetro meta para especificar outras colunas que queremos no DataFrame.

In [ ]:
pd.json_normalize(
    dados_dict,
    record_path =['Pacientes'],
    meta=['Pesquisa', 'Ano']
)

Dessa forma temos todas as colunas presentes no DataFrame!

Importante: Na aula nós realizamos a normalização em um arquivo com o formato JSON. No entanto, a função json_normalize() aceita apenas um dicionário ou uma lista de dicionários. Por isso, no vídeo foi usada a estratégia de usar o código: pd.json_normalize(dados_pacientes_2['Pacientes']). Porém, se tentarmos usar parâmetros da função json_normalize em um arquivo JSON podem surgir erros. Para contornar isso, precisamos importar o módulo json e ler os arquivos conforme o código abaixo:

# Importando a biblioteca Pandas

In [ ]:
# Importando a biblioteca Pandas

import pandas as pd

# Importando o módulo JSON

import json

# Lendo o arquivo json usando o módulo Python JSON

with open('pacientes_2.json','r') as f:
    dados = json.loads(f.read())

# Normalizando os dados com os parâmetros record_path e meta

pd.json_normalize(dados, record_path='Pacientes', meta=['Pesquisa', 'Ano'])

E, assim, aprendemos como normalizar arquivos JSON simples, com múltiplos níveis e aninhados.

Já conseguimos normalizar o nosso arquivo JSON, mas e se quisermos salvar o arquivo normalizado?

Para fazer isso, chamaremos o data frame normalizado digitando df_normalizado. Para salvá-lo em formato JSON, usaremos a função .to_json(). Dentro dos parênteses, inseriremos aspas simples e daremos um nome para o arquivo, já indicando o formato em que ele será salvo (historico_pacientes_normalizado.json).

In [ ]:
df_normalizado.to_json('historico_pacientes_normalizado.json')

Executaremos esta célula e, se abrirmos novamente o ícone de pasta do lado esquerdo (pasta "Arquivos"), observaremos o arquivo "historico_pacientes_normalizado" em meio à lista de arquivos abertos. Clicando no ícone de três pontos, é possível fazer download, renomear o arquivo, exclui-lo, copiar o caminho ou atualizá-lo.

Clicaremos em "Copiar caminho" e fecharemos a aba esquerda. Para fazer a leitura do arquivo que acabamos de salvar, escreveremos pd.read_json('/content/historico_pacientes_normalizado.json'). Ao executar esta célula, obteremos o data frame normalizado.

Aqui vai uma dica importante: salvamos o arquivo em formato JSON, mas você também pode salvar o seu arquivo em formato CSV ou EXCEL, podendo usá-los para facilitar análises futuras. Assim, você não precisará 'salvar ou converter o mesmo arquivo várias vezes.

In [ ]:
pd.read_json('/content/historico_pacientes_normalizado.json')

# Para saber mais: obtendo arquivos JSON de APIs

Existem vários formatos que podem ser usados em APIs e um dos mais comuns é o JSON (JavaScript Object Notation). O JSON é um formato leve de troca de informações entre sistemas que utiliza uma notação baseada em objetos do JavaScript.

Nós temos a seguinte situação-problema: “Uma empresa de tecnologia está em fase de expansão e deseja otimizar sua base de contatos e a forma como gerencia suas interações com os clientes e parceiros.

A equipe de vendas e atendimento ao cliente está enfrentando dificuldades para acompanhar todos os contatos, entender as necessidades dos diferentes perfis de clientes, e personalizar o atendimento de forma eficiente. Para solucionar isso, a empresa precisa de uma maneira organizada e automatizada para coletar, gerenciar e segmentar informações de seus clientes e parceiros, como nome, e-mail, endereço, telefone e empresa em que trabalham.”

Nesta situação, podemos acessar a API JSONPlaceholder para coletar os dados dos contatos, que incluem nome, e-mail, endereço, telefone, entre outros.

Com esses dados, a equipe pode melhorar suas operações e a comunicação com os clientes.

Uma maneira comum de acessar APIs é por meio da biblioteca requests. Para isso, também é necessário importar o módulo json:

In [ ]:
import requests

import json

# Os dados da JSONPlaceholder serão obtidos com a função request.get('url'). Dentro dela nós passamos o endereço da API:

dados_usuarios = requests.get('https://jsonplaceholder.typicode.com/users')

# Conseguimos recuperar os resultados usando a função json.loads()
# Para isso, é necessário passar a variável dados_usuarios, criada anteriormente com o atributo text que retorna o conteúdo da resposta.

resultado = json.loads(dados_usuarios.text)

# Em seguida, podemos visualizar o DataFrame.

pd.DataFrame(resultado)

Agora sabemos como utilizar a biblioteca requests e o módulo JSON para obter dados de APIs!

# Desafio: normalizando o JSON obtido na API

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

O DataFrame mostrado abaixo foi gerado após a obtenção de dados da API JSONPlaceholder:

In [ ]:
# Lembrando que para obter os dados da API JSONPlaceholder, devemos usar os seguintes códigos:

import requests

import json

dados_usuarios = requests.get('https://jsonplaceholder.typicode.com/users')

resultado = json.loads(dados_usuarios.text)

# Para normalizar os dados precisamos importar a biblioteca Pandas e podemos utilizar a função json_normalize:

import pandas as pd
dados_usuarios_normalizado = pd.json_normalize(resultado, sep='_')

Dica: Ao usar o argumento sep=' _ ' no método pd.json_normalize, você garante que os subcampos de dados aninhados sejam desaninhados com os níveis unidos por um sublinhado (_). Isso facilita o acesso e a manipulação dos dados no DataFrame, mantendo uma estrutura mais clara.

In [ ]:
# Vamos checar o DataFrame normalizado:

dados_usuarios_normalizado

# Pandas I/O: trabalhando com diferentes formatos de arquivos: tilizando Planilhas - Aula 02

Dados: https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx

## Lendo arquivos Excell

## Excel: utilizando planilhas

Temos um novo conjunto de dados: um grupo de pesquisa com dados das emissões de gás carbônico (CO2) pelos países ao longo dos anos. Eles querem analisar esses dados com o objetivo de entender os impactos ambientais gerados pelos países e pensar em questões de sustentabilidade.

Os dados estão em uma planilha, mas o grupo de pesquisa gostaria de usar a biblioteca Pandas no Colab. Será possível?

Para começar, entenderemos o que é uma planilha. De início, vamos abrir a ferramenta Google Planilhas e criar um documento vazio. Na parte superior, teremos colunas nomeadas por letras. Na lateral esquerda, temos colunas numeradas a partir do número um.

Na área central, temos as células. Atualmente, elas estão vazias, mas podem conter informações numéricas ou textuais. Cada uma delas tem uma posição específica, exibida no canto superior esquerdo.

Ao clicar na célula da linha 4 na coluna E, por exemplo, temos a posição "E4". Saber a posição é importante entender onde os dados estão localizados e fazer análises.

No canto inferior esquerdo, é possível alterar entre páginas. No canto esquerdo, temos o símbolo de mais, com o qual podemos adicionar mais páginas.

Em cada página, podemos adicionar informações diferentes, de assuntos distintos. Trata-se de uma forma interessante de organizar nossos dados.

Nessas planilhas, os dados podem estar nos formato Excel (.xlsx) ou CSV, que aprendemos anteriormente. A seguir, vamos conferir em que formato estão os dados do nosso grupo de pesquisa.

No GitHub, temos o arquivo emissoes_CO2.xlsx. Pela extensão .xlsx ao final do nome do arquivo, sabemos que se trata do formato Excel.

Ao abri-lo, notaremos que não é possível visualizá-lo no GitHub (como visualizamos o CSV em aulas anteriores). Em vez disso, temos a seguinte mensagem:

*Sorry about that, but we cant show files that are this big right now.*

Desculpe sobre isso. Não podemos mostrar o arquivos, pois eles são muito grandes agora.

Logo acima dessa mensagem, temos o link "View raw" para visualizar os dados brutos. Ao clicar nele, será feito um download. Para conferir esses dados, é necessário ter o Excel instalado no computador ou carregar o arquivo no Google Planilhas.

A seguir, aprenderemos como ler esse arquivo com a biblioteca Pandas. Após conectar o ambiente no Google Colab, vamos começar importando a biblioteca Pandas na primeira célula:

Agora temos todas as informações separadas e normalizadas!

import pandas as pd

Após executar, vamos declarar uma variável chamada url, na segunda célula. Ela armazenará o endereço da planilha, isto é, o link do arquivo no GitHub:

In [ ]:
url = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

Como comentamos, não conseguimos ter acesso ao dado bruto. Então como leremos o arquivo? Depois de .xlsx, colocaremos um símbolo de interrogação e passar o parâmetro raw=True para trazer o arquivo bruto.

Após executar, faremos a leitura do arquivo. Na terceira célula, criaremos uma variável chamada dados_co2. Invocaremos a biblioteca Pandas e usaremos a função read_excel(), responsável por ler arquivos nesse formato. Dentro dos parênteses, passaremos a URL:

In [ ]:
dados_co2 = pd.read_excel(url)

# A execução pode demorar um pouco, porque o arquivo é grande.
# Na sequência, vamos consultar as cinco primeiras linhas do dataframe gerado, com a função head():

dados_co2.head()

O retorno será uma tabela com cinco linhas e as colunas com o nome do país, código do país, ano, valor total de emissão de gás carbônico, emissões por tipo (carvão, óleo, fás, cimento, queima, outro) e o valor per capita (por cabeça).

Como comentamos, uma planilha pode ter diferentes páginas. Para descobrir se há mais páginas, usaremos uma classe da biblioteca Pandas chamada ExcelFile().

Entre os parênteses, passaremos a URL. Depois, empregamos o atributo sheet_names (nome das páginas):

In [ ]:
pd.ExcelFile(url).sheet_names

A execução pode ser um pouco demorada. Como resultado, temos os nomes das três páginas. Para especificar uma página (entre outras ações), podemos explorar alguns parâmetros da função read_excel(). Em breve, estudaremos esses parâmetros.

# Para saber mais: aprofundando na função read_excel


O Microsoft Excel é uma das ferramentas de planilha mais utilizadas no mundo, sendo amplamente utilizado para armazenar e analisar dados em formato de tabela. No vídeo anterior, demonstramos como a função read_excel pode ser utilizada para ler um arquivo Excel no formato xlsx.

No entanto, essa função é capaz de ler arquivos em outros formatos, como: xls, xlsm, xlsb, odf, ods e odt.

Vamos entender um pouco mais sobre esses diferentes tipos de arquivos?

# xls

O xls é um formato de arquivo do Excel mais antigo e usado até a versão de 2003.

# xlsx

Já o xlsx é o formato de arquivo padrão do Excel a partir da versão 2007. Esse formato é baseado em XML (Extensible Markup Language - Linguagem de marcação extensível) e é amplamente suportado por outras ferramentas de planilha eletrônica, incluindo o Google Planilhas.

Atenção: Se surgiram algumas dúvidas com o termo XML, não se preocupe! Mais adiante teremos uma aula sobre esse tema. Nela você entenderá o que é esse formato, na medida em que lê e escreve em XML.

# xlsm

Há também o xlsm, uma extensão de arquivo usada pelo Excel para armazenar planilhas que contêm as macros. Estas são sequências de comandos ou instruções que podem ser executadas automaticamente para realizar tarefas específicas na planilha.

Então, o formato xlsm permite que as macros sejam salvas juntamente com a planilha, para que possam ser executadas sempre que a planilha for aberta.

# xlsb

Por fim, temos o formato xlsb, uma extensão de arquivo usada pelo Excel para armazenar planilhas em formato binário. A codificação binária permite que as planilhas sejam abertas e salvas com mais rapidez do que aquelas no formato xlsx.

Já os formatos odf, ods e odt são arquivos abertos, livres e universais que podem ser usados por qualquer software, ou seja, foram criados para serem independentes de plataformas, isso significa que podem ser usados em sistemas operacionais diferentes, como Windows, Linux e Mac OS.

Além disso, são independentes de aplicativos e podem ser usados em vários programas diferentes, incluindo o OpenOffice, o LibreOffice, o Google Docs e o Microsoft Office.

Esse padrão de arquivos foi criado e é mantido pela OASIS (Organization for the Advancement of Structured Information Standards), uma organização internacional criada para desenvolver e promover padrões digitais para uso na Internet.

Legal! Agora sabemos um pouco mais sobre todos os tipos de arquivos que podem ser lidos com a funçãoread_excel.

Caso queira aprofundar o assunto, deixamos alguns links para materiais que foram utilizados como referência:

Formatos de arquivos com suporte no Excel
OpenDocument

Nesta aula, exploraremos alguns parâmetros da função que faz a leitura dos arquivos Excel. Vamos acessar a página https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html.

Logo no início, é possível conferir vários parâmetros. Recomendamos que você explore alguns deles.

-------------------------------------------------------------------------

# Parâmetro sheet_name

A seguir, estudaremos o parâmetro sheet_name, com o qual podemos especificar a página da planilha queremos mostrar. Descendo um pouco a página, encontramos uma explicação mais detalhada sobre esse parâmetro.

Por padrão, esse parâmetro é igual a zero. Ou seja, quando não alteramos esse valor, a primeira página será mostrada. Já se definirmos sheet_name=1, consultaremos a segunda página.

Alternativamente, podemos escrever o nome da página, por exemplo, sheet_name="Pagina2".

Vamos testar no Colab!

Nosso objetivo será ler a segunda página, chamada "emissoes_percapita". Criaremos uma variável chamada percapita e chamaremos a função read_excel() da biblioteca Pandas.

Como parâmetros, informaremos a URL e o `sheet_name="emissoes_percapita":

Após a execução, vamos consultar as cinco primeiras linhas com a função head() novamente:

In [ ]:
percapita = pd.read_excel(url, sheet_name='emissoes_percapita')

# Após a execução, vamos consultar as cinco primeiras linhas com a função head() novamente:

percapita.head()

Agora, temos um dataframe contendo somente valores per capita para cada um dos países. Conseguimos ler uma página específica da planilha.

Vamos repetir o processo para a terceira página, chamada "fontes":

In [ ]:
fontes = pd.read_excel(url, sheet_name='fontes')

# Após executar a célula, visualizaremos o dataframe com a função head():

fontes.head()

O retorno será um dataframe com as fontes de onde os dados foram obtidos. Empregando o parâmetro sheet_name, conseguimos fazer o carregamento de diferentes páginas da planilha.

# Parâmetro usecols

Entre outros parâmetros da função read_excel(), existe o usecols, com o qual especificamos as colunas que queremos mostrar. Vamos explorá-lo, a seguir.

Criaremos uma variável chamada intevalo e chamaremos a função read_excel() da biblioteca Pandas.

No primeiro parâmetro, passaremos a URL.

No segundo, definiremos o nome da página, sheet_name='emissoes_C02'.

No terceiro, indicaremos o intervalo desejado, com usecols= 'A:D'.

Como aprendemos anteriormente, as colunas são nomeadas por letras. Ao indicar A:D, selecionamos o intervalo da coluna A até a coluna D:

In [ ]:
intervalo = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D')

# Após executar a célula, vamos consultar o intervalo:

intervalo

Agora, temos um dataframe com 63104 linhas (rows) e apenas 4 colunas (coluns). Ou seja, selecionamos apenas o intervalo com nossas colunas de interesse: o nome do país, o código do país, o ano e o valor total de emissão de gás carbônico.

Definir as colunas é especialmente útil quando temos uma página com mais de uma tabela. Assim, conseguimos selecionar somente o intervalo desejado.

# Parâmetro nrows

Outro parâmetro da função read_excel() é o nrows, responsável por definir a quantidade de linhas exibidas. Para demonstrá-lo, vamos criar uma variável chamada intervalo_2 e chamar read_excel().

Além da URL, do nome da página e do intervalo de colunas, definiremos a exibição de apenas 10 linhas com nrows=10:

In [ ]:
intervalo_2 = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D', nrows=10)

# Após executar a célula, vamos conferir o resultado:

intervalo_2

# Salvando em formato Excel

Anteriormente, consultamos as cinco primeiras linhas do dataframe com os dados per capita com o seguinte comando:

In [ ]:
percapita.head()

Nosso grupo de pesquisa deseja analisar somente os valores per capita, então vamos salvá-los esse arquivo em formato Excel para mantê-los separados.

Em uma nova célula no Colab, vamos usar o nome do dataframe "percapita" e usar a função to_excel() para realizar a escrita no formato Excel.

Dentro dos parênteses, passaremos dois parâmetros. O primeiro será o nome do arquivo que queremos salvar, no caso, co2_percapita.xlsx.

O segundo parâmetro será o index, que estudamos anteriormente. No caso, o deixaremos com valor False:

In [ ]:
percapita.to_excel('co2_percapita.xlsx', index=False)

Após executar a célula, vamos checar onde o arquivo foi salvo. No menu à esquerda, acessaremos na aba "Arquivos" e encontraremos o arquivo co2_percapita.xlsx.

Para fazer a leitura e conferir se deu tudo certo, vamos copiar o seu caminho. Basta clicar nos três pontos no canto direito do nome do arquivo e selecionar "Copiar caminho".

Em uma nova célula, usaremos a função read_excel() e passar o endereço do arquivo:

In [ ]:
pd.read_excel('/content/co2_percapita.xlsx')

Temos um dataframe contendo os dados per capita que acabaram de ser salvos. Temos 630104 linhas e 10 colunas. Conseguimos salvar o arquivo!

Na sequência, vamos aprender como carregar dados no Google Colab a partir do Google Planilhas, usando a biblioteca Pandas.

# Para saber mais: importando no Google Planilhas

O Google Planilhas é uma ferramenta de planilha eletrônica baseada em nuvem que permite criar, editar e colaborar em planilhas de forma fácil e conveniente. É um dos aplicativos do Google Workspace que oferece uma alternativa ao Microsoft Excel.

Com o Google Planilhas é possível criar e formatar planilhas, adicionar fórmulas e funções, criar gráficos e tabelas dinâmicas, além de trabalhar com dados em tempo real com outras pessoas.

Ele também suporta a importação e exportação de vários formatos de arquivos, como CSV e XLSX.

Uma das principais vantagens do Google Planilhas é a colaboração em tempo real. Várias pessoas podem trabalhar simultaneamente na mesma planilha, visualizando as alterações simultaneamente.

Isso torna mais fácil trabalhar em projetos em equipe, aumentando a eficiência e a produtividade.

Para importar o arquivo Excel emissoes_CO2.xlsx no Google Planilhas, siga as seguintes etapas:

Abra a página do Google Planilhas e clique em “Acesse o Sheets”.

Faça login em sua conta do Google, se necessário.

Clique em “Arquivo” (File) no menu superior e depois clique na opção “Importar arquivo” (Import).

Clique na guia "Fazer upload" (Upload) e selecione o arquivo que deseja importar.

Você pode clicar na opção Browse para localizar o arquivo no seu computador ou arrastar o arquivo dentro da guia.

Aguarde enquanto o arquivo é carregado. Quando o upload estiver completo, você verá uma mensagem de confirmação e pode clicar em “Importar dados” (Import data).

Após a importação os dados serão exibidos.

Maravilha! Os dados foram importados com sucesso. No próximo vídeo você aprenderá como ler esses dados no Google Colab, utilizando o link de compartilhamento do Google Planilhas.

-------------------------------------------------------------------------

No Google Planilhas, é possível carregar dados no formato Excel e CSV. Uma vez carregados, vamos visualizar as páginas dessa planilha — algo que não tínhamos conseguido fazer no GitHub.

Com a planilha aberta no Google Planilhas, temos as seguintes páginas listadas na parte inferior da interface:

*   emissoes_CO2
*   Item da lista


emissoes_percapita
fontes

-------------------------------------------------------------------------

No Google Planilhas, é possível carregar dados no formato Excel e CSV. Uma vez carregados, vamos visualizar as páginas dessa planilha — algo que não tínhamos conseguido fazer no GitHub.

Com a planilha aberta no Google Planilhas, temos as seguintes páginas listadas na parte inferior da interface:

*   emissoes_CO2
*   emissoes_percapita
*   fontes

# Acessando pelo Google Planilhas

No Google Planilhas, é possível obter o link da planilha e compartilhá-lo com outras pessoas. Além disso, podemos usar esse link para acessar a planilha no Colab!

Ao clicar no botão "Compartilhar" no canto superior direito, será aberta uma caixa de diálogo no centro da tela.

No tópico "Acesso geral", selecionaremos a opção "Qualquer pessoa com o link". Em seguida, clicaremos em "Copiar link" no canto inferior esquerdo, depois em "Concluído" no canto inferior direito.

No Colab, vamos colar o endereço em uma nova célula. No caso, trata-se da seguinte URL:

In [ ]:
# https://docs.google.com/spreadsheets/d/1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog/edit?usp=sharing
# Toda planilha possui um ID para identificá-la. Este ID está presente nessa URL, entre /d/ e /edit?usp=sharing.
# No caso, o ID da planilha é o seguinte:
# 1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog
# Em uma nova célula, criaremos uma variável chamada sheet_id para armazenar esse ID:

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

Para acessar a planilha no Colab, precisaremos alterar alguns trechos da URL. Em uma nova célula, criaremos uma variável chamada url, cujo valor inicial será a URL de compartilhamento até o /d/:

url = https://docs.google.com/spreadsheets/d/

Após /d/, vamos inserir a variável sheet_id entre chaves:

url = https://docs.google.com/spreadsheets/d/{sheet_id}

Para acessar a variável sheet_id nessa URL, empregaremos uma f-string, uma maneira interessante de formatar strings em Python. Basta envolver a URL entre aspas simples e incluir a letra "f" no início:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}'

Assim, todos os elementos que aparecem entre chaves serão substituídos pelas variáveis correspondentes. No caso, o trecho {sheet_id} da URL será substituído pela string que armazenamos na variável sheet_id anteriormente.

Essa prática torna o código mais simples, melhorando sua escrita e a leitura.

A seguir, adicionaremos alguns parâmetros para permitir o acesso à planilha. Vamos colocar uma barra após {sheet_id} e inserir o parâmetro gviz/tq:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq'

O que é esse parâmetro e para que ele serve? Para ter acesso à planilha, é necessário acessar a API de visualização de dados do Google.

API significa Application Programming Interface, isto é, uma interface de programação de aplicações. Elas permitem sistemas diferentes se comuniquem.

No caso, queremos criar a comunicação entre o Google Colab e o Google Planilhas. O parâmetro gviz/tq permite o acesso à API responsável por essa comunicação.

Após gviz/tq, adicionaremos um ponto de interrogação e o parâmetro tqx=out:csv:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv'

Dessa forma, nossos dados serão retornados em formato CSV (que já temos familiaridade, de aulas anteriores). Por fim, incluiremos o símbolo do "e comercial" e a palavra sheet:

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

Assim, todos os dados da planilha serão retornados, incluindo cabeçalho, linhas e colunas. Nossa URL está pronta!

A seguir, vamos verificar se tudo funciona como esperado.

Em uma nova célula, criaremos uma variável chamada dados_co2_sheets. Como definimos que o retorno será em formato CSV, chamaremos a função read_csv() da biblioteca Pandas.

Como parâmetro, passaremos a variável url:

In [ ]:
dados_co2_sheets = pd.read_csv(url)

# Após a execução, vamos consultar as primeiras linhas do dataframe com head():

dados_co2_sheets.head()

Conseguimos retornar o dataframe!

# Retornando outras páginas

Verificamos anteriormente que já três páginas diferentes em nossa planilha, recapitulando:

*   emissoes_CO2
*   emissoes_percapita
*   fontes

Quando trabalhamos com read_excel(), adicionamos parâmetros na função para especificar a página desejada. A seguir, vamos aprender como realizar essa especificação para o Google Planilhas.

Em uma nova célula, definiremos sheet_id com o ID da planilha (que permanece o mesmo):

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'

# Depois, criaremos uma variável chamada sheet_name.

# Com o objetivo de acessar a segunda página, armazenaremos a string "emissoes_percapita":

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'

# Em seguida, vamos declarar a url_percapita, que será igual à f-string que usamos anteriormente.

# Ela já contém o endereço correto com a variável sheet_id:

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# Para especificar a página da planilha que queremos acessar, basta inserir um símbolo de igual ao final da URL,
# seguida da variável sheet_name entre chaves:

sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

# Dessa forma, temos acesso ao ID da planilha e ao nome da página desejada.

# Após executar a célula, criaremos uma variável chamada per_capita_sheets para conferir
# o dataframe com os dados per capita. Vamos chamar a função read_csv() do Pandas e passamos a URL como parâmetro:

percapita_sheets = pd.read_csv(url_percapita)

# Para verificar as primeiras linhas, usaremos o head() novamente:

In [ ]:
percapita_sheets.head()

Temos o resultado esperado! Para finalizar, podemos repetir o processo com a última página da planilha, cujo nome é "fontes".

Podemos copiar a célula em que definimos o ID da planilha, o nome da página e a URL, fazendo as adaptações necessárias. Basta trocar o nome de "emissoes_percapita" para "fontes" e alterar o nome da variável de "url_percapita" para "url_fontes":

In [ ]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

# Após executar a célula, criaremos a variável fontes_sheets e chamaremos a função read_csv(), passando url_fontes como parâmetro:

fontes_sheets = pd.read_csv(url_fontes)

# Por fim, verificaremos as cinco primeiras linhas do dataframe:

fontes_sheets.head()

Conseguimos visualizar as três páginas da planilha, utilizando apenas uma URL do Google Planilhas! Aprendemos a ler e escrever no formato Excel e trabalhamos com dados provenientes do Google Planilhas.

# Desafio: lendo dados de outro link

Chegou a hora de você testar os conhecimentos desenvolvidos durante a aula. Nós temos um link do Google Planilhas que contém dados importantes sobre as emissões de gás carbônico pelo mundo.

O conjunto de dados foi obtido no Kaggle e consiste em emissões de CO2 per capita de todos os países do mundo de 1990 a 2019.

Neste desafio, a sua função é efetuar a leitura desse link do Google Planilhas e depois salvar o DataFrame obtido no formato CSV. Pronto(a) para começar?

Vamos começar criando uma variável que vai receber o ID da planilha.

E onde encontramos esse id? No próprio link. É tudo o que aparece entre d/ e /edit.

In [ ]:
sheet_id = '1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw'

Em seguida, criamos uma variável que vai armazenar o endereço da url, mas podemos facilitar a escrita utilizando uma f string para o sheet_id. Após o sheet_id temos alguns parâmetros que devem ser adicionados.

Nesse primeiro momento, é importante acessar a API de visualização de dados do Google. Isso vai permitir a exibição dos dados da planilha do Google Planilhas no Google Colab.

Então, o parâmetro gviz/tq indica que você deseja acessar o recurso de consulta de dados da API de visualização de dados.

A API também oferece uma forma de recuperar dados da planilha como CSV que é um dos formatos que a biblioteca Pandas pode ler. Por conta disso, indicamos a utilização do parâmetro tqx=out:csv para que os dados sejam retornados no formato CSV. Já o parâmetro sheetrecupera todos os dados na planilha, incluindo cabeçalhos de coluna e linhas de dados.

In [ ]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# Feito isso, podemos ler os dados passando a variável url à função read_csv:

dados = pd.read_csv(url)

Para salvar os dados no formato CSV, basta usar a função to_csv e, entre parênteses, dar um nome ao arquivo adicionando o parâmetro index=False para que uma nova coluna de index não seja adicionada:

In [ ]:
dados.to_csv('dados_emissoes_co2.csv', index=False)

Prontinho! Conseguimos ler os dados do Google Planilhas com a biblioteca Pandas e ainda salvamos o DataFrame que agora pode ser compartilhado com outras pessoas ou usado em análises posteriores.

![img_pandasIO.jpg]()

# Pandas I/O: trabalhando com diferentes formatos de arquivos: fazendo leitura de arquivos CSV - Aula 01

Dados:

*   https://github.com/alura-cursos/Pandas/blob/main/superstore_data.csv
*   https://github.com/alura-cursos/Pandas/blob/main/superstore_data_ponto_virgula.csv

# Lendo arquivos CSV

## Antes de começar…

O Google Colaboratory, ou Colab para abreviar, é uma ferramenta gratuita baseada em nuvem que permite executar e escrever códigos em Python sem precisar de configurações de software e hardware local. É uma excelente ferramenta para executar códigos de análise de dados e outros tipos de projetos de programação.

Para começar a usar a plataforma é necessário que você tenha uma conta no Gmail. Se ainda não tem uma, será necessário criá-la. Depois de fazer login, vá até a página do Google Colab e clique no menu superior em “Arquivo” e escolha a opção “Novo notebook”.

Ele é o ambiente de trabalho do Colab, no qual é possível escrever e executar códigos em Python.

O Colab é executado em servidores do Google, então ele fornece uma máquina virtual na nuvem com recursos como CPU, memória e espaço em disco. Para executar um código, basta escrevê-lo em uma célula de código e clicar no botão “Executar” ou pressionar Shift + Enter.

Para acompanhar o desenvolvimento dos projetos ao longo do curso e reproduzir tudo o que foi feito, você pode fazer o download dos arquivos no GitHub.

Para fazer download de um arquivo de um repositório do GitHub, siga as seguintes etapas:

Vá para o repositório do GitHub que contém o arquivo que você deseja baixar.

Clique no arquivo que deseja baixar para visualizá-lo.

Clique no botão chamado Raw na parte superior da página do arquivo.

O conteúdo do arquivo será exibido em uma nova guia do navegador. Para baixá-lo, clique com o botão direito do mouse na página e selecione "Salvar como" no menu.

Escolha um local no seu computador para salvar o arquivo e clique em "Salvar". O arquivo será salvo no local escolhido em seu computador em seu formato original.

Caso prefira, também oferecemos uma versão dos arquivos em uma pasta compactada, que você pode baixar aqui.

-------------------------------------------------------------------------

Temos um supermercado que está planejando uma liquidação de fim de ano, eles querem oferecer uma assinatura que dá 20% de desconto em todas as compras.

E o time de marketing desse supermercado entende que a melhor maneira de diminuir custos com essa campanha é analisar os dados de compras dos clientes e entender quais teriam mais chances de aderir a essa assinatura e oferecer diretamente a essas pessoas.

Nós temos os dados dessas pessoas lá no GitHub vamos dar uma conferida?

O nome do arquivo é superstore_data.csv. Esse .csv é o formato do nosso arquivo, em breve entenderemos o que é isso.

A tabela é formada por uma primeira linha que é como se fosse um cabeçalho contendo os títulos de cada uma das colunas e, em seguida, temos uma linha para cada cliente.

No canto direito dessa página do GitHub temos um botão intitulado "Raw". Ao clicarmos em "Raw" conseguiremos ver como esses dados estão estruturados de fato, sem nenhuma formatação prévia, são os "dados brutos".

Note que temos valores, tanto palavras quanto números, separados por vírgulas.

Quando temos um arquivo separado por vírgulas, temos um arquivo .csv, que em inglês significa "comma-separated values" (valores separados por vírgula).

In [ ]:
import pandas as pd

# Utilizando a biblioteca Pandas no Google Colab

Vamos para o Google Colab para saber como ler esse arquivo com a biblioteca Pandas.

Acessaremos o Google Colab e nosso ambiente já está conectado, já temos uma célula disponível. O primeiro passo é importar a biblioteca Pandas. Para isso, usaremos o seguinte comando:

In [ ]:
import pandas as pd

Para executar a célula podemos clicar na seta localizada à esquerda ou usar o atalho "Shift + Enter". Vamos executar.

Em seguida, vamos criar uma variável chamada url com o endereço de onde estão os dados brutos do nosso arquivo. Podemos colocar o endereço da URL em que os dados brutos estão dentro aspas simples ou aspas duplas, tanto faz. Aqui vou usar aspas simples. Vamos executar esta célula:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv'

Em seguida, faremos a leitura desse arquivo. Para isso, criaremos uma variável chamada dados_mercado que será igual a pd.read_csv. A read_csv é a função que consegue fazer a leitura de um arquivo .csv.

Vamos abrir parênteses e, dentro deles, passaremos a variável na qual armazenamos o endereço URL dos dados brutos.

In [ ]:
dados_mercado = pd.read_csv(url)

# A função read_csv vai pegar esse endereço que passamos e ler esses dados em um objeto Pandas chamado DataFrame.
# Ele é muito parecido com uma tabela, vamos visualizar isso agora.
# Para visualizar esse DataFrame executaremos o comando:

dados_mercado.head()

A função read() permitiu a visualização das 5 primeiras linhas desse DataFrame.

Quando executamos a célula do comando dados_mercado.head() obtemos  uma tabela contendo os nossos dados. Temos 5 linhas e 22 colunas.

Quais informações nós temos?

O Id de cada cliente, que é um código diferente para cada uma das pessoas; o ano de nascimento; nível de escolaridade; estado civil; rendimento anual; e várias colunas com informações sobre as compras que essas pessoas fizeram no mercado.

Temos bastante informação.

Beleza! Conseguimos abrir esse arquivo .csv utilizando a biblioteca Pandas no Google Colab, mas tem um detalhe: os arquivos .csv nem sempre são separados por vírgulas.

-------------------------------------------------------------------------

Às vezes eles podem estar separados por ponto e vírgula (;).

O que acontece nesse caso? Como podemos fazer a leitura?

Para entendermos isso, preparei um arquivo igual ao que usamos nesse vídeo, mas agora ele está separado por ponto e vírgula. É um arquivo chamado superstore_data_ponto_virgula.csv.


Acesse o arquivo "superstore_data_ponto_virgula.csv neste link".

Se clicarmos no botão "Raw" teremos os dados brutos desse arquivo. Agora vamos entender o que acontece se fizermos a leitura desses dados com o Pandas.

Vamos copiar o endereço URL dos dados brutos de superstore_data_ponto_virgula.csv e executaremos o seguinte comando para criar uma nova variável que conterá esse endereço:

In [ ]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

# Em seguida, criaremos uma nova variável chamada dados_ponto_virgula que será igual a pd.read_csv() passando a url_2.

dados_ponto_virgula = pd.read_csv(url_2)

# Agora, vamos visualizar as 5 primeiras linhas desse arquivo com a função head().

dados_ponto_virgula.head()

Ao executar essa célula, aconteceu alguma coisa muito estranha. Note que não temos separação de colunas. Temos as linhas e as informações estão todas juntas, sem espaço. Muito diferente de como visualizamos antes.

O que aconteceu? Como podemos corrigir isso para quando quisermos ler um arquivo .csv separado por ponto e vírgula?

-------------------------------------------------------------------------

# Para saber mais: erro de encoding - Como resolver?

Giovanna é uma cientista de dados que trabalha em uma empresa de comércio eletrônico. Ela é responsável por analisar os dados de vendas para identificar padrões e tendências que possam ajudar a empresa a tomar decisões informadas.

Recentemente, ela recebeu uma nova tarefa: analisar um arquivo CSV contendo informações sobre as vendas da empresa em um determinado período. Para isso, Giovanna tentou fazer a leitura do um arquivo CSV no Google Colab, utilizando a biblioteca Pandas com o seguinte comando:

In [ ]:
import pandas as pd
df = pd.read_csv('/content/dados.csv')

Em português a mensagem quer dizer UnicodeDecodeError: o codec 'utf-8' não pode decodificar o byte 0xe7 na posição 18: byte de continuação inválido.

# Mas o que isso quer dizer? O que é esse tal de UTF-8?

O erro de encoding ocorre quando a biblioteca Pandas não consegue interpretar corretamente os caracteres de um arquivo CSV. Isso pode acontecer quando ele contém caracteres especiais que não são reconhecidos pela biblioteca Pandas ou quando foi salvo em um formato de codificação diferente do esperado.

Para resolver esse erro, é necessário identificar a codificação correta do arquivo CSV e especificá-la ao carregar o arquivo com a biblioteca Pandas. Essa codificação padrão é o UTF-8, mas em alguns casos, o arquivo pode ter sido salvo com uma codificação diferente, como ISO-8859-1.

O UTF-8 é uma codificação de caracteres universal usada para representar caracteres de diferentes idiomas de forma compatível com a internet e com sistemas de computador em geral. A sigla UTF significa Unicode Transformation Format (Formato de Transformação Unicode) e o número 8 indica que essa codificação associa uma sequência de 1 a 4 bytes (8 a 32 bits) com cada caractere.

A codificação UTF-8 é amplamente utilizada na internet e em sistemas de computador em todo o mundo, pois permite a representação de caracteres de diferentes idiomas em um único conjunto de caracteres. Além disso, essa codificação é capaz de preservar a compatibilidade com outras mais antigas, como ASCII, o que a torna uma escolha popular para a criação e compartilhamento de arquivos de texto.

Pode ser que você esteja pensando neste momento: como será que a Giovanna conseguiu descobrir qual é a codificação do arquivo que ela está tentando ler?

Existem algumas formas para descobrir isso, no entanto, teremos a oportunidade de experimentar uma maneira prática de fazer isso no próprio Google Colab.

Nós podemos usar uma biblioteca chamada chardet para detectar o encoding de um arquivo CSV. Para utilizar essa biblioteca no Google Colab, basta realizar sua importação:

In [ ]:
import chardet

# Em seguida, digitamos o seguinte bloco de código:

with open('/content/dados.csv', 'rb') as file:
    print(chardet.detect(file.read()))

Note que a primeira linha deste código abre o arquivo CSV em modo de leitura binária rb e atribui o objeto de arquivo retornado a uma variável chamada file.

Na segunda linha do código, o conteúdo do arquivo CSV é lido usando o método read() e o resultado é passado para a função chardet.detect(), que retorna um dicionário contendo informações sobre a codificação mais provável do arquivo. O resultado é impresso com a função print() que mostra a codificação e a confiança associada a essa codificação.

Ao executar o código Giovanna obteve o seguinte resultado:

Note que a primeira linha deste código abre o arquivo CSV em modo de leitura binária rb e atribui o objeto de arquivo retornado a uma variável chamada file.

Na segunda linha do código, o conteúdo do arquivo CSV é lido usando o método read() e o resultado é passado para a função chardet.detect(), que retorna um dicionário contendo informações sobre a codificação mais provável do arquivo. O resultado é impresso com a função print() que mostra a codificação e a confiança associada a essa codificação.

Ao executar o código Giovanna obteve o seguinte resultado:

In [ ]:

import chardet

with open('/content/superstore_data.csv', 'rb') as file:
    print(chardet.detect(file.read()))

Note que a primeira linha deste código abre o arquivo CSV em modo de leitura binária rb e atribui o objeto de arquivo retornado a uma variável chamada file.

Na segunda linha do código, o conteúdo do arquivo CSV é lido usando o método read() e o resultado é passado para a função chardet.detect(), que retorna um dicionário contendo informações sobre a codificação mais provável do arquivo.

O resultado é impresso com a função print() que mostra a codificação e a confiança associada a essa codificação.

Agora ela sabe que o arquivo CSV provavelmente possui a codificação ISO-8859-1 com uma confiança de 1.0 Para especificar a codificação correta ao carregar o arquivo CSV com a biblioteca Pandas, é possível usar um parâmetro chamado encoding:

In [ ]:
df = pd.read_csv('/content/superstore_data.csv', encoding='ISO-8859-1')

Desta forma, a biblioteca Pandas irá carregar o arquivo CSV usando a codificação ISO-8859-1, o que vai resolver o erro de encoding. Então, se algum dia você tentar ler um arquivo e surgir esse mesmo erro, lembre-se dessa dica!

Caso queira aprofundar o assunto, deixamos alguns links para materiais que foram utilizados como referência:

Instituto de Matemática e Estatística

*  Instituto de Matemática e Estatística - IME/USP: Unicode e UTF-8
*  IBM: O que é Unicode
*   Kaggle:Character Encodings

-------------------------------------------------------------------------

Nós tentamos ler um arquivo CSV separado por ponto e vírgula e o resultado ficou muito esquisito, as informações apareceram bagunçadas. Vamos resolver isso agora, com a ajuda da documentação da biblioteca Pandas.

Na documentação ,consultaremos a parte que fala sobre a função read_csv().

Existem vários parâmetros que podem ser alterados quando queremso fazer a leitura de um CSV.

Recomendo que você leia essa documentação e explore cada parâmetro. Aqui vamos direto ao ponto, que é o parâmetro sep.

Esse parâmetro é o que mostra qual será o separador do arquivo CSV. A documentação indica que o default, o padrão dele, é a separação por vírgulas. Então, basta alterarmos esse parâmetro.

De volta ao Colab, vamos adicionar uma nova célula de código e criaremos uma variável chamada dados_sem_vírgula que será igual a pd.read_csv(url_2). Em seguida, adicionaremos o parâmetro sep igual a pornto e vírgula. Assim ele vai entender que o separador é ponto e vírgula. Vamos executar esta célula:

In [ ]:
dados_ponto_virgula = pd.read_csv(url_2, sep = ';')

In [ ]:
dados_ponto_virgula.head()

Agora, dados apareceram corretamente no DataFrame. Então, é importante verificar qual é o separador do seu arquivo CSV e indicar no parâmetro sep caso não seja uma separação por vírgula.

Além desse parâmetro temos vários outros que podem ser explorados. Vamos falar sobre alguns deles.

# Parâmetro nrows

Começamos com um parâmetro que é interessante se você quiser visualizar apenas algumas linhas do seu DataFrame é bom para quando temos um DataFrame muito grande e queremos apenas ter uma visualização geral do conteúdo.

Criaremos uma variável chamada dados_primeiras_linhas e dentro do pd.read_csv() passaremos a variável url e o parâmetro nrows igual à quantidade de linha que quero que sejam monstrada, vou colocar apenas 5.

In [ ]:
dados_primeiras_linhas = pd.read_csv(url,nrows=5)

dados_primeiras_linhas

# Parâmetro usecols

Outro parâmetro que também podemos testar agora é um parâmetro que consegue mostrar apenas algumas colunas.

Por exemplo, vamos supor que queremos visualizar os clientes apenas pelo seu id, ano de nascimento e seu rendimento anual.

Para isso, criaremos uma variável chamada dados_selecao igual a pd.read_csv() passando url e usecols, sinal de igual, e dentor de colchetes vamos informar quais colunas queremos visualizar.

Vamos querer as colunas Id, ano de nascimento (Year_Birth) e a coluna do rendimento anual (Income).

In [ ]:
dados_selecao = pd.read_csv(url, usecols=['Id', 'Year_Birth', 'Income'])

In [ ]:
dados_selecao.head()

In [ ]:
# Ou somente:

dados_selecao

Outra dica é que essas colunas que selecionamos podem ser indicadas pela posição ao invés do nome. Lembre-se que em Python começamos a indexar em zero, então as posições começam a partir do zero.

Na tabela original, a coluna do Id seria a coluna 0; a coluna Year_Birth é a coluna 1 e a Income é a coluna 4.

Usaremos o mesmo código, mas com os valores no lugar nos nomes das colunas.

In [ ]:
dados_selecao = pd.read_csv(url, usecols=[0,1,4])

dados_selecao

# Escrevendo arquivos CSV

Exploramos alguns parâmetros da função read_csv(), agora chegou um momento muito especial: como escrever no formato CSV usando a biblioteca Pandas? Como salvar um arquivo no formato CSV?

Por exemplo, nós obtivemos um DataFrame com algumas colunas que selecionamos: ID, ano de nascimento e rendimento anual. Que tal salvarmos esse DataFrame?

# Função to_csv()

Para isso vamos colocar o nome do DataFrame, que está na variável dados_selecao e usaremos a função to_csv(), dentro do parênteses colocaremos entre aspas qual será o nome do arquivo seguido do formato do arquivo.

In [ ]:
dados_selecao.to_csv('clientes_mercado.csv')

Após executar essa célula, para visualizar o arquivo salvo podemos clicar no ícone "Arquivos" do menu lateral à esquerda. Será aberto um painel que vai exibir a estrutura dos arquivos que estamos salvando.

Ao selecionar um arquivo e clicar em "Mais opções" teremos as opções de:

Fazer download

*   Renomear arquivo
*   Excluir arquivo
*   Copiar caminho
*   Atualizar

Nós vamos escolher a opção "Copiar caminho" para entender como fazer a leitura de um arquivo que está salvo no Colab.

Agora, criaremos uma variável chamada clientes_mercado igual a pd.read_csv().

Dentro do parênteses colocaremos entre aspas o caminho que acabamos de copiar:

In [ ]:
clientes_mercado = pd.read_csv('/content/clientes_mercado.csv')

# E vamos chamar clientes_mercado para visualizar o arquivo.

clientes_mercado

Mas agora, aconteceu alguma coisa que causou a duplicação do índice e criou a coluna "Unamed". Será que está faltando adicionar algum parâmetro na hora de criar o arquivo CSV?

Vamos checar na documentação da biblioteca Pandas, na seção do to_csv. Recomendo que você explore e entenda melhor sobre esses parâmetros.

Entre os parâmetro do to_csv, falaremos sobre o parâmetro index, ele tem como default, padrão, a opção true. Ou seja, sempre que não modificarmos esse parâmetro, será adicionada uma nova coluna de index porque o padrão está index=true.

Se mudarmos index para false não teremos a adição dessa coluna. É o que vamos fazer.

In [ ]:
dados_selecao.to_csv('dados_mercado.csv', index=False)

Após executar essa célula, podemos abrir o painel de arquivos e copiar o caminho desse arquivo dados_mercado.csv recém-criado. Vamos tentar visualizar esse arquivo:

In [ ]:
pd.read_csv('/content/dados_mercado.csv')

Agora foi exibido corretamente. Não foi criada uma nova coluna. Então, lembre-se de inserir o parâmetro index=False quando for salvar um arquivo CSV.

# Conclusão

Nesta aula conseguimos ler um CSV, executar alguns parâmetros dentro da função read_csv(), também escrever em CSV.

# Para saber mais: explorando a documentação

A biblioteca Pandas é uma das ferramentas mais poderosas disponíveis para a análise de dados em Python. Ela oferece uma ampla variedade de funcionalidades que tornam o processo de manipulação e análise de dados muito mais fácil e eficiente.

Para aproveitar ao máximo todas as funcionalidades da biblioteca, é essencial explorar a sua documentação, que é extensa e bem organizada, e pode ser facilmente acessada no modo on-line. Confira as indicações:

Função read_csv

*   Função to_csv
*   Função read_csv


Explorar a documentação da biblioteca é importante por diversas razões. Ela pode ajudar a entender como as funções e métodos da biblioteca funcionam e como elas podem ser usadas para analisar e manipular os dados.

Além disso, a documentação fornece detalhes sobre os parâmetros de cada função e exemplos de como eles podem ser usados na prática. Então, busque aprofundar os seus estudos nesses parâmetros das funções read_csv e to_csv e aprenda mais sobre cada um deles.

-------------------------------------------------------------------------

# Desafio: lendo dados com vários parâmetros

Chegou a hora de você testar os conhecimentos desenvolvidos durante a aula.

Temos um arquivo no formato CSV, que foi obtido na página Informações de Saúde (TABNET) - DATASUS.

Este arquivo contém os gastos hospitalares públicos de cada uma das Unidades da Federação brasileira no período de janeiro de 2008 a março de 2021.

Seu desafio aqui será fazer a leitura desse arquivo utilizando a função read_csv da biblioteca Pandas. Alguns parâmetros devem ser adicionados para que a leitura seja feita corretamente. Então, seguem algumas dicas:

Verifique se o arquivo CSV está separado por vírgula ou ponto e vírgula.

1.   Verifique se o arquivo CSV está separado por vírgula ou ponto e vírgula.

2.   A codificação do arquivo é ISO-8859-1.

3.   As três primeiras linhas do arquivo podem ser desconsideradas, pois o cabeçalho só começa na quarta linha.

4.   As 9 últimas linhas também podem ser desconsideradas, pois são apenas informações sobre onde os dados foram obtidos.

5.   Para deletar as últimas linhas é necessário adicionar o parâmetro engine='python'.

Para fazer a leitura do arquivo podemos começar armazenando o endereço em uma variável chamada url:

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/dados_sus.csv'

# Em seguida, podemos ler a url com a função read_csv e adicionar os parâmetros:



*   encoding='ISO-8859-1': tipo de codificação dos caracteres do arquivo. Neste caso, é a codificação ISO-8859-1 que é comum em arquivos de língua portuguesa.

*   sep=' ; ' : separador dos valores no arquivo. Neste caso, é o ponto-e-vírgula (;).

*   kiprows=3: indica que as três primeiras linhas do arquivo devem ser ignoradas, pois não contêm dados relevantes.

*   skipfooter = 9: indica que as nove últimas linhas do arquivo devem ser ignoradas, pois não contêm dados relevantes.


*   engine='python': o motor usado para ler o arquivo é o Python. Isso é necessário quando se usa o parâmetro skipfooter, pois o motor padrão não suporta essa opção.

In [ ]:
dados = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter = 9, engine='python')

# Dessa forma os dados serão carregados com sucesso!

Pandas I/O: trabalhando com diferentes formatos de arquivos: Banco de Dados - Aula 05

Utilizamos dados em HTML e XML, agora temos um novo conjunto de dados para serem lidos.

O time de dados de uma Instituição Financeira possui um arquivo CSV que contém os dados de todos os clientes cadastrados.

Porém, o que eles querem é pegar esse arquivo, colocar em um banco de dados local e a partir dele realizar consultas SQL. Assim será possível analisar dados, obter insights e tomar decisões estratégicas.

Quando falamos sobre banco de dados nos referimos a um sistema de gerenciamento no qual conseguimos armazenar, gerenciar e atualizar dados.

A linguagem trabalhada em banco de dados é a SQL, uma sigla que vem do inglês "Strictured Quert Language" e significa Linguagem de Consulta Estruturada.

Será que conseguimos trabalhar com a criação de um banco de dados local no Google Colab com essas consultas SQL? É possível essa integração?

Sim, é possível. Porém, para isso precisamos importar outra biblioteca, a SQLAlchemy, que permite a criação do banco. É isso que faremos agora.

# Criando um banco de dados local

No Google Colab, criamos uma nova linha de código. Nela, escrevemos import sqlalchemy e executamos a célula.

In [ ]:
import sqlalchemy

Agora, precisamos fazer algumas importações. Na linha de baixo, escrevemos from sqlalchemy import. A primeira importação será create_engine, que serve para criar o motor, ou seja, a conexão com o banco de dados que o fará funcionar.

Na mesma linha, inserimos uma vírgula e a importação MetaData. Essa é uma classe que representa os meta dados do banco de dados, isso inclui informações sobre as tabelas, colunas e outros objetos.

Também importamos a classe Table que representa uma tabela em um banco de dados e é usada para manipular dados em uma tabela específica.

Por fim, importamos a função inspect, que permite inspecionar a estrutura do banco de dados. Em seguida, executamos a célula.

In [ ]:
import sqlalchemy

from sqlalchemy import create_engine, MetaData, Table, inspect

Agora, vamos criar o banco de dados. Para isso, criamos uma variável chamada engine. Dela, chamamos o create_engine( ). Dentro das chaves abrimos aspas simples e escrevemos o banco de dados que será utilizado, 'sqlite:///:memory:'.

Nesse caso, usaremos o SQLite, um banco de dados que vem naturalmente instalado no Google Colab. Nesse trecho de código o memory indica que estamos usando um banco de dados local.

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
engine = create_engine('sqlite:///:memory:')

Nosso banco foi criado, já podemos começar a utilizá-lo.

O próximo desafio é pegar o arquivo CSV e colocar dentro desse banco. Faremos isso na próxima aula.

# Para saber mais: bancos de dados e SQLAlchemy

Bancos de dados são sistemas que permitem o armazenamento, organização e recuperação de informações de forma estruturada e eficiente. Eles são amplamente utilizados em muitas áreas, desde gerenciamento de negócios à pesquisa científica. Um banco de dados bem projetado pode melhorar significativamente a eficiência e a precisão das operações de uma organização.

Existem bancos de dados relacionais e não-relacionais. Os bancos de dados relacionais representam e armazenam dados em tabelas. Já os não-relacionais, também conhecidos como bancos de dados NoSQL (Not Only SQL - Não SQL), usam uma variedade de estruturas de dados, como documentos, grafos ou pares de chave-valor.

Python oferece vários pacotes e bibliotecas para trabalhar com bancos de dados, incluindo SQLite, MySQL, PostgreSQL, Oracle, MongoDB, entre outros. Um dos pacotes mais comuns usados para trabalhar com bancos de dados relacionais em Python é o pacote sqlite3 que oferece suporte a bancos de dados SQLite. Este banco de dados é leve e incorporado que não exige um servidor separado para ser executado que já vem nativamente instalado no Google Colab.

Para trabalhar com esse banco podemos utilizar a SQLAlchemy, uma biblioteca de mapeamento objeto-relacional (ORM), que possibilita interagir com bancos de dados relacionais usando código Python. Ela fornece uma camada de abstração que permite aos desenvolvedores trabalhar com objetos Python em vez de lidar diretamente com as complexidades da linguagem SQL (Structured Query Language - Linguagem de consulta estruturada).

Uma das principais vantagens do uso de SQLAchemy é a capacidade de criar código mais legível e fácil de manter. Com SQLAlchemy, as operações do banco de dados são executadas usando métodos em objetos Python, tornando o código mais claro e menos propenso a erros.

Além disso, a SQLAlchemy oferece suporte a consultas complexas em bancos de dados, permitindo que pessoas desenvolvedoras extraiam facilmente informações relevantes de grandes conjuntos de dados. Isso é especialmente útil em aplicações que precisam lidar com grandes quantidades de dados.

Você pode encontrar mais detalhes sobre a biblioteca SQLAchemy na [documentação](https://)

# Escrevendo em um banco de dados

Agora, nosso desafio é escrever no banco de dados local. Para isso, no GitHub, clicamos no arquivo clientes_banco.csv. Depois, no centro da tela, clicamos em "View raw" para acessarmos os dados brutos.

Feito isso, abre uma nova página. Copiamos o link e voltamos para o Google Colab.

# Escrevendo em um banco de dados

Em uma nova linha, criamos a variável url. Inserimos o símbolo de igual, seguido de duas aspas simples. Dentro dela, colamos o link. Em seguida, executamos.

In [ ]:
#Código omitido

url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

Para fazer a leitura do arquivo, fazemos um import pandas as pde executamos a célula.

In [ ]:
import pandas as pd

Agora, vamos criar uma variável chamada dados. Ela será igual a pd.read_csv(url).

In [ ]:
dados = pd.read_csv(url)

Para entender o que temos nesse conjunto de dados, faremos a leitura das 5 primeiras linhas. Para isso, escrevemos dados.head( ) e executamos:

In [ ]:
dados.head()

São várias informações dos clientes da instituição financeira.

Para colocá-las no nosso banco de dados utilizaremos a função dados.to_sql( ), que deixará o dataframe no formato do banco. Dentro do parênteses, colocamos duas aspas simples e definimos o nome da tabela que será criada. Nesse caso será 'clientes'.

Na mesma linha inserimos uma vírgula e escrevemos a variável engine, que é o motor do banco. Por fim, escrevemos o parâmetro index=False.

Lembrando que se não inserirmos esse parâmetro sempre será criado uma nova coluna de index.

In [ ]:

# Ler os dados da tabela

clientes = pd.read_sql_table('clientes', engine)

# Mostrar os dados

print(clientes.head())

Pronto, passamos os arquivos para o to_sql().

Mas, como sabemos se a tabela foi realmente criada no banco de dados?

Lembra que anteriormente importamos uma função chamada Função Inspect? Vamos utilizá-la novamente para inspecionar o banco de dados.

Criamos uma variável chamada inspector. Inserimos o símbolo de igual seguido da função inspect(). Dentro dela, vamos passar o engine e executar a célula.

Dessa forma, conseguimos verificar o que temos no banco de dados e inspecionar algumas informações.

In [ ]:
dados.to_sql('clientes', engine, if_exists='replace', index=False)

In [ ]:
#Código omitido

inspector = inspect(engine)

Agora, podemos printar o nome das tabelas que temos dentro do banco de dados. Para fazer isso, escrvemos print( ). Em seguida, passamos o inspector.get_table_names( ), essa função devolve os nomes das tabelas que estão dentro do banco de dados.

In [ ]:
print(inspector.get_table_names())

Ao executar a célula temos o seguinte resultado:

['clientes']

Essa é a tabela clientes que criamos anteriormente. Isso significa que deu certo.

A seguir descobriremos como fazer consultas SQL. Até lá!

In [ ]:
print(clientes.head())

# Para saber mais: cláusulas SQL

SQL (Structured Query Language - Linguagem de consulta estruturada) é uma linguagem de consulta utilizada em bancos de dados relacionais para inserir, atualizar, consultar e gerenciar dados.

Para fazer tudo isso,existem as cláusulas SQL, que são componentes fundamentais das instruções SQL, permitindo especificar detalhes sobre como a consulta ou a operação de banco de dados devem ser executadas. As cláusulas são usadas para filtrar, classificar, agrupar e limitar os resultados das consultas.

As instruções SQL podem ser compostas por uma ou mais cláusulas que fornecem informações adicionais sobre o que a consulta deve fazer. As cláusulas mais comuns são:

 - SELECT: especifica quais colunas devem ser selecionadas na consulta.

 - FROM: especifica as tabelas do banco de dados que devem ser consultadas.

 - WHERE: filtra os resultados da consulta com base em uma ou mais condições especificadas.

 - ORDER BY: classifica os resultados da consulta em ordem crescente ou decrescente com base em uma ou mais colunas.

 - GROUP BY: agrupa os resultados da consulta com base em uma ou mais colunas.

 - LIMIT: limita o número de linhas retornadas pelos resultados da consulta.

Temos um exemplo simples de sintaxe SQL que usa o comando SELECT para consultar dados de uma tabela de colaboradores(as) em um banco de dados:

In [ ]:
SELECT nome, sobrenome, salario

FROM colaboradores

WHERE departamento = 'vendas'

Nessa instrução SQL, a cláusula SELECT é usada para especificar as colunas que se deseja consultar da tabela "colaboradores", incluindo "nome", "sobrenome" e "salario". A cláusula FROM é usada para especificar a tabela que se deseja consultar, que é "colaboradores" neste caso.

A cláusula WHERE é usada para filtrar os resultados da consulta com base em uma condição especificada. Neste exemplo, a condição é departamento = 'vendas', o que significa que a consulta retornará apenas as pessoas colaboradoras que trabalham no departamento de vendas.

No próximo vídeo vamos aprender a usar algumas dessas cláusulas para realizar as primeiras consultas SQL na tabela que contém os dados de clientes de uma instituição financeira.

# Lendo uma consulta SQL

Criamos uma tabela chamada Clientes que possui as informações das pessoas cadastradas na instituição financeira.

Agora, descobriremos como acessar essas informações por meio de consultas SQL.

Para isso, criamos uma variável chamada query. Inserimos o símbolo de igual e duas aspas simples.

In [ ]:
query = ''

Dentro das aspas escrevemos exatamente o que queremos consultar em SQL. Nesse caso, o que o time de dados quer é separar as pessoas que estão com a categoria de renda preenchidas como "Empregado", ou seja, só as pessoas que estão trabalhando no momento.

Quando trabalhamos com SQL utilizamos cláusulas, ou seja, palavras que possuem funções específicas para a consulta.

Lembrando que em SQL as cláusulas são escritas em caixa alta.

Sendo assim, após as aspas, escrevemos SELECT seguido de *. Esse asterisco indica que queremos selecionar todas as colunas da tabela.

Agora, precisamos especificar qual tabela é essa. Então, após * inserimos a cláusula FROM clientes.

Na mesma linha, escrevemos a cláusula WHERE, que filtra as informações, seguido do nome da coluna que queremos consultar Categoria_de_renda. Logo após escrevemos ="Empregado" e executamos.

Estamos pedindo para selecionar todas as colunas da tabela clientes na qual a categoria de renda seja igual a "Empregado".

In [ ]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda="Empregado"'

Para ler uma consulta em SQL criaremos a variável empregados = pd.read_sql( ). Dentro do parêntese, passamos a consulta e o motor do bando de dados, query, engine. Em seguida, a executamos.

In [ ]:
empregados = pd.read_sql(query, engine)

Agora, na linha de seguinte, escrevemos empregados e executamos a célula. Feito isso, temos o seguinte retorno:

In [ ]:
empregados = pd.read_sql(query, engine)

empregados

## Conseguimos fazer nossa primeira consulta SQL!

Para salvá-la como uma nova tabela escrevemos empregados.to_sql( ). Dentro do parêntese inserimos aspas simples e dentro dela escrevemos empregados. Adicionamos uma vírgula e passamos o parâmetro con=engine seguido de index=False e executamos.

In [ ]:
empregados.to_sql('empregados', con=engine, index=False)

Utilizamos o read_sql para lermos uma consulta, mas e se quisermos ler uma tabela inteira como a que acabamos de salvar?

Para isso, utilizamos a função pd.read_sql_table( ). Dentro do parêntese inserimos aspas simples, seguido do nome da tabela que queremos executar 'empregados' e engine. Executamos em sequência.

In [ ]:
pd.read_sql_table('empregados', engine)

Lembre-se sempre dessa diferença, o read_sql permite ler uma consulta e o read_sql_table uma tabela completa.

Além disso, também podemos inserir outros parâmetros, como especificar quais colunas queremos que sejam lidas.

Para testarmos, copiamos a mesma linha de código que escrevemos anteriormente e colamos em uma nova linha.

Depois de engine, adicionamos o parâmetro colums=[ ]. Dentro de colchetes adicionamos aspas simples e dentro delas adicionamos as colunas que queremos visualizar, sendo: 'ID_cliente', 'Grau_escolaridade', 'Rendimento_anual'.

In [ ]:
pd.read_sql_table('empregados', engine, columns=['ID_Cliente', 'Grau_escolaridade', 'Rendimento_anual'])

A partir disso o time de dados já pode fazer algumas análises.

Mas, e se algum cliente não estiver mais cadastrado na instituição financeira ou tiver seu rendimento anual atualizado?

Na próxima aula aprenderemos como realizar alterações nesses dados.

# Antes de atualizar o banco de dados…

No próximo vídeo, vamos aprender como realizar algumas modificações nos dados. Porém, é importante dizer que foram implementadas algumas atualizações recentes na biblioteca que usamos, a SQLAlchemy.

Para garantir que você consiga chegar nos mesmos resultados apresentados no vídeo, precisamos abordar os métodos atualizados para interação com o banco de dados.

Após ler todos os registros da tabela clientes, é fundamental iniciar importando a função text do SQLAlchemy. Esta função é essencial para criar e executar expressões SQL literais dentro do seu código Python. Ao utilizar text, você pode inserir diretamente instruções SQL que o SQLAlchemy compreenderá e executará:

In [ ]:
from sqlalchemy import text

In [ ]:
# Para deletar um registro na tabela clientes, agora utilizamos a seguinte estrutura:

query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

Vamos quebrar o código em partes para entender melhor cada etapa:

 1. Definição da consulta SQL: Primeiro, definimos o que queremos fazer com o banco de dados em uma string de consulta SQL, armazenada na variável query. Aqui, o comando DELETE é usado para remover o registro de um cliente específico, identificado pelo ID_Cliente=5008804.

 2. Estabelecendo conexão com o banco de dados: Usamos with engine.connect( ) as conn para abrir uma conexão com o banco. O with é muito útil porque gerencia automaticamente a abertura e o fechamento da conexão. Isso significa que, após o bloco de código ser executado, a conexão será fechada automaticamente, evitando que recursos sejam desperdiçados ou bloqueios no banco de dados se prolonguem.

 3. Executando a consulta: Dentro do bloco with, executamos a consulta com conn.execute(text(query)). A função text( ) é usada aqui para garantir que a string de consulta seja interpretada como SQL puro.

 4. Confirmar a transação: Por fim, chamamos conn.commit() para confirmar a transação. Isso é crucial porque, em muitos bancos de dados, as alterações feitas (como deletar um registro) não são salvas permanentemente até que sejam confirmadas explicitamente.

Este processo garante que o registro seja removido de forma segura e eficiente, minimizando a possibilidade de erros ou problemas de segurança.

# De maneira similar, para atualizar informações de um registro, como o grau de escolaridade de um cliente, você pode proceder da seguinte forma:

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

Aqui, a conexão é estabelecida novamente, a consulta de atualização é executada para alterar o grau de escolaridade do cliente com ID 5008808 para "Ensino superior", e a transação é confirmada.

Estes passos são cruciais para manipular dados de forma segura e eficaz, utilizando as funcionalidades mais recentes do SQLAlchemy. Seguir estas instruções ajudará a assegurar que você obtenha resultados precisos e consistentes, conforme demonstrado no vídeo.

Então, dê play no vídeo a seguir, experimente os códigos e veja como é eficaz trabalhar com essa ferramenta atualizada!

# Atualizando um banco de dados

Existem inúmeras situações no dia a dia que podem precisar da atualização das informações do banco de dados.

Para colocar isso em prática, vamos visualizar novamente os dados da tabela Clientes. Criamos uma variável query, inserimos o símbolo de igual e aspas duplas. Dentro delas escrevemos SELECT * FROM clientes e executamos a célula

In [ ]:
query = 'SELECT * FROM clientes'

Em uma nova linha, escrevemos pd.read_sql( ). Dentro do parêntese passamos nossa consulta query e o motor do banco engine. Executamos a célula.

In [ ]:
pd.read_sql(query, engine)

# Atualizando um banco de dados

Suponhamos que a pessoa de ID 5008804 cancelou sua conta na instituição financeira. Isso significa que ela não faz mais parte do quadro de clientes.

Para tirá-la da tabela precisamos realizar uma consulta. Então, escrevemos query = ''. Dentro das aspas, inserimos a instrução DELETE seguido da cláusula FROM clientes. Agora, especificamos qual cliente será deletado, então, escrevemos WHERE seguido do nome da coluna ID_Cliente e o número do ID 5008804.

Apertamos "Enter" para a linha de baixo. Agora, fazemos um contexto with. Isso garante que a conexão com o banco de dados seja fechada corretamente após a execução da consulta. Depois, usamos o método engine.connect( ), seguido de as conn.

Na linha de baixo, chamamos o conn.execute(query). Em seguida, executamos.

Com isso estamos usando um método chamado connect para estabelecer uma conexão com o banco de dados. Estamos pedindo para executar a query com o método execute que quando chamado, executa a instrução SQL diretamente no banco de dados, usando a conexão estabelecida.

In [ ]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    conn.execute(query)

Agora, vamos conferir se realmente não temos mais o cliente no banco de dados. Ao invés de fazer uma consulta, leremos a tabela clientes inteira.

Para isso, escrevemos pd.read_sql_table( ). Dentro do parêntese escrevemos 'clientes', engine e executamos.

Assim, temos o seguinte resultado:

In [ ]:
pd.read_sql_table('clientes', engine)

Analisando a tabela, percebemos que antes ela começava pelo cliente de ID 5008804. Depois de aplicar o DELET ela começa pelo cliente de ID 5008805. Isso significa que deu certo.

Mas, e se só quisermos atualizar um dado ao invés de apagá-lo?

O cliente 5008808 está com o grau de escolaridade como Ensino médio. Porém, ele fez faculdade e deseja mudar para Ensino superior.

Para isso, em uma nova linha escrevemos a consulta query =''. Dentro das aspas usamos a clausula UPDATE seguido do nome da tabela clientes e a clausula SET.

Após, definimos qual coluna será alterada, então Grau_escolaridade. Inserimos o símbolo de igual, seguido da informação que queremos atualizar entre aspas duplas, nesse caso "Ensino superior".

Definimos onde isso será alterado WHERE ID_Cliente. Inserimos o símbolo de igual e o ID do cliente 5008808.

Agora, copiamos o mesmo código do contexto with que usamos anteriormente e colamos abaixo dessa nova consulta. Em seguida, executamos a célula. Dessa forma:

In [ ]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    conn.execute(query)

Para visualizar se deu certo, leremos a tabela de clientes completa. Escrevemos pd.read_sql_table( ) e dentro do parêntese passamos 'clientes', engine.

In [ ]:
pd.read_sql_table('clientes', engine)

Analisando a tabela, conseguimos identificar que o cliente 5008808 agora consta com o grau de escolaridade como Ensino superior. Deu tudo certo!

Assim, aprendemos a trabalhar com banco de dados local e como realizar consultas SQL.

# Desafio: manipulando um banco de dados

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Você é responsável por criar um banco de dados local de clientes para uma instituição financeira. Temos o arquivo CSV com os dados de clientes.

Sua missão é:

 1. Criar o banco de dados local com a biblioteca SQLAlchemy.

 2. Escrever os dados do arquivo CSV neste banco de dados local.

 3. Realizar três atualizações no banco de dados:

   - Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.

   - Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.

   - Criar um novo registro de cliente seguindo as especificações abaixo:

      - ID_Cliente: 6850985

      - Idade: 33

      - Grau_escolaridade: Doutorado

      - Estado_civil: Solteiro

      - Tamanho_familia: 1

      - Categoria_de_renda: Empregado
        
      - Ocupacao: TI

      - Anos_empregado: 2

      - Rendimento_anual: 290000

      - Tem_carro: 0

      - Moradia: Casa/apartamento próprio
      
Dica importante: Para adicionar um(a) novo(a) cliente à tabela, utilize a cláusula INSERT INTO seguida do nome da tabela e depois especifique entre parênteses os nomes das colunas da tabela. Utilize a cláusula VALUES e, em seguida, passe entre parênteses os novos valores para esse novo registro. Certifique-se de que os valores estejam na ordem correta e no formato adequado para cada coluna.

Para criar o banco de dados local é necessário executar os comandos abaixo.

Esse código consiste em importar a biblioteca sqlalchemy e criar um objeto engine que representa uma conexão com um banco de dados SQLite em memória. O método create_engine é usado para criar o objeto engine e especificar o banco de dados que será usado. Nesse caso, o banco de dados é um banco de dados SQLite em memória, que é criado usando o sqlite:///:memory::

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
engine = create_engine('sqlite:///:memory:')

Em seguida, podemos ler os dados com a função read_csv e escrevê-los no formato do banco de dados com a função to_sql:

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'
dados = pd.read_csv(url)
dados.to_sql('clientes', engine, index=False)

Após a criação da tabela, podemos obter um DataFrame com a função read_sql_table:

In [ ]:
pd.read_sql_table('clientes', engine)

Agora vamos começar as atualizações do banco de dados!

Antes de começar, precisamos fazer a seguinte importação:

In [ ]:
from sqlalchemy import text

# Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000

O código a seguir atualiza o rendimento anual do cliente de ID 6840104 na tabela clientes. Para realizar essa tarefa, usamos uma instrução SQL UPDATE, que permite alterar os dados existentes em uma tabela.

A atualização será feita no campo Rendimento_anual, alterando o valor para 300000.0, mas isso só será aplicado ao registro onde o ID_Cliente é igual a 6840104. O SQL para essa operação é construído e armazenado na variável query.

A execução da query é feita utilizando uma conexão com o banco de dados criada pelo objeto engine. O código segue estas etapas:

 1. Abrir a conexão: Usamos engine.connect( ) para estabelecer uma comunicação com o banco de dados.

 2. Executar a query: O método conn.execute( ) executa a instrução SQL armazenada em query.

 3. Confirmar a alteração: O método conn.commit( ) é chamado para garantir que a modificação seja salva permanentemente no banco de dados. Sem isso, as alterações podem não ser aplicadas.

In [ ]:
query = 'UPDATE Clientes SET Rendimento_anual=300000.0 WHERE ID_Cliente=6840104'
with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

Depois de rodar esse código você pode checar se a atualização realmente aconteceu fazendo a leitura da tabela “clientes”

# Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira

In [ ]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008809'
with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

# Criar um novo registro de cliente seguindo as especificações dadas anteriormente

Quando trabalhamos com bancos de dados, é comum precisar inserir novos registros em nossas tabelas. Para isso, podemos utilizar a cláusula INSERT INTO que nos permite adicionar novos dados de forma prática e rápida.

Para utilizar essa cláusula, primeiro é necessário especificar o nome da tabela na qual o registro será inserido. Em seguida, devemos passar, entre parênteses, os nomes das colunas onde serão adicionados os novos valores. É importante lembrar que a ordem dos nomes deve ser a mesma ordem em que os valores serão passados.

Após especificar as colunas, utilizamos a cláusula VALUES para adicionar os novos valores. Novamente, devemos passar entre parênteses os valores a serem inseridos na mesma ordem em que as colunas foram especificadas. É importante garantir que os valores estejam no formato correto para cada tipo de dado.

Como a query é longa você pode usar ' \ para dizer que o código continua na linha seguinte.

In [ ]:
query = 'INSERT INTO clientes (ID_Cliente, Idade, Grau_escolaridade, Estado_civil, ' \
        'Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, ' \
        'Rendimento_anual, Tem_carro, Moradia) ' \
        'VALUES (6850985, 33, "Doutorado", "Solteiro", 1, "Empregado", "TI", ' \
        '2, 290000, 0, "Casa/apartamento próprio")'

with engine.connect() as conn:
  result = conn.execute(text(query))
  conn.commit()

# Para verificar se as alterações foram feitas, você pode ler a tabela com o seguinte código:

# Nova seção

In [ ]:
pd.read_sql_table('clientes', engine)